[2015-10-08 16:04] nightsh opened #2 "Google Fonts CSP violation"
[code]

[2015-10-08 20:35] #2 closed

[2015-10-08 20:36] nightsh opened #3 "Rails API / Devise account creation"

[2015-10-08 20:36] nightsh opened #4 "Rails API / Devise account confirmation"

[2015-10-08 20:36] nightsh opened #5 "Rails API / Devise account recovery"

[2015-10-08 20:36] nightsh opened #6 "Rails API / Devise account update"

[2015-10-08 20:36] nightsh opened #7 "Rails API / Devise login"

[2015-10-08 20:38] nightsh opened #8 "Set up environments"
* development
* staging
* production
* testing

------

Check:

* API host
* API namespace
* proxy if needed
* console logging options

[2015-10-08 20:39] nightsh opened #9 "Create a deployment task"
* SSH based?
* look for the proper tool (mina again?)
* $tool should create revisions, i.e. not overwrite on deploy

[2015-12-23 00:26] #8 closed

[2016-01-05 06:14] nightsh opened #15 "Add README"

[2016-03-28 09:13] #4 closed

[2016-03-28 09:13] #3 closed

[2016-03-28 09:13] #15 closed

[2016-03-28 09:13] #7 closed

[2016-03-28 09:13] #9 closed

[2016-03-28 09:13] nightsh opened #26 "Fix JS linter errors / warnings"

[2016-03-28 09:15] nightsh opened #27 "Add isOnline property"
Add a small service to check is API is online and broadcast some message to the app. Message should be visible in the frontend and API requests should be disabled with an error notification.

[2016-05-02 22:44] nightsh opened #31 "Kill all views"
Views are deprecated for quite a while now. Still, there are some left in the app, though none **really** needed.

Either replace them with components or just remove if functionality provided can be covered by other already implemented means.

[2016-05-02 22:49] nightsh commented on #31
Also make `ember-legacy-views` disappear from `package.json`.

[2016-05-30 18:37] #31 closed

[2016-06-01 06:41] #6 closed

[2016-10-02 22:26] nightsh opened #47 "Navbar is not responsive"
When resizing the browser window (so the viewport becomes rather narrow), the menu on the left starts collapsing over the UI elements below.
![spectacle m19128](https://cloud.githubusercontent.com/assets/1579997/19024251/6116ce68-8908-11e6-967e-88c494e4d8ce.png)

[2016-10-02 22:30] nightsh opened #48 "Implement the CPV selector as a tree (CPV codes hierarchy)"
This is required in order to eliminate some of the confusion around the UI, especially for users that are not familiar with CPV codes and their structure.

The solution could be related to some API changes in the way the CPV codes payload is served.

[2016-10-02 22:31] nightsh opened #49 "Relationships in the network sidebar appear as IDs, and not named entities"
![spectacle m19301](https://cloud.githubusercontent.com/assets/1579997/19024280/20772cd0-8909-11e6-9d4d-905d1923e93f.png)

[2016-10-02 22:34] nightsh opened #50 "Create README file"
Goals:
- [ ] Explain what the project is
- [ ] Briefly refer to how it works
- [ ] How to install the project locally
- [ ] How to run tests
- [ ] What are the relevant API endpoints

[2016-10-02 22:34] nightsh opened #51 "Create CONTRIBUTORS file"
Explain the project workflow for potential contributors.

[2016-10-02 22:35] nightsh opened #52 "Add licensing information"
- [ ] Frontend project
- [ ] Data obtained from the API (that is cached locally)

[2016-10-02 22:37] nightsh opened #53 "Remove localForage caching where is not needed anymore"
I assume we can let go of some of the cached responses, such as the full list of CPV codes and countries.

[2016-10-02 22:46] nightsh opened #54 "Style the network sidebar"
The sidebar is a bit far away from the design we have in mind.

Attached images of current vs desired:

| Now | Future |
| --- | --- |
| ![spectacle m20730](https://cloud.githubusercontent.com/assets/1579997/19024357/a4f8e4f2-890a-11e6-83fb-df709e1e58ce.png) | ![spectacle m20823](https://cloud.githubusercontent.com/assets/1579997/19024367/cbd195d8-890a-11e6-88f6-c2f424c744d7.png) |

[2016-10-02 22:49] nightsh opened #55 "Style the front page"
There are a number of issue with [the current front page](https://elvis.tenders.exposed) of Elvis:
- [x] The slider only has a dull solid gray background
- [x] After login, some of the interface (the login / sign up forms) disappears without any hints what to do

Ideas are welcome, patches even more :-)

[2016-10-03 06:12] nightsh opened #56 "Elvis footer for non-network routes"
We need a footer with useful links for the project, visible on home, account and query pages.
- GitHub URL
- License
- Terms of use
- Privacy policy (user data)

These might or might not lead to the main WP site, but I feel like we need to have them there.

[2016-11-10 13:32] nightsh commented on #47
Must think of a way to keep navigation usable while being minimized, now we have quite a lot of items at least for logged in users.

[2016-11-17 08:47] nightsh opened #62 "Redirect after log out"
Just a simple redirect to `welcome` soute after logging out. We keep forgetting about it, so I put it here.

[2016-11-17 08:55] nightsh opened #63 "Change the sidebar table component"
So the plan is to try replacing ag-grid with another component. Some of the reasons are:

* it's hard to pass function callbacks to ag-grid, because you have to write them as lambdas and this leads to weird non-Ember scope issues
* for some reason, neither the material theme I have found or the autoresize columns option did work. This led to crazy layout glitches that are somewhat hard to fix
* we

[2016-11-17 08:56] #5 closed

[2016-11-17 08:57] #26 closed

[2016-11-17 09:08] nightsh opened #64 "Network fails loading after transition"
In the following code:

[code]

Given that `model` is a network object having a correct ID, the task is to find out why the transition executes but the network is stuck loading and fix the issue.

Observations:

* network *is* loaded, according to the browser developer tools
* after transition, if you hit a page refresh, it loads fine
* it might be a race condition or an improper binding
* would i

[2016-11-17 09:12] nightsh opened #65 "Implement a loading state for buttons returning promises"
Example: when clicking the button to add CPV codes, it fires up a request on the `/cpvs` backend route. But the UI is not updated at all while the Promise is not fulfilled and might lead to an user spamming the button multiple times. This could further lead to a whole bunch of unneeded requests.

We should use something like async buttons components, but with a twist: they usually work on models a

[2016-11-17 09:16] nightsh opened #66 "Add uniform notifications throughout the application"
We now have three ways of handling notifications:

* using `ember-cli-notifications` addon (the recommended method) by parsing the errors and firing up the corresponding notifications with the received messages
* using inline template items using errors iterations (e.g. on login failed)
* not handling at all (e.g. some cases on registration form)

We need to make them all use the notifications ser

[2016-11-17 11:28] #48 closed

[2016-11-17 14:42] #64 closed

[2016-11-17 15:39] #65 closed

[2016-11-18 18:20] #47 closed

[2016-11-26 15:11] #49 closed

[2016-11-26 15:11] #54 closed

[2016-11-26 15:11] #63 closed

[2016-11-29 11:22] #62 closed

[2016-11-29 17:27] nightsh opened #67 "Login timeout if session expired"
Check with backend Devise settings for how long a session token is valid.

[2016-11-29 17:28] nightsh opened #68 "Front page design improvements"
We definitely lack something on the front page. We might need the eye and hand of a designer for it, but the way it looks now is not terribly inviting.

[2016-11-29 17:32] nightsh opened #69 "Network query builder performance estimator"
Component present on the QB screen, showing:

* contracts count
  (relevant because it directly influences the total number of nodes / edges)
* CPVs selected
  (it often influences how connected things are in a network, which impacts performance)
* some sort of informed guesstimate on how well a network would perform
  (take into consideration browser, version and whatever we might sniff around)

[2016-11-29 17:34] nightsh opened #70 "Network navigation controls"
Some controls to help getting around the network UI:

- [ ] Zoom in
- [ ] Zoom out
- [ ] Permalink
- [ ] Redraw

[2016-11-29 17:36] nightsh opened #71 "Network manipulation controls"
On the network controls, redefine what nodes / edges mean.

NB: This currently has unwanted side effects, such as:

* the process generates a new network
* the old network is left behind
* the URL changes

Might want to rethink the process if these are a problem.

[2016-11-29 17:40] nightsh opened #72 "Ability to rename networks"
Currently we don't have network names. Or we do, but they're not fully implemented.

- [ ] Make the network name an editable field
- [ ] Make sure the model/view get updated accordingly
- [ ] Send the field's value to the backend

[2016-11-29 17:47] nightsh opened #73 "Generate and show thumbnails for networks"
On generating a network, save a thumbnail after the first stabilization.

How I see it (roughly):

* stabilization cycles are done
* canvas gets saved in a PNG into a localForage key
* make sure you're not sending a mountain of pixels (i.e. is not a huge image)
* the result is then POSTed to backend and saved as one of the network's attributes

[2016-11-29 17:48] nightsh opened #74 "Save a modified graph to the network"
This is a end-to-end integration discussion first. Blocked until that happens (will write conclusions here in the meantime).

[2016-11-29 17:50] nightsh opened #75 "Display flags on network sidebar"
On details sidebar we currently don't display flags, even though we have them in the JSON payload for the network.

- [x] display flags
- [ ] test the weird cases (i.e. lots of flags)

[2016-11-29 17:55] nightsh opened #76 "Details page route and template"
From the details sidebar, we should be able to enter the "next level" of digging in the data, which is the details page containing in depth stuff on selected entity.

- [ ] trigger
- [ ] route(s)
- [ ] template(s)

![08-supplier-procurers](https://cloud.githubusercontent.com/assets/1579997/20722168/400d254e-b66e-11e6-8d56-876dd3823308.png)

[2016-11-29 17:58] nightsh opened #77 "Main details on the details page"
This is the top half of the details page template.

* type
* name
* period
* flags
* income
* competition

![07-supplier-contracts](https://cloud.githubusercontent.com/assets/1579997/20722143/29bd13d0-b66e-11e6-8ab7-ca59c42aecf1.png)

[2016-11-29 18:00] nightsh opened #78 "Related entities tables in details page"
Populate a table with the related entities, as in the mock up.

![07-supplier-contracts](https://cloud.githubusercontent.com/assets/1579997/20722194/532e9630-b66e-11e6-97a7-ccaae3172013.png)

[2016-11-29 18:01] nightsh opened #79 "Contracts subroute from the details page"
This should probably be split in two at the moment of fixing:

- [ ] contract details
- [ ] tender details

![09-contract-details](https://cloud.githubusercontent.com/assets/1579997/20722278/9a24a480-b66e-11e6-8a67-a56f4b167bd7.png)

[2016-11-29 18:05] nightsh opened #80 "Clustering UI template"
Build just the template we need for the clustering functionality. Be aware it should present the following:

- [x] layout
- [x] populated list
- [x] filterable list
- [x] draggable elements to the clusters list

![10-network-clustering](https://cloud.githubusercontent.com/assets/1579997/20722375/0a500af6-b66f-11e6-8790-f8f625dc9b65.png)

[2016-11-29 18:07] nightsh opened #81 "Nodes clustering functionality"
Blocked by #80

Cluster nodes together, have them reflected in the rendered network. Ideally without a full redraw.

![10-network-clustering](https://cloud.githubusercontent.com/assets/1579997/20722487/7a38c510-b66f-11e6-95ff-f20447a417c6.png)

[2016-11-29 18:08] nightsh opened #82 "Nodes declustering functionality"
Blocked by #81

Decluster clustered nodes.

![10-network-clustering](https://cloud.githubusercontent.com/assets/1579997/20722505/8b7b4abe-b66f-11e6-840c-144b71b5ce71.png)

[2016-11-29 18:09] nightsh opened #83 "Save manually made clusters"
This is blocked for the moment by:

* #74
* #80
* #81

[2016-11-29 18:12] nightsh opened #84 "Allow the user to set a display name"
...which is a name we'd use throughout all the interface, if set.

@georgiana-b, after you add this to the backend, can you test if it works with the frontend as well? It's implemented but we don't know if it's dead or alive.

[2016-11-29 18:13] nightsh opened #85 "Allow the user to set a country"
Dropdown similar to the query builder, just with one selectable option.

Not urgent, also blocked by the backend at the moment. Has no side effects in the rest of the app as far as I can tell.

[2016-11-29 18:14] nightsh opened #86 "Projects list data preview"
In the project "card" in the listing, make sure we show as much as we can of the following:

- [ ] number of nodes
- [ ] number of edges
- [ ] list of chosen CPV codes

[2016-11-29 18:15] nightsh opened #87 "Projects list metadata preview"
Similar to #86, just related to metadata:

- [x]  name
- [ ]  thumbnail

[2016-11-29 18:16] nightsh opened #88 "Unified loader throughout the app"
- [ ] Consistently use the router loading state to implement loading messages and templates.
- [ ] Use a unique (animated) loader to show all the full page messages.
  - [ ] Ideally, use the loader provided by #107
    - [ ] however, this is not blocking the issue, we could use anything until #107 is fixed :)

[2016-11-29 18:18] nightsh commented on #68
Closing as a duplicate of #55

[2016-11-29 18:18] #68 closed

[2016-11-30 11:47] zufanka opened #89 "Export to graph file"
gexf, gdf .. see [specs on the Gephi website](https://gephi.org/users/supported-graph-formats/)

[2016-11-30 11:49] zufanka opened #90 "Export to csv (and excel if possible)"
Not graph file, but *(de-)clustered* info on the contracts. Potentially useful for users to do further analysis on. Excel not mandatory, but way too many people don't know what a .csv is :)

[2016-11-30 13:57] zufanka opened #91 "CPV selector does not show CPV names in Firefox"
![image](https://cloud.githubusercontent.com/assets/2411066/20754794/e6669eea-b70c-11e6-98e1-101023f4d767.png)

Firefox ver. 50.0 on Fedora 24

[2016-11-30 14:01] zufanka opened #92 ""Back" button doesn't work in the second window of visualization wizard"
![image](https://cloud.githubusercontent.com/assets/2411066/20754961/8934c796-b70d-11e6-9fc8-d06aab0c41fb.png)

Chrome console says:
![image](https://cloud.githubusercontent.com/assets/2411066/20755032/c10d3126-b70d-11e6-9488-2561878a5a96.png)

Firefox firebug says:
![image](https://cloud.githubusercontent.com/assets/2411066/20754994/a6aa0534-b70d-11e6-8577-a938ade59d1e.png)

[2016-11-30 14:05] zufanka opened #93 "CPV selector goes bonkers"
Create a new network > marvel at the beauty > click "New visualization" in the upper menu > Add CPVs >

![image](https://cloud.githubusercontent.com/assets/2411066/20754696/6e5b5f6c-b70c-11e6-8922-ae2ab7202ab3.png)

The same on Chrome and Firefox

[2016-11-30 14:15] zufanka opened #94 "Getting the sidebar to open in Chrome is difficult"
I need to click it multiple times to do anything. I didn't have this problem before.
![image](https://cloud.githubusercontent.com/assets/2411066/20755483/74462e54-b70f-11e6-84e1-f8d0d57ca390.png)

Also maybe better to use a flat bookmark type of thing for this? The arrow is too small to be even noticed I think. More like this:

![image](https://cloud.githubusercontent.com/assets/2411066/20755580/c

[2016-11-30 14:19] zufanka opened #95 "No highlight when clicking on an item from the sidebar"
If I click on a node on the network, I get this:
![image](https://cloud.githubusercontent.com/assets/2411066/20755668/1bcecd84-b710-11e6-9c6d-c37a880bc759.png)

But if I do so on the sidebar, the view centers on the node, but no highlight happens:

![image](https://cloud.githubusercontent.com/assets/2411066/20755694/3314c7c8-b710-11e6-92a3-275f7c42fb4e.png)

Clicking on and edge from the network o

[2016-11-30 14:22] zufanka opened #96 "If 'sum' is chosen as the size of nodes or edges, make the sidebar human readable"
![image](https://cloud.githubusercontent.com/assets/2411066/20755409/27b4b330-b70f-11e6-8082-59533976c707.png)

Preferably adding thousands delimiters and an euro sign before the number.

[2016-11-30 14:24] zufanka opened #97 "Indicate the type of "Value""
Is it possible to adjust the name of the column according to the type?
Or any other way to indicate what are the numbers the user is looking at?

![image](https://cloud.githubusercontent.com/assets/2411066/20755802/92f6094a-b710-11e6-8f8e-707cb19df4b2.png)

would be "Amount"(of contracts) or "Value "(of contracts)

I'm not sure if changing the column name would be a good option given you can chose

[2016-12-01 17:44] #95 closed

[2016-12-01 17:54] zufanka commented on #95
Hey, is this fixed? :) Could you please leave a short comment before you close something (just "fixed" is fine) ? Thanks!

[2016-12-01 18:44] #91 closed

[2016-12-01 19:54] zufanka opened #99 "Formatting of the sidebar out of the borders on "Relationships" (chrome)"
![image](https://cloud.githubusercontent.com/assets/2411066/20810039/4be312f2-b808-11e6-959b-4aafa5fc1296.png)

[2016-12-01 20:01] nightsh opened #100 "Fuzzy match on sidebar filtering"
When you filter something on the sidebar, we currently do a substring search.

For a more effective search, and to help us with our near future clustering needs, we should do a pattern match.

Example:  `A*B*C` matches "ABC", "A.B.C.", "A Bee Cee" etc

OR we can go the regex way, but that'd require more advanced knowledge from our users.

[2016-12-01 20:28] #97 closed

[2016-12-02 12:58] zufanka opened #101 "Creating account issue"
creating an account doesn't work sometimes. After clicking on "Create an account" I get

![image](https://cloud.githubusercontent.com/assets/2411066/20834775/4b6dee52-b897-11e6-8b35-a5cb41e5cafc.png)

Trying with my adrianahomolova@oneworld.nl on Chrome 54.0.2840.100

My colleague also said that once she used a password with a number it worked. Are there restrictions on the password length / types

[2016-12-04 12:31] #99 closed

[2016-12-04 12:31] #96 closed

[2016-12-04 17:34] #94 closed

[2016-12-07 10:11] zufanka opened #102 "Confimation email ending up in spamfolder"
Is there something to do about this? Make it look less like spam? :)

[2016-12-09 17:56] ca1yps0 commented on #93
retest using the staging server staging.elvis.tenders.exposed

[2016-12-09 18:52] #92 closed

[2016-12-09 19:34] nightsh commented on #101
My guess is you entered a short password, a taken email or it was a mismatch between pwd and confirmation. We do have errors in the network tab, will show on the UI as well (had to perform a notification service update before, then got carried away, so thanks for the heads up).

![image](https://cloud.githubusercontent.com/assets/1579997/21061893/088986ee-be57-11e6-9acb-556a3330bc12.png)

[2016-12-10 18:41] #51 closed

[2016-12-10 18:41] #50 closed

[2016-12-10 18:41] #52 closed

[2016-12-10 18:42] #101 closed

[2016-12-10 18:42] #66 closed

[2016-12-10 18:42] #56 closed

[2016-12-10 18:42] #93 closed

[2016-12-11 16:26] nightsh opened #104 ""See details" control for sidebar items"
Currently when we click on a sidebar entity (procurer, relationship etc.), it gets selected on the displayed network.

However, we need to think of a way to show the details for the actor we want. Since click is already assigned to highlighting its subnetwork, we probably want something like a button or a link.

This is more of a design task, not blocking the development of the details route and s

[2016-12-11 16:42] nightsh opened #105 "Contextual menu on sidebar list items"
We need a right click menu for the entities, useful for some future sidebar integrations (e.g. clustering).

[2016-12-11 20:08] zufanka opened #106 "IT is not a part of Real Estate services"
![image](https://cloud.githubusercontent.com/assets/2411066/21082866/ccf03508-bfe4-11e6-916f-b692d82c0c25.png)

these are the 1st level CPV codes that need to be on the top of the tree
`csvgrep -c 3 -r '2|0'` [cpvcodes.csv](https://github.com/opented/opented/blob/master/cpvcodes/cpvcodes.csv)

PLAIN_CODE,REAL_CODE,NAME
3000000,3,"Agricultural, farming, fishing, forestry and related products"
90000

[2016-12-11 20:17] zufanka opened #107 ""Stabilizing" doesn't always look pretty"
![image](https://cloud.githubusercontent.com/assets/2411066/21082973/2346288e-bfe7-11e6-9ae4-b1294edc3456.png)

[2016-12-11 20:18] zufanka opened #108 "Missing zoom in / out buttons"
My colleagues was missing zoom in / out buttons. May be nice to have them somewhere so it's obvious you can do that.

[2016-12-11 20:21] zufanka opened #109 "Missing count by relationships"
![image](https://cloud.githubusercontent.com/assets/2411066/21083007/b484fff0-bfe7-11e6-8bab-56bec7d1a216.png)

[2016-12-11 20:25] zufanka opened #110 "Chose colors for different types of nodes"
I am now drawing a network of Netherlands and Germany for a specific market.
I would like to visually differentiate between the nodes not only as Procurer - Supplier, but also as Netherlands / Germany (and 'both' if one company is active in both markets). This can be useful for the future for other filters and options such as for example marking least competitive companies red or so.

[2016-12-11 20:34] zufanka commented on #101
can we put requirements for password in here?

![image](https://cloud.githubusercontent.com/assets/2411066/21083117/93414e5a-bfe9-11e6-91e6-4fb5995c25f5.png)

[2016-12-12 11:29] zufanka opened #111 "Make additional pages on the website"
- terms & conditions
- about
- data license
- CPV explanation

Talk to Matej about the best design options

[2016-12-13 01:07] #72 closed

[2016-12-13 18:21] nightsh opened #113 "Display flags on network actors"
We need to display the flags for each entity (where applicable) in the sidebar.

For starters, we can just place them at the end of the name string, with a `title` attribute containing the text of the flag, so it would show on mouse over.

For any fancier implementation, we will revisit the flags design in the next milestone. Now we just need to display them, as a first step.

[2016-12-13 18:23] nightsh commented on #107
Will update the loading animation to make it prettier :)

[2016-12-13 18:25] nightsh commented on #108
Closing as a duplicate of #70.

[2016-12-13 18:25] #108 closed

[2016-12-13 18:30] nightsh opened #114 "Ember Data removal?"
We currently use very little of what Ember Data has to offer. Therefore, it just makes sense to wonder whether we need it or not.

Cons:

* more bugs
* heavy dependency
* has a strong bias towards JSONAPI implementations (which we don't have)

Pros:

* easy RESTful actions
* easier to write model validators
* lots of syntax sugar
* nice integration with `ember-simple-auth`

[2016-12-13 22:14] #113 closed

[2016-12-14 09:27] nightsh opened #116 "Query builder: disable year and CPV selectors countries are not selected"
As a user, I want the CPV and years selectors to be disabled when no countries are chosen.

[2016-12-14 09:51] nightsh opened #117 "Link to the CPV codes definition is not working"
On /network/query, there's a link that should he leading to a definition of what they are. It's not going anywhere though, we need to fix it :)

[2016-12-14 14:15] zufanka opened #118 "sorting in the side panel does not work in Safari"
safari 9.1.3.
OSX 10.9.5

sorting on the side panel sometimes  works and sometimes it doesn’t.
I found no errors in the console.

[2016-12-14 17:20] nightsh commented on #118
Oh that's weird. And I don't have a Safari anywhere, need an iThing for it. Bummer.

[2016-12-18 20:53] zufanka commented on #109
Chrome / 54.0.2840.100 (64-bit) / Fedora 24
network ID 5856f5a22dcb56605e000020

[2016-12-18 21:06] zufanka opened #119 "I can't keep only the mother CPV"
I only want to keep only the 7200000 CPV (it's a CPV on it self, and I do not want any others now)
![image](https://cloud.githubusercontent.com/assets/2411066/21296483/2b45b8ca-c56d-11e6-9dc7-1bece5c827a1.png)

but if I uncheck any of the child CPVs, the 7200000 unchecks too.
![image](https://cloud.githubusercontent.com/assets/2411066/21296486/341cd28a-c56d-11e6-8a55-6dba696c9a6a.png)

Idea:
- fir

[2016-12-22 17:30] nightsh commented on #109
I forgot to ask, but was this on staging or production?

[2016-12-22 18:30] zufanka commented on #109
Staging!

On Dec 22, 2016 6:30 PM, "Victor Nițu" <notifications@github.com> wrote:

[2017-01-01 13:19] ca1yps0 opened #120 "Helper to format amounts"

[2017-01-01 13:26] ca1yps0 opened #121 "flags on details supplier from network"

[2017-01-04 09:54] #120 closed

[2017-01-04 09:54] #121 closed

[2017-01-04 09:54] #76 closed

[2017-01-05 13:11] #77 closed

[2017-01-05 13:15] nightsh commented on #87
Linked to tenders-exposed/elvis-backend#31

[2017-01-05 13:19] nightsh commented on #100
Also valid for any filtering we might have (CPVs etc.)

[2017-01-05 13:26] nightsh commented on #27
The corresponding API route for checking its status is `/ping`, as follows:

* HTTP status 200: all fine, it's alive
* HTTP status 4xx / 5xx or anything else: something's wrong

We should display a message in the frontend if the API is offline and disable all XHR powered buttons (all buttons should check with the service if the API is online before firing a request).

This could get messy, as we d

[2017-01-05 13:34] #109 closed

[2017-01-05 16:32] #116 closed

[2017-01-06 00:11] ca1yps0 commented on #119
so i solved the settings for jstree so that only the mother cpv can be selected.
but somehow after selection when returning to previous page & after jstree _refreshSelected: the selectedCodes contains the also the children.

[2017-01-13 21:28] #104 closed

[2017-01-22 17:41] nightsh opened #126 "Add network missing events"
...so we can bind stuff to:

* deselect node
* select edge
* deselect edge

[2017-01-22 17:57] nightsh opened #127 "Stop physics after stabilization"
**ONLY** if the network is big. For small networks it's okay-ish.

[2017-01-22 18:11] nightsh opened #128 "Reorganize styles"
Replicate the structure in `templates/**` in `styles/` directory.

**Update:** reorganized some of the files, these should be further split into smaller bits:

- [ ] `network/show.scss` -> `div#network-container` and children
- [x] `_forms.scss`
- [ ] `_sidebar.scss`

[2017-01-22 18:13] nightsh opened #129 "Use SCSS variables"
We currently have a lot of hardcoded values in our `*.scss` files.

The task here is to extract the values into a `variables.scss` file for all the application files (probably without components' styles)

[2017-01-22 18:44] nightsh commented on #129
![](https://github.trello.services/images/mini-trello-icon.png) [Code cleanup](https://trello.com/c/M2CVhLVW/1-code-cleanup)

[2017-01-22 18:44] nightsh commented on #128
![](https://github.trello.services/images/mini-trello-icon.png) [Code cleanup](https://trello.com/c/M2CVhLVW/1-code-cleanup)

[2017-01-22 18:48] nightsh commented on #126
![](https://github.trello.services/images/mini-trello-icon.png) [elvis-network event](https://trello.com/c/pDzbmfiT/3-elvis-network-event)

[2017-01-22 19:34] nightsh opened #130 "Travis integration"
Make travis:

* test
* lint
* build

Bonus points if we build a Docker image from the frontend and deploy as such. We'll see :)

[2017-01-22 19:34] nightsh opened #131 "Fix tests and linting errors"

[2017-01-22 20:59] nightsh opened #132 "Code cleanup"

[2017-01-22 21:00] #132 closed

[2017-01-22 21:05] nightsh opened #133 "Integrate issues with Trello"
And watch for the description

[2017-01-22 21:08] #133 closed

[2017-01-23 21:11] nightsh opened #136 "Remove dead code"
Kill all dead code with Death

[2017-01-23 21:12] nightsh commented on #53
Potentially linked to #136

[2017-01-29 12:45] nightsh commented on #102
We have no reputation on sending emails, good or bad, since our domain is quite new. I think we need to let Google get used to it for a while.

In the meantime, double checking everything works flawlessly is the best I can do. It has no thing to do with the frontend, however. Closing it :-)

[2017-01-29 12:45] #102 closed

[2017-01-29 12:46] nightsh commented on #102
We also took action on backend issue tenders-exposed/elvis-backend#34

[2017-02-09 19:56] nightsh opened #137 "Implement Elvis traffic statistics"
Implement Piwik analytics on the Ember frontend

[2017-02-26 19:16] #53 closed

[2017-03-04 21:16] nightsh opened #145 "Add helper to format number"
Transform e.g. 1234000 into 1.234 M

[2017-03-07 17:05] #128 closed

[2017-03-11 19:25] #114 closed

[2017-03-11 19:25] #129 closed

[2017-03-11 19:29] #136 closed

[2017-03-11 19:30] nightsh commented on #127
https://github.com/almende/vis/issues/161

[2017-03-11 19:37] #105 closed

[2017-03-11 19:37] nightsh commented on #105
WONTFIX

[2017-03-11 19:43] nightsh opened #146 "Adjust supplier / procurer details page"
According to the design we have. Tweaks and styling, mostly, hopefully.

[2017-03-12 17:39] nightsh opened #149 "Restructure network routes"
According to [this pad](https://pad.tenders.exposed/s/BkUIE0bix) we will have the routes nested like this:

[code]

[2017-03-12 20:54] #145 closed

[2017-03-12 20:55] nightsh opened #151 "Create static pages"
Create all static pags we need in the frontend:

* about
* terms & cond
* ?

[2017-03-12 20:56] nightsh opened #152 "Extract sign in / sign up templates from the front page"
...according to the design we have.

[2017-03-16 16:34] zufanka commented on #117
duplicate?

[2017-03-18 17:09] #117 closed

[2017-03-18 17:09] #146 closed

[2017-03-23 13:53] #151 closed

[2017-03-26 14:13] zufanka opened #160 "Filtering out red flags of corruption"
"Users will also be able to see and filter out various red flags of corruption from the network, to focus on their interests."

- frontend: design + implementation

[2017-03-26 14:25] zufanka opened #161 "Trendline in detail view"
A trend line in the detailed view of _supplier, procurer_ and _relationships_ of:
- contracts awarded
- sum of contracts awarded (depending on the choice of what edges/ nodes are)
- if in one year the supplier / procurer had a lot of contract with red flags, use a different color (gradient)

needs to be designed as well

[2017-03-26 14:34] zufanka opened #162 "Company- centric networks"
Company centric networks with 2 levels of distance:

Company(ies) -> who is it working for -> other companies working in _the same markets_ as the chosen company(ies) for these institutions.

[discussion](https://talk.tenders.exposed/t/company-centric-networks/54)

[2017-03-26 14:40] zufanka opened #163 "Options to reduce network size"
We could give the user choices before rendering network that would make it more manageable.

I imagine this coming as check-boxes in the second menu together with the edges/ nodes sizes

- don't show pairs with a weighted degree of 1 between them and no other connections within the network
- don't show procurers/companies with a weighted degree of 1 (only one contract in the whole network)

More h

[2017-03-26 14:40] zufanka opened #164 "Improved performance of network rendering"
goals is a maximum of 1 minute

Related issues:
[Stop physics after stabilization](https://github.com/tenders-exposed/elvis-ember/issues/127)
[Options to reduce network size](https://github.com/tenders-exposed/elvis-ember/issues/163)

[2017-03-26 14:44] zufanka opened #165 "Additional filtering"
Additional filtering that could be put in place once the network is drawn.
Once clicked on, the user will only see:

- framework agreements
- tenders that were subcontracted
- tenders where amendments were made to
- price / quality ratios (as a slider?)

[2017-03-26 14:48] zufanka opened #166 "Visualize contracts in tabular format"
I believe we already have that right?
Would be this

![image](https://cloud.githubusercontent.com/assets/2411066/24332263/d7694f0e-1243-11e7-8eaa-e7e9d8c49889.png)

Issue put in in here for the overview, can be closed

[2017-03-26 14:48] zufanka commented on #166
done

[2017-03-26 14:48] #166 closed

[2017-03-26 14:54] zufanka opened #167 "anonymous users will be allowed to create networks"
anonymous users will be allowed to create networks
These networks will be deleted as soon as the user closes the browser window

[2017-03-26 14:55] zufanka opened #168 "Create a set of public networks"
for people to marvel upon

[2017-03-26 15:00] nightsh opened #169 "Open sidebar before data is ready"
Currently, there's a bit of waiting involved after you attempt to open the sidebar. That's because the payload for it is not ready and the app first does that, then renders the sidebar template.

The solution is to find the best way to render the sidebar, load the data while displaying a loader, then render the rest of it.

[2017-03-26 17:41] #70 closed

[2017-03-26 17:41] #127 closed

[2017-03-26 17:41] #169 closed

[2017-03-28 11:14] ca1yps0 opened #172 "box-details edges"

[2017-03-28 12:24] nightsh opened #173 "Copy static pages from WP into Elvis templates"
...so we can nuke the Wordpress website and move Elvis on the root domain.

List of pages to be ported to handlebars templates inside Elvis:

* https://tenders.exposed/
* https://tenders.exposed/about/

Images could be resized (if needed) and stored in `public` directory of the project. We mostly care about the sponsors logos, as the front page will be completely redesigned.

Routes are created an

[2017-03-28 12:30] nightsh opened #174 "Change Elvis on root domain"
Blocked by #173

- [ ] Remove Wordpress
- [ ] Change Elvis on https://tenders.exposed
- [ ] Redirect elvis.tenders.exposed requests to the new address so we won't break bookmarks

[2017-03-28 20:14] nightsh commented on #173
Small comment: home page will be **empty** soon, after I push the new sign in / sign forms. Just clear the whole `welcome` template and start from scratch :wink:

[2017-03-30 11:09] #172 closed

[2017-03-30 11:09] #100 closed

[2017-03-31 08:21] nightsh opened #178 "Rethink the build/deployment system"
We currently have:

* code analysis provided by Codacy
* Heroku integration

We want:

* CI from Travis
* our own server to build and deploy locally

Ideally, when a PR is submitted, the following will happen:

* Codacy will scan the code
* Travis will attempt a build
  * If successful, Heroku will build and deploy
    * PRs to create review apps
    * `develop` branch will get built on the develo

[2017-03-31 08:27] nightsh opened #179 "Create a build shell script"
The script should be run by our github listening service (see #178) and should do the following things:

* trigger a production build
* if successfully exited, move it to a new folder in the deployment target (example of name `2017-31-03-321564383432-f32ab245` = date + timestamp + short commit hash)
* move the `htdocs` symlink target to the newly created build
* keep the latest `n` builds (configu

[2017-03-31 20:27] nightsh opened #180 "Tidy up content on welcome page"
- [ ] clean up text
- [ ] place appropriate targets on buttons and links

[2017-03-31 20:27] nightsh opened #181 "Tidy up content on welcome page"
- [ ] clean up text
- [ ] place appropriate targets on buttons and links

[2017-04-01 15:04] #173 closed

[2017-04-01 15:06] nightsh opened #182 "Add a footer"
According to the design we have.

This and #181 will unblock #174.

[2017-04-02 13:03] #152 closed

[2017-04-02 13:03] #119 closed

[2017-04-02 13:03] #182 closed

[2017-04-02 13:03] #180 closed

[2017-04-06 18:22] nightsh opened #185 "Clean up public folder"
- [x] `/assets/` directory is a mess (duplicated or unneeded files)
- [x] extra images in root `public` folder
- [x] look at the fonts, some of them (all?) might need to go away
- [x] tidy up a bit

[2017-04-06 18:42] chutko commented on #107
i will design something

[2017-04-07 14:39] chutko commented on #185
im currently working on the cleanup concerning junk in javascript, fonts, images and styles. i will summarize my suggestions here to discuss them before actually deleting or moving something.

### Summary
brief structure of the ember app (concerning styles, images, fonts and js libraries)
*/bower-components/*: contains all dependencies and plugins managed by _bower_. we do not touch this
*/vendor/

[2017-04-11 17:23] #55 closed

[2017-04-13 12:58] chutko commented on #185
i did some cleanup. its in separate branch:
`git checkout cleanup`

1. first three tasks (jstree+photonui) im leaving to you victor, i dont wanna mess it up.
2. deleted roboto fonts. included fonts from CDN via <link> attribute in index.html. added TODO for including the right subset according to country
3. installed ember-cli-spinkit https://www.npmjs.com/package/ember-cli-spinkit
however, `ember

[2017-04-16 15:59] #174 closed

[2017-04-16 15:59] #181 closed

[2017-04-16 20:08] nightsh commented on #106
Temporarily blocked by tenders-exposed/elvis-backend#38

[2017-04-16 20:09] nightsh commented on #86
Temporarily blocked by tenders-exposed/elvis-backend#37

[2017-04-16 20:14] nightsh commented on #111
Wouldn't be better to group all the nerdy things in one page: t&c, licenses, glossary, methodology?
Can't really figure out a name for it, and I'm not gonna think about it unless it's a popular enough idea :)

I'm favouring longer and richer pages than scattered information. We can even have more links than pages, say the four above would be four different links leading to different sections of th

[2017-04-16 20:17] nightsh commented on #179
Blocked by #178

[2017-04-16 20:18] nightsh commented on #161
Temporarily blocked by tenders-exposed/elvis-backend#37

[2017-04-16 20:18] nightsh commented on #130
blocked by #178

[2017-04-16 20:20] nightsh commented on #107
Blocked by #88. Loader isn't consistent at the moment, once we have the same loader throughout the app we can implement a design. Nothing stopping us from designing one in the meantime, though, but I'm afraid there would be some implementation constraints we're not aware of yet.

[2017-04-16 20:21] nightsh commented on #85
Blocked by tenders-exposed/elvis-backend#19

[2017-04-16 20:21] nightsh commented on #84
Blocked by tenders-exposed/elvis-backend#19

[2017-04-16 20:22] nightsh commented on #75
We need to test potential weirdness of the flags. For example on an item with 10 flags. If it doesn't break it, then we can safely close this.

[2017-04-16 20:23] nightsh commented on #73
Blocked by tenders-exposed/elvis-backend#31

[2017-04-16 20:24] nightsh commented on #87
Closing as duplicate of #73 and #86.

[2017-04-16 20:24] #87 closed

[2017-04-16 21:27] nightsh opened #188 "Implement page titles for every route"
As the title says, we should be having a mechanism for showing un in the page title... which page you're on.

I firstly imagine this implemented into routes' `setupController` hook, setting up a `pageTitle` property on the controller. We can easily show that up in one place, into the `application.hbs` master template.

Should be an easy fix / low hanging fruit. Avoid rabbit holes and keep it simpl

[2017-04-16 21:54] nightsh opened #189 "Adjust content on front page (part 2)"
- [ ] the two big button links
  - [ ] Use ready-made network
  - [x] Create a new network
- [ ] Sign up for newsletter
- [x] Twitter (in footer)
- [x] Links on partners (maybe w/ some help from @zufanka?)
- [x] fix typo on footer below the Elvis logo s/spendig/spending/
- [x] remove "lorem ipsum" stuff

-----

- [ ] also a small one on "About" page: change contact email to tech@tenders.exposed

[2017-04-16 21:56] nightsh opened #190 "Redirect old links to the new"
- [x] old links targeting elvis.tenders.exposed/whatever should now be point towards tenders.exposed/whatever
- [ ] after #149 is done (blocking issue), old links from the old routes should point to the new ones

[2017-04-17 13:17] nightsh opened #192 "Disable all API requests when `isOnline` returns false"
Blocked (and heavily influenced) by #27

This will disable all UI elements making API calls if the API is not online. Of course, we also need to let the user know about it in a sensible way.

[2017-04-17 13:42] nightsh commented on #178
Ready to implement a PoC for the following:

* Create a new project
  * Express app, listening for GitHub triggers on a specific port/route
  * Will act on requests as we wish
  * Will send a response back to GitHub
* Hook a GitHub custom integration to trigger it on:
  * PRs
  * Code merges
    * to `develop`
    * to `master`
  * Manual triggers (if possible)

Should be really small, just to tak

[2017-04-17 13:51] nightsh commented on #130
Unblocking. Will only enable build for now. The other aspects (testing, containers etc. will be enabled gradually when available).

[2017-04-17 14:17] #130 closed

[2017-04-17 18:58] nightsh opened #194 "Add tooltips"
- [ ] Define all the tooltips to be added
  * content
  * position
- [ ] Implement the tooltips

[2017-04-17 19:00] nightsh opened #195 "Move the login form"
We need to disable the `login` route. It's messy and ugly and it shouldn't exist.

Instead, we can either use `ember-tether` to spawn the form near the login menu button, or just add it as a modal.

We can use a query string param to add it on any page. Let's say, if you load a page adding `?login` to it, it would pop up the login form.

[2017-04-18 09:26] nightsh opened #196 "Remove Ember spinkit"
Kill it with Death

Linked to #185

[2017-04-18 22:27] zufanka opened #198 "Missing DNI from sponsors list"
[DNI logo](https://blog.sourcefabric.org/images/cache/600x300/crop/images%7Ccms-image-000003660.png) has been forgotten from the bottom part of the footer

[2017-04-19 10:20] nightsh opened #199 "Investigate Emblem.js"
http://emblemjs.com/

See if there's any missing feature. Evaluate if we can use it safely instead of plain HTML.

If it's okay, then it would be nice to allow Emblem and Handlebars templates to run side by side, so we'd avoid making a huge initial effort to translate templates.

This task is to evaluate it only, as well as the above possibility of running both Emblem and Handlebars.

[2017-04-22 15:53] nightsh opened #201 "Create relationship view"
When clicking on a relationship, one should be a ble to see it in a similar fashion to supplier/procurer pages.

[2017-04-23 15:48] nightsh opened #202 "Add network description"

[2017-04-28 14:16] zufanka opened #204 "Query builder - "ADD CPV CODE" should be not clickable before chosing country"
.. because if I do it loads forever

[2017-04-28 14:37] zufanka opened #205 "Create an automatic title for networks based on the query"
**Query:**
Germany
2005-2016
CPV: 4880000 Servers; 2881000 Information Systems

If more than one CPVs are selected, just take the name of the biggest one (if possible).
Do we also know how many CPVs were chosen?

**Title suggestions:**
[flag of Germany] | 2005-2016 | Servers and 1 other
GE | 2005-2016 | Servers and 1 other

[2017-04-28 16:09] nightsh commented on #205
Blocked by #188.

[2017-04-30 10:59] #202 closed

[2017-04-30 16:14] zufanka opened #207 "Static pages changes"
_about.hbs_ -> content **updated**
_contact.hbs_ -> content **updated**
_examples.hbs_ -> what is the difference with gallery? to be **removed**
_features.hbs_ -> to be **renamed** to _faq_ . We can put everyhing in there (what am I looking at, where is the data from, what is a network, what is a node etc)
_gallery.hbs_ -> what is the difference with examples? **To be updated** as soon as we have

[2017-05-01 14:10] nightsh commented on #199
Will move it to "blocked" for now, waiting for some updates on [this addon](https://github.com/Vestorly/ember-cli-emblem) or on the [supported installation methods](http://emblemjs.com/installation/) for Emblem. We could unblock it around next milestone, and attempt to create an `ember-cli-emblem` addon ourselves, but I wouldn't go on such an adventure unless almost sure it's worth it :)

[2017-05-02 11:46] #149 closed

[2017-05-03 08:05] nightsh opened #210 "Upgrade to Node 7.x"
- [ ] Remove Node 6 from Travis config
- [ ] Adjust `package.json`
- [ ] Adjust (developer) docs
- [ ] Check if Heroku is okay with this

[2017-05-04 20:47] zufanka commented on #165
Not going down this rabbit hole for now.

[2017-05-04 20:47] #165 closed

[2017-05-08 08:06] nightsh commented on #106
Unblocked, fixing in progress.

[2017-05-08 10:49] #185 closed

[2017-05-08 10:49] #196 closed

[2017-05-08 10:49] #210 closed

[2017-05-10 10:26] chutko commented on #107
i think we should consider the whole loading throughout the system in this issue. three types of *loading* elements come to my mind:
1. small component loading - for cases when just a single component is (re)loading, for example button of submitted form waiting for response.
example: http://codepen.io/jmalatia/pen/HkmaA
2. page/big area loading - when whole screen or big content area is being load

[2017-05-10 10:32] chutko commented on #207
examples and gallery are meant to be the same thing. we should just agree on how will we call it :) for now, i have used examples.hbs for demonstrating how various html tags and components look. could be useful to keep this file as a guideline for further development of static pages. we just have to turn it off for the production.

[2017-05-10 11:06] chutko commented on #111
i think what @zufanka proposes is fine. this is how i think about the content:

*Terms & Conditions* - this kind of page is almost a standard. it is related to Data Licence, maybe these two can be merged or at least linked together

*About* - if somebody is searching for something like "public spending (data) visualisation (tool)", this page (or homepage) should appear in the results. The content

[2017-05-15 17:22] nightsh commented on #201
Ping @zufanka @chutko can we have a written record of what it's needed to be shown in the relationship details view?

We talked about it, but I can't find the notes -_-

[2017-05-15 17:24] nightsh opened #214 "Implement network "delete" action"

[2017-05-22 18:58] #198 closed

[2017-05-25 08:50] chutko commented on #201
here, i have designed what came to my mind. hope to hear some more ideas from you guys.

as i see it, a relationship in the network view is a group of contracts (and unsuccessful bids) between specific supplier and procurer over a specific time period. therefore these data seem interesting to me:

- total money flow
- total contracts
- total bids
- avg competition (=if there is a bid between these

[2017-05-25 14:56] chutko commented on #195
also, if the user just logged in, he should stay on the same page (for example, if i was just creating a network and decided to log in before clicking "Visualise" button, i would be very unhappy to lose all my work just by logging in. same with registration.)

[2017-05-25 14:58] chutko commented on #194
you mean small tooltips with hint and stuff?

[2017-05-25 14:58] nightsh commented on #195
I agree. How urgent / important would you think it is? It has a potential for being annoyingly complicated for now to fix, so I'm tempted to push it to Q3.

[2017-05-25 15:00] nightsh commented on #194
Yes, something along the lines of altrim/ember-cli-tooltipster

[2017-05-25 15:01] chutko commented on #195
depends. if we will make public networks running, user will be able to create a network without the need to login/register. if we don't, we will need to fix it before this

[2017-05-25 15:15] chutko commented on #194
then this could also be a whole new milestone - we need all locations and texts where tooltips should be added. also a design component which says how it looks and some frontend tool to make tooltips easily, example:
`<div>We are using CPV codes <a href="#" data-toggle="tooltip" data-trigger="click" title="tooltip text here"><i class="fa fa-question-mark"></i></a></div>`
so inside the <a> tag, the

[2017-05-25 15:16] zufanka commented on #190
This blocking issue is closed already

[2017-05-25 15:35] zufanka commented on #78
is this still not implemented?

[2017-05-25 15:37] zufanka commented on #79
Is this not already implemented?

[2017-05-25 15:48] zufanka commented on #160
I think this is not a thing for now. It is in the milestone but so far we only have 2 possible flags (single bid and market dominance). The user will be able to filter with their eyes until we have more of them. I propose closing this.

[2017-05-25 16:18] zufanka commented on #201
lovely!

ideas:
- total bids: what does this say? Is it total bids of that company on tenders of that government? Because we often do not have information on losing bidders.
Or is it total bids that took place in the bidding for all the contracts these two parties ever did together? Then I would opt for some sort average, such as average amount of bids per tender, but that would already be "averag

[2017-05-25 17:04] georgiana-b commented on #167
We could just delete these userless networks on backend every week (for example) while ensuring that we have at least 10 of them at any given moment.
This way we don't have to worry about determining when the user closes the browser window and we can have a "latest networks page" that will feature the latest 10 networks thus solving #168.

[2017-05-25 17:11] georgiana-b commented on #167
Of course, also have a disclaimer that tells users these public networks are public, so anybody can see, delete and update them. If they want to ensure persistency and consistency they have to log in.

If we apply my suggestion above, we should also tell them their networks will be in the open for everyone to see. This is another good incentive to log in, especially for journalists that want to ke

[2017-05-25 17:12] nightsh commented on #167
Uhm, the networks are already public. We probably need to change that as soon as we make this thing here happen.

[2017-05-25 17:15] georgiana-b commented on #167
Yes, but if they will be featured on the "latest networks page" they will be much easier to find than if they were private networks. Unless the owner shares a private network it is pretty hard to guess its ID.

[2017-05-25 17:26] nightsh commented on #167
You're so much right on this issue. That's just my opinion, but you have my upvotes.

I'd also say "Latest networks" to be actually "Latest anonymous networks" to avoid confusion, or anything explicit like that. Sounds like a nice idea.

[2017-05-25 17:27] nightsh commented on #79
Almost, we're missing a few nuts and bolts. @ca1yps0, do you have any updates on this?

[2017-05-25 17:29] nightsh commented on #78
I think it's closeable. @ca1yps0?

[2017-05-25 17:30] nightsh commented on #190
yes, it is. I was just thinking, given project's current popularity, that this is a non issue actually. What do you think? :smile:

[2017-05-25 17:41] nightsh commented on #160
Agreed. Will close this issue, as we currently miss a lot of ingredients for it. Feel free to reopen once we get there.

[2017-05-25 17:41] #160 closed

[2017-05-26 10:39] georgiana-b commented on #167
Considering the main motivation behind this is for people to explore networks without going through the hassle of making an account, I think we might end up not needing this if we implement third-party log in (Facebook, Twitter, GitHub) in the next backend which would remove that hassle. So, I would suggest that we reevaluate this task once we have that.

[2017-05-26 10:48] zufanka commented on #167
I personally don't like giving random application access to any of my social media accounts :)

But yes, that would make the hassle way less. And if we have public networks that the user can play with without having to go through building a query, it also might be ok to just leave creation of networks behind a login.

@chutko what do you think?

[2017-05-26 12:19] georgiana-b commented on #190
@nightsh Does this mean we also have to change the host for [URLs in backend sent emails](https://github.com/tenders-exposed/elvis-backend/blob/master/config/environments/production.rb#L4)?

[2017-05-26 12:21] georgiana-b commented on #67
@nightsh [2 weeks](https://github.com/tenders-exposed/elvis-backend/blob/master/config/initializers/devise.rb#L27)

[2017-05-26 12:34] georgiana-b commented on #201
Sounds like this should contain all edge red flags, including "same city", right?

I would remove the whole row that starts with "Relationship: Healthy"  because we can't make that claim and the other info is already visible in different ways. For example total common contracts is also shown in the "Common Contracts" list.

I agree with Adriana that a timeline graph would be very useful to get ins

[2017-05-26 12:38] zufanka commented on #190
Oh yes :) just maybe redirect elvis.tenders.exposed to tenders.exposed ?

On May 26, 2017 2:19 PM, "georgiana-b" <notifications@github.com> wrote:

@nightsh <https://github.com/nightsh> Does this mean we also have to change
the host for URLs in backend sent emails
<https://github.com/tenders-exposed/elvis-backend/blob/master/config/environments/production.rb#L4>
?

—
You are receiving this because

[2017-05-26 13:12] georgiana-b commented on #201
As I mentioned  in the  backend issue, it's pretty complicated to build this functionality in our current setup  which is one of the reasons to switch to graph dbs.
Please postpone this until we have the new backend.

[2017-05-28 10:26] georgiana-b opened #217 "Average competition in actor details is just a mock value"
Average competition in supplier details is just a mock value 1.7 for everyone.
This value should be an integer (no decimal points) and is called `median_tenderers` in the backend response.

[2017-05-29 08:07] georgiana-b commented on #162
Does the "other companies working in the same markets as the chosen companies" still hold?

[2017-05-29 09:24] georgiana-b commented on #161
This is no longer blocked by the backend. The `date` field has been added to the `award` object in actor details since [this commit](https://github.com/tenders-exposed/elvis-backend/pull/41/commits/13f17182b0b0b9cb551a58e33c6b57c1661cc1e1).

[2017-05-29 09:34] #161 closed

[2017-05-29 09:54] zufanka commented on #162
Thanks for the observation G, no, not for now. Let's stick with the direct links only for now.

[2017-05-29 13:07] chutko commented on #201
@zufanka can you suggest a list of stats for relationship? what i had designed in there is quite a blind shot :) so what interesting data about the relationship do we have now?

[2017-05-29 13:07] chutko commented on #201
@georgiana-b maybe we could mark the issue as blocked

[2017-05-29 14:07] nightsh commented on #190
Well, turns out I fixed it a while ago, if anyone else sees otherwise please feel free to reopen this. Closing now.

[2017-05-29 14:07] #190 closed

[2017-05-29 15:43] chutko commented on #167
yes, third party login would make it easier, but its still a registration - an obstacle we can let the user avoid.

having public networks functionality will definitely come useful in the future in many ways - sharing the tool, spreading possibly influencial information more easily, making selections of interesting networks for the public to explore. so its good not to have the way blocked once th

[2017-05-29 15:47] chutko commented on #160
actually, we can also have different color for every type of "red" flag and the whole lotta shit is solved

[2017-05-29 16:00] chutko commented on #167
what does this feature involve? what subissues shall we create to make it fully running?
feel free to check what is already solved and add what is missing

- [ ] backend stuff i have no idea about
- [ ] checkbox in the network settings (and/or in the sharing dialog) to set the network public
- [ ] create 2-3 example public networks
- [ ] create landing page with displayed public networks - route,

[2017-05-29 16:18] chutko commented on #79
if you have some questions, just ask

[2017-05-30 09:16] georgiana-b commented on #201
Blocked on tenders-exposed/elvis-backend#54

[2017-06-02 08:59] chutko opened #218 "Scroll to top after following internal routes"
When I click on any link leading to a subpage, e.g. /about, /contact etc, the inner content of the page changes, however, in some cases the user might not notice anything happend because nothing moves and scroll offset stays the same.

To simulate this, go to /about, scroll down to the footer and then navigate to /gallery.

Simple solution would be to scroll to the top of the page when a route cha

[2017-06-04 09:27] #75 closed

[2017-06-04 09:27] #106 closed

[2017-06-04 09:27] #188 closed

[2017-06-06 16:11] nightsh commented on #69
Linked to tenders-exposed/elvis-backend#32

[2017-06-06 16:14] nightsh opened #221 "Collect anonymous performance statistics"
We need to collect and store anonymous performance indicators, to properly link how various client resources impact rendering.

We need this for:

* CPV tree rendering performance assessment
* [#69] Network performance estimator
* [#164] Network rendering speed improvements

[2017-06-06 16:14] nightsh commented on #69
Blocked by #221

[2017-06-07 18:13] nightsh opened #225 "Implement usage statistics"
This is easy, just set up Piwik tracking to have some idea about how popular we are (or not) :)

[2017-06-08 20:04] #214 closed

[2017-06-09 09:49] nightsh opened #226 "Add vis.js via npm"
* Remove Bower package
* Add npm `vis` package
* Alter `elvis-network` to use npm version instead of bower

Everything should work as before

[2017-06-12 06:14] nightsh opened #227 "Remove all `controllerFor` instances"
https://discuss.emberjs.com/t/is-this-controllerfor-still-being-used/1455/4

We might be needing more services instead :thinking:

[2017-06-14 18:42] nightsh opened #231 "Upgrade to Ember >= 1.13.2"
I actually attempted this and had to rollback the commit. What's probably happening is that some of the things going on in the app were deprecated in previous versions and now they're finally removed from the framework. We might have to refactor a few bits.

Note: if I removed the link to `network.new` from the `elvis-nav` component template, everything rendered correctly in the pre-network stage.

[2017-06-16 08:48] nightsh commented on #80
This is already done on branch feature/clustering. Closing it so we'd have a more accurate feature tracking, even though it's not merged into develop yet :)

[2017-06-16 08:48] #80 closed

[2017-06-16 12:15] chutko opened #235 "create separate HTML templates for website content and network"
current state:
appicalion.hbs:

[code]

network.hbs:
`
{{outlet}}
`

there is content in application.hbs which will never be needed in the network view. like footer - we dont need it there. also, in the future i would like to wrap every common content page in a specific set of elements. therefore i suggest we completely separate these two. we already have specific template for network, but we need

[2017-06-16 12:19] nightsh commented on #235
Or we can leave it on application.hbs (the footer, I mean), but mutate it into a component that takes an argument to render the template or not. We can then place that in the controllers like `footer: false` where we don't need it.

[2017-06-16 16:17] nightsh opened #236 "Investigate limiting CPU load while rendering networks"
Rationale for this:

* there's a high risk of network rendering eating all the CPU, thus making the user's machine unusable while doing so. Worst case scenario, could lead to a) browser crash or b) on firefox, prompting for actions as an unresponsive script is running.
* any kind of animations, user interactions or whatever else we plan making available at that point would be barely usable

Now, t

[2017-06-17 12:04] zufanka commented on #236
Sounds reasonable, given that the poor unknowing people might try to render a network of 4000 nodes. Also, the library description says: "Iterate without delay if processing is fast.", so there is actually no downside to it, or am I missing something?

[2017-06-21 12:39] chutko commented on #235
well i would like to have some html/css power over this aspect without need to mess with .js files - would provide some independence. i also think what i proposed is more logic than what we have now

[2017-06-21 12:58] chutko opened #240 "wrong <body> class when network sidebar is closed"
there was a previous issue about this which i am unable to find anymore. the solution does not work properly yet, so i will summarize:

we need this:
when network is displayed, body has class `body-network`. in all other cases, body has class `body-page` (or might be enough for it not to have any class).

currently the trouble happens when network sidebar is closed: body has both classes: `body-pa

[2017-06-21 13:19] chutko commented on #236
for the start, maybe setting max limit to amount of nodes to be generated would help as well

[2017-06-27 13:01] zufanka opened #242 "Big pink blobs in the network detail views"
![image](https://user-images.githubusercontent.com/2411066/27588719-5edd532e-5b49-11e7-81d5-30e2a2fd59c1.png)

[2017-06-28 12:13] chutko opened #243 "some keys cannot be typed into sidebar search input"
i tried to search for a term containing key "ä", but when hitting the key on my slovak keyboard (it is under the same key as "]" on english keyboard), the network zooms instead of typing into search.

the solution would be forbidding controlling the network when :focus on any input/select/textarea

[2017-06-28 13:34] chutko commented on #242
best solution will be to use more specific style definitions and class names.
instead of `.procurer { // style here }` use rather `.supplier-detail-view { .tab-procurers { // same styles here } }`

i will also rename the `.relationship, .supplier` and `.procurer` general components so their names correspont with what they are displaying: `relationship-icon, .supplier-icon, .procurer-icon`

[2017-06-28 18:59] chutko opened #245 "sidebar entity circles dont display well with large numbers inside"
if a "sum" is selected as a node size or connection width in the query builder, the numbers inside circles and squares introduced in the new sidebar design do not count with numbers with more than 2 digits. so sums like 167,7 (millions €) do not display correctly and mess up the look.

[2017-06-28 19:26] nightsh opened #246 "Sidebar contents not showing on Firefox"
User agent having this issue:
Mozilla/5.0 (X11; Linux x86_64; rv:54.0) Gecko/20100101 Firefox/54.0

And a screenshot worth a thousand words:
![image](https://user-images.githubusercontent.com/1579997/27656120-87b203aa-5c50-11e7-87a7-b2c409517764.png)

For reference, exactly the same URL pasted in Chromium leads to this beauty:
![image](https://user-images.githubusercontent.com/1579997/27656144-9b1

[2017-06-28 19:34] nightsh opened #247 "Network is not rendered in the center of the window"
I know this is nitpicking, but my OCD is killing me for it!!

Here's a screenshot from another issue (ignore the sidebar, that's #246's problem):

![](https://user-images.githubusercontent.com/1579997/27656120-87b203aa-5c50-11e7-87a7-b2c409517764.png)

It used to be in the center, now you have to drag it rightwards to be able to navigate properly.

It's surely a CSS / flex thing to fix, we might k

[2017-06-29 09:43] chutko commented on #247
i guess also applies only to firefox, in my chrome its centered

[2017-07-04 19:28] #81 closed

[2017-07-04 19:28] #82 closed

[2017-07-05 11:33] nightsh opened #248 "Sidebar list not visible on Firefox"
Here's a picture of it:

![image](https://user-images.githubusercontent.com/1579997/27862547-69c95b0c-618e-11e7-9381-b5316ee904e0.png)

Tested on Chromium, all good.

It seems element `table.data-table.responsive-table > div.ember-scrollable.tse-scrollable.vertical.ember-view > div.tse-scroll-content.ember-view`is the culprit – if I remove `height: 0` and `position: absolute` from it using FF Dev

[2017-07-05 14:09] nightsh opened #249 "Clustering UX improvements"
- [x] search/filter nodes
- [x] scrollable list(s)
- [x] loader animation

[2017-07-06 09:35] nightsh opened #250 "Style the country selector"
At the moment, chosen countries appear rather large and unstyled:

![image](https://user-images.githubusercontent.com/1579997/27905026-58709da2-6247-11e7-8d59-a44f60fe42cb.png)

This might be easier to fix by rewriting the whole styling for that.

- [ ] Fix the selected options styling
- [ ] Avoid overlapping with the elements below (range slider)

[2017-07-06 09:39] nightsh opened #251 "Refactor common entities into classes"
Alright, time to do a little cleanup. In order to keep things simple, some of the entities we're commonly encountering throughout the code could (and should) be factored into classes:

- [ ] Supplier (maybe extending a Node class?)
- [ ] Procurer (likewise)
- [ ] Relationship (edge?)
- [ ] Contract

As a bonus, this would probably make the code a bit easier to test. Definitely easier to read.

[2017-07-06 09:44] nightsh opened #252 "Bring back the nav menu on network views"
You might have noticed we don't have a navigation menu on network views anymore. So we can only go back to create a new network or whatever by altering the URL.

Well, the menu is there still, but it's hidden. This issue is following a brief discussion with @chutko. What we agreed upon is:

* put a toggle for it left to the network name
* change it to appear from the left side (so it will perfectl

[2017-07-06 10:20] chutko opened #253 "Frontend of the new Query Builder"
redesign / rebuild the query builder to improve UX and prepare it for company centric networks. we do not yet have exact solution although we have some points which emerged from the discussion on the topic:

1. query builder will be treated as a wizard, split into few sections
2. next approaching version of the wizard should be dead simple - we will use basic components of materialize to split con

[2017-07-06 11:02] chutko commented on #249
i have also some suggestions:
- clicking on a node in the left container could make the node appear in the right container
- when holding a node above a container, the landing area should be more clear the whole container should change style. also it should be clear where in the list of other nodes will the new node land - will it land above or below other nodes?

inspiration: https://www.uxpin.co

[2017-07-06 11:53] chutko opened #255 "order of loading vendor styles"
when i look into the browser inspector, many of our .scss styles are overwritten by vendor.css, which means vendor is included after our styles. that is wrong - we want to be overwriting vendor styles with our own. can we switch this order?

[2017-07-08 10:15] nightsh opened #258 "Mock API responses for testing"
We need to mock a lot of things in order to be able to test the app properly.

- accounts:
  - [ ] creation
  - [ ] recovery
  - [ ] confirmation
  - [ ] update
- networks
  - [ ] query
  - [ ] show
  - [ ] update
- cpvs
  - [ ] sample payload for creating a tree
- years and countries
  - [ ] sample payload for rendering components

There might be some more, these are just what I've encountered so

[2017-07-08 10:28] #246 closed

[2017-07-08 10:28] #248 closed

[2017-07-09 12:32] #205 closed

[2017-07-09 12:37] nightsh opened #259 "Put a loader on clustering UI"
Because clustering takes a bit of time to load, we need to indicate this somehow.

The task is to place loaders wherever applicable around the clustering operations :)

[2017-07-09 12:39] nightsh commented on #259
Duplicate of #249

[2017-07-09 12:39] #259 closed

[2017-07-09 12:41] nightsh commented on #255
I'll look into it 👍

[2017-07-09 12:45] nightsh opened #260 "Make node details view scrollable"
If you visit, for example, a supplier's details, it shows a full height template with everything in it. However, it doesn't always fit in screen's height and it needs to be scrollable.

- [x] Make the `details/show` template scrollable on height

[2017-07-10 09:48] chutko commented on #249
btw do we use general plugin/library for displaying the loading animation? we should... there will be lots of loading everywhere.

related to #88

[2017-07-17 14:51] chutko commented on #253
@nightsh basic markup for the query builder is in the branch `feat/query-builder-wizard`. it also contains some comments describing desired functionality. i will improve the design once real data is displayed in there.

also, there is one idea: is it possible to have single select containing countries and companies?

[2017-07-18 06:56] nightsh commented on #253
Replying it backwards :) I'm not sure about the single select. In our case, we get the CPVs, or companies, according to the years/countries selected.

It is however possible to get the companies without passing any other parameters, it would just be a much heavier search on the index, not sure how this would impact performance. Maybe not much now, but if we'd have *all* the countries, imagine inst

[2017-07-18 06:56] nightsh commented on #253
@georgiana-b any thoughts on this? ☝️

[2017-07-19 13:54] chutko commented on #253
i have improved the styling today:
- created separate .wizard component with 3 states for .wizard-step: .disabled, .current, .completed
- fancy-styled the ember-select-guru
- improved various form/input styles when combined with other components
- have put various TODOs into the comments for @nightsh

i havent styled the CPV selector yet. that will be the final touch. however, now it looks quite g

[2017-07-20 08:29] #242 closed

[2017-07-20 08:29] chutko commented on #242
solved in #256

[2017-07-20 08:40] chutko commented on #250
its beautiful now!

[2017-07-20 08:40] #250 closed

[2017-07-20 09:04] chutko commented on #253
btw dont forget to do some cleanup when this is ready - mostly deleting redundant files which are not used anymore (cpv selector modal)

[2017-07-20 12:00] chutko commented on #245
![screencapture-localhost-4200-network-597097002dcb5627eb000008-suppliers-1500551479248](https://user-images.githubusercontent.com/4135015/28416012-878ac43a-6d52-11e7-829c-85f71d674fdf.png)

i would like to fix this, but i could also use help from @nightsh or @ca1yps0. as you can see, there are too many digits inside the circles.

we need to create a function which will take the money sum and roun

[2017-07-20 12:05] chutko commented on #245
hint: https://stackoverflow.com/questions/10599933/convert-long-number-into-abbreviated-string-in-javascript-with-a-special-shortn

[2017-07-20 13:18] chutko opened #263 "same footer for welcome page and other subpages"
now we have 2 different footer templates and i dont see a reason why we should. we should use the one appearing on the homepage for all pages except of the network view.

[2017-07-20 14:05] chutko commented on #111
i have improved the contact page so far. will slowly take a look at other pages too

[2017-07-20 15:50] zufanka opened #265 "Clustering window has no scroll bar"
![image](https://user-images.githubusercontent.com/2411066/28426493-8fc5aaf4-6d73-11e7-8c09-86f50609729c.png)

Can't create more than 2 clusters and can't chose from companies further down the list

see network:
https://elvis-ember-develop.herokuapp.com/network/5970cf242dcb5627eb000009

[2017-07-20 16:00] zufanka commented on #118
Sorting on the sidebar is now completely gone :)

![image](https://user-images.githubusercontent.com/2411066/28427069-547ace1e-6d75-11e7-8758-9cf1ae95caea.png)

[2017-07-21 10:26] chutko opened #266 "Create a sidenav in the Network view"
create a vertically-oriented menu for network view which appears from side

[2017-07-22 11:38] chutko commented on #118
haha its gone because i made it disappear :)

the original design of sorting was supposed to be using a select (sort by) and button (order by)
![elvis-sidebar-sorting](https://user-images.githubusercontent.com/4135015/28490774-a13008aa-6ee2-11e7-9fd5-69ba9b25cee8.png)

displaying the table head and sorting by clicking on columns in a data table seemed weird when there are just 2 columns and it is

[2017-07-22 11:41] zufanka commented on #118
@chutko soo .. are you going to redesign this or implement the above?

[2017-07-22 11:45] ca1yps0 commented on #118
ok. we can implement as the original design. can someone please tell me what the select options should be?

[2017-07-22 11:52] ca1yps0 commented on #245
from what i know a function like this already exists. i will implement it.

[2017-07-22 13:00] zufanka commented on #167
@nightsh do we already have any (stable) public network?

[2017-07-22 13:12] #260 closed

[2017-07-22 14:02] zufanka opened #268 "Could we get "Map me tender" somewhere on the frontpage?"
It's the motto of the project, yet is nowhere to be found.

[2017-07-28 08:06] #231 closed

[2017-07-28 13:46] #268 closed

[2017-07-28 16:47] zufanka commented on #118
@ca1yps0 I think for now it's enough to sort according to:
- the value in the circle
- name (alphabetically)

thanks! :)

[2017-07-29 07:00] chutko commented on #118
1. dont bother with html/css too much. for the select, we can use default materialize select (there is no need for search inside it) and for the order switch just use a link with icon inside. i might as well create html/css in advance for you... if i can make it today, i will let you know which branch is it in

2. so the "value in the circle" will be either "money sum of contracts" or "amount of c

[2017-07-29 08:27] chutko opened #271 "emphasise the matching phrase within results of the suggestion search select"
when user types a phrase into select's suggestion search (in query builder selects - countries and companies), the matched phrase should be highlighted within each result:

for example, if value of the search is "RD", results will have such html:
[code]

[2017-07-30 10:42] #226 closed

[2017-07-30 10:42] #131 closed

[2017-07-30 10:47] nightsh commented on #247
Closing, as it somehow fixed itself.

[2017-07-30 10:47] #247 closed

[2017-07-30 10:49] nightsh commented on #74
It was fixed by clustering feature, as now we can send the graph back to server and have it persisted. Closing.

[2017-07-30 10:49] #74 closed

[2017-07-30 10:50] nightsh commented on #204
We eliminated the problem by killing the CPV modal completely. Case closed.

[2017-07-30 10:50] #204 closed

[2017-07-30 10:53] nightsh commented on #201
Can we close this for now and open a new issue when tenders-exposed/elvis-backend#54 will be fixed? The new issue will likely be more about completing the view, but now we have the template, it shows some data, and we need to mark its progress somehow :)

[2017-07-30 11:24] #79 closed

[2017-07-30 11:24] #78 closed

[2017-07-30 19:44] chutko commented on #266
closing

[2017-07-30 19:44] #266 closed

[2017-07-30 19:46] chutko commented on #255
can we please put this on higher priority? because unless solved, redundant css has to be written to make some things work

[2017-07-30 19:47] chutko commented on #252
solved, closing

[2017-07-30 19:47] #252 closed

[2017-07-30 21:05] chutko commented on #118
@ca1yps0 i have put html for the sorting/ordering select into the branch **fix/118**
there might be some mistakes, i had trouble to simulate select correctly. let me know if it acts weird

[2017-07-31 08:09] chutko opened #273 "settings button in the sidebar dissapeared"
it probably happened during styling the network sidenav

[2017-07-31 09:07] nightsh opened #274 "Email validation is wrong"
It seems our email validation (frontend based) fails to recognize perfectly valid addresses. See the image:

![image](https://user-images.githubusercontent.com/1579997/28770630-91220b2c-75e8-11e7-9a25-f259836a9a4e.png)

[2017-07-31 17:15] nightsh opened #275 "Clean up the query builder code"
The new query builder has a lot of code that violates the DRY principles. This is on purpose, as it makes it a lot easier to spot and reshape the code than a half baked refactoring.

Additionally, there are some components we abandoned (e.g. cpv selector), some components we need to rebuild from the previous ones' ashes (cpv search, maybe?) and some components we need to extract to avoid a fat QB

[2017-07-31 20:00] zufanka opened #277 "CPV codes not visible / selectable"
![image](https://user-images.githubusercontent.com/2411066/28795823-88e5007e-763b-11e7-89d9-1ad34931e95a.png)

whatever I do I only see this at where the CPVs are supposed to be.
This is only a problem in Firefox

[2017-08-04 09:29] chutko opened #278 "improve UX of the company select in query builder"
currently, when the select is open, there are no options displayed until user starts typing into the search. this is confusing, some people might think there are just no companies to select from.

better solution would be a search input with suggestions. what ember component can we use for this? @nightsh

[2017-08-04 10:11] chutko opened #279 "design network options buttons"
network options on the right side of the screen deserve a better look

[2017-08-10 12:43] zufanka opened #280 "Clustering window [x] will remove clusters, window not removable"
Clustering window closing [x] will remove clusters and the window is not removable from the screen anymore.

[2017-08-11 10:39] nightsh opened #281 "Show red flags on the network"
We currently don't have a way to show the red flags in the network graph visualisation. We need to do it :)

[2017-08-12 12:44] nightsh commented on #88
we can also use this animated canvas from [here](https://osf.io/) – code is open source, we can remix the very simple JS code doing that into whatever we want, if we end up liking the idea :)

For the record, the (most) relevant code is here: https://github.com/CenterForOpenScience/osf.io/blob/08a604c550c68c53653bf751ccd0571acc50cab4/website/static/js/pages/landing-page.js#L57-L108

[2017-08-12 12:52] nightsh commented on #281
here's an image showing an approximate way of integrating unicode symbols on edges
![image](https://user-images.githubusercontent.com/1579997/29240870-28a0693a-7f76-11e7-861f-a28b999a744a.png)

[2017-08-12 13:32] nightsh commented on #281
Also on nodes, we need them on nodes. Labels might save us again, just glue a newline and a unicode flag to the original node label. We could also use multifont labels, if performance impact is decent: http://visjs.org/examples/network/labels/labelMultifont.html

[2017-08-12 13:33] nightsh commented on #281
Pinging @chutko, I think we need your mind's eye for this one :-)

[2017-08-22 08:10] zufanka commented on #167
Could we tackle this issue in the near future? @nightsh

[2017-08-22 08:13] zufanka commented on #280
@nightsh the clusters don't disappear anymore, but I still can't click away the dialog (on production)

[2017-08-22 08:14] zufanka commented on #265
This seems to be fixed now 👍

[2017-08-22 08:15] zufanka commented on #83
All of these blocking issues are closed already! Does this still need to be open?

[2017-08-22 08:20] zufanka commented on #249
@chutko very good ideas! The functionality is however working for now, so @nightsh @ca1yps0 would implementing this this require a lot of time/ effort?

[2017-08-22 08:22] zufanka commented on #88
I love that network animation, makes me think of spiders a bit tho :) But it's super cute.
Where do we need the loader except for loading the network?

[2017-08-22 08:24] zufanka commented on #71
What does this mean exactly?

[2017-08-22 08:29] zufanka commented on #217
@nightsh @ca1yps0 could one of you assign this to him/herself?

[2017-08-22 08:31] zufanka commented on #111
these two still need some prettifying ^^

http://tenders.exposed/terms-conditions
http://tenders.exposed/about

[2017-08-22 08:39] zufanka opened #284 "selecting CPV upper branch does not select the lower branches"
If I click on "Petroleum products, fuel, electricity ..." it does not select "Fuels" automatically.

![image](https://user-images.githubusercontent.com/2411066/29556289-a78ba046-8725-11e7-9cd9-9bfd61643d3d.png)

[2017-08-23 07:36] chutko commented on #281
here are few quick ideas.

![elvis--visualisation-red-flags](https://user-images.githubusercontent.com/4135015/29603063-fcc0dd8e-87e2-11e7-97a2-7b25bedf1386.png)

to summarize, we have red flags either on edges or nodes. they can have various thickness/sizes. an on/off button for showing/hiding all the network's red flags might be useful.

**for nodes**, the best solution is probably to display re

[2017-08-23 10:16] chutko commented on #281
posting an update on red flags. let me know what you think

![elvis--visualisation-red-flags](https://user-images.githubusercontent.com/4135015/29611173-dd23d110-87fc-11e7-9bd1-ec86ef87e82a.png)

[2017-08-23 10:21] chutko commented on #284
this could be also done with css - if a parent node has class `.selected`, we can display "checked" icon also on its children

[2017-08-23 10:24] chutko commented on #88
#107

[2017-08-23 13:32] georgiana-b opened #285 ""Create a network" button on landing page broken"
The `Create a network` button on landing page doesn't link to a new visualization but instead to http://tenders.exposed/#.

[2017-08-23 13:33] georgiana-b commented on #285
This fruit hangs so low even I could pick it and I'm small.

[2017-08-30 17:40] zufanka opened #286 "Human readable CPV tree"
Create  a human readable CPV tree based on the http://ted.europa.eu/TED/browse/browseByBS.do

![image](https://user-images.githubusercontent.com/2411066/29886565-c8fd2498-8dba-11e7-9125-a393091b5055.png)

- with parents that are not selectable

[2017-08-31 09:49] chutko commented on #285
what a lovely short poem :)

i fixed this also with some improvements on welcome page design by using premade components

[2017-08-31 10:26] chutko commented on #281
sending an update. the change is - node red flags are centered under the node and the red flags are bordered inside a rounded rectangle.
![elvis--visualisation-red-flags2](https://user-images.githubusercontent.com/4135015/29918837-4db37926-8e47-11e7-81a9-c7762c47c10e.png)

also, lets make part of this issue (or a new related issue) following:
- double click on a node should trigger details dialogu

[2017-08-31 12:40] chutko commented on #281
i consider this one better:
![elvis--visualisation-red-flags3](https://user-images.githubusercontent.com/4135015/29923561-4e1a936e-8e5a-11e7-9c3f-b3759208963d.png)

is it doable?

[2017-09-01 12:50] nightsh commented on #281
No.

[2017-09-02 18:43] chutko commented on #281
so what is?

[2017-09-03 17:58] georgiana-b commented on #167
@chutko

That is touching 😄 We actually make that possible already by allowing free access *to view* the networks. So, if somebody shares the link to a network, anybody can see it.

This issue is about people being allowed *to create* networks without logging in.
There are some reasons against this:
- *creating* a network is expensive for the server
    - we store the networks in the db and we sho

[2017-09-03 18:02] nightsh commented on #281
I'll look a bit into it tomorrow afternoon and see how close I can get to it. But there are some vis.js limitations involved. Wish me luck :neckbeard:

[2017-09-04 06:51] chutko commented on #167
@georgiana-b

for now lets set it to 2 weeks for instance. if there is no activity for this period (=0 views), network is deleted. in the future, this could be the network owner's option

this also can be an option with checkbox in the public network settings - "anybody" or "just me". in the future, we can have option to share network with specific users and (dis)allow them to manipulate with netw

[2017-09-04 07:03] chutko commented on #281
@ca1yps0 said there might be possibility to have custom HTML for each node's label. if that is true the above visual should not be a problem - we just add another container for the flags and other stuff

[2017-09-04 07:10] nightsh commented on #281
a. node labels are doable, although they might get a bit on the heavy side, we need to performance test some stuff before
b. edge labels, on the other hand, are a bit weird due to the tilted border and vertical flags. But I'll give it a shot soon.

I also don't know how can we style the things yet, I suppose we get html labels then go on with our own classes, right?

This would be quite pretty if

[2017-09-04 07:13] chutko commented on #281
the whole flags container is rotated, so the flags go with it. but whatever is easier to do will be fine.

[2017-09-04 10:14] georgiana-b commented on #167
@chutko

I think there's some confusion so let's clarify. This issue is about the following scenario:
A person lands on our website and makes a network without logging in. This means we now have a network in the db that is not attached to any user account. The person wanders at the network but then leaves our website without ever making an account.

So, the options you mention: "anybody" or "just

[2017-09-04 10:35] georgiana-b commented on #167
My proposal is: we shouldn't even allow this scenario, a user should not be able to create a network without an account.

However, to give a person that is not yet registered an idea of how networks looks like, we crate a page that looks like "My projects" page, where we list networks that other users chose to share.
This means my 2 options are:

1. if the network is private  - only the owner can

[2017-09-04 11:05] zufanka commented on #167
How about we just provide a dummy user that people without an account can use @chutko ?

It has multiple advantages:
- no need to think up new rules for anonymous users
- there will be already random networks created in "My projects" (can be pro and a con at the same time tho). W can set a limit to the saved networks of the dummy user then (max 50 or so).

I would not complicate it now with privat

[2017-09-04 11:10] zufanka commented on #167
@chutko [template networks @ discourse](https://talk.tenders.exposed/t/saving-template-networks-which-can-be-just-duplicated/99)

[2017-09-04 14:54] georgiana-b commented on #167
Ok, I see you both really want to let anonymous users create networks 😺
A mock account would be troublesome technically & it doesn't  help us avoid the questions so please object or contribute to any of the answers:

1. Who will see the userless networks?
    Anyone.
2. Who will be able to edit them?
    Nobody.
3. Who will be able to delete them?
    Nobody but us in the background.
4. When will

[2017-09-04 17:57] zufanka commented on #167
I thought this is something we have agreed on some time ago ... ?

we have one right now, the data harvest account :)

1. anyone who is logged in with the user
2. idem
3. idem, just anarchy \m/
4. we can set s max saved for that account or wiped every x days
5. the same My projects as any other account

Just to be clear: I am trying to find the easiest solution here, not necessarily the best one.

[2017-09-04 18:33] georgiana-b commented on #167
@zufanka

This sounds pretty good but I think it was dogged because it sounds fringe to detect when the browser window is closed.

@nightsh  Is ☝️   true? Could you trigger a DELETE network event when the  user moves away from the route `network/:id` or when the browser window is closed?

[2017-09-04 18:41] zufanka commented on #167
Can't / doesn't the network exist in the browser after it is drawn? (just poking in the dark here)

[2017-09-04 18:44] georgiana-b commented on #167
I'm laughing at the fact you're poking in the dark not at the proposal which could be a good one.

[2017-09-05 09:17] georgiana-b commented on #280
Confirming:

- ❌ on the actor label doesn't remove the actor
- 🗑 doesn't remove the cluster
- ❌ on the clustering window doesn't remove the window

Basically, once you start clustering there is  no going back! 😨

Browser: Chromium Version 60.0.3112.113 (openSUSE Build) (64-bit)

[2017-09-05 09:28] georgiana-b commented on #280
I just tried clustering and they both worked fine after a hard refresh.

[2017-09-05 11:09] georgiana-b opened #287 "Can't access "My projects" page"
I'm on landing page, I log in then I go to "My projects" and a loader with "Loading network" appears and stays there even though the answer from server is 200 with the payload:

[code]

In the console I see the error: `TypeError: Cannot read property 'length' of undefined`

Browser: Chromium Version 60.0.3112.113 (openSUSE Build) (64-bit)

[2017-09-05 12:12] chutko commented on #167
i actually like georgiana's idea that we will not have any anonymous accounts and just let anybody to browse the public networks list. its currently the simplest solution

the only thing which goes against it in my head is - if people want to see some network, they want to see something they know and can refer to - so i am from Slovakia and the only kind of network which i can relate to and am abl

[2017-09-05 19:18] #279 closed

[2017-09-05 19:19] #285 closed

[2017-09-06 08:31] chutko commented on #273
this is fixed already, closing

[2017-09-06 08:31] #273 closed

[2017-09-06 08:44] chutko commented on #243
same problems when changing the network name (using plus or minus characters zooms the network)

[2017-09-06 08:54] chutko opened #291 "sidebar - sorting by count displays wrong order"
in the sidebar, when sorting lists of nodes or relationships by count, the lists display in wrong order
![elvis--sidebar-sort by count](https://user-images.githubusercontent.com/4135015/30102922-5f5d01d4-92f1-11e7-86c1-c73b24e626af.png)

it seems the sort algorithm is sorting _String_ instead of _Number_

[2017-09-06 09:44] chutko opened #292 "Footer - restyling and cleanup"
currently there are two types(files) of footer, we just need one.
also, design and markup could use some improvements.

[2017-09-06 09:48] chutko commented on #287
in my browser (latest Chrome), My Projects are displaying correctly but if i try to load a project the whole thing freezes

[2017-09-06 09:56] chutko opened #293 "Better design of the CPV tree"
part of the new query builder is restyled CPV tree. besides better visual, it should help fixing some bugs and improve readability and mobile responsibility.

[2017-09-06 09:58] chutko commented on #293
related to #277 and #284

[2017-09-06 10:03] chutko commented on #284
i gave it some thought. indicator of the selected CPV category is html attribute `aria-selected="true/false"`

**here is desired behavior:**
1. if user selects a cpv category, all its children should automatically be selected.

2. after selecting a parent and all its children, if one children is deselected, the parent should not be selected anymore.

[2017-09-06 11:42] #255 closed

[2017-09-06 11:52] chutko opened #294 "CPV tree loads before applying styles to it"
in the query builder, when i make action which loads the CPV tree for the first time, it always takes a short while to load all the styles so the user sees unstyled CPV tree just with names and nothing else.

if it is possible, we should display CPV tree after an event is fired when all necessary styles have been loaded and applied

[2017-09-06 11:59] chutko opened #295 "disallow Query Builder submit button unless all data is filled"
the query builder "Visualise!" button at the bottom can be pushed event if no Country/Company (step 1) was selected and after that if no CPV code (step 3) was selected.

until all required fields are filled, the button should be like this:
`<button type="submit" disabled="disabled">Visualise</button>`

[2017-09-07 23:19] zufanka commented on #280
Still issue in Firefox (54.0)

[2017-09-07 23:23] zufanka commented on #118
@ca1yps0 sorting on the count is alphabetical, not numerical

![image](https://user-images.githubusercontent.com/2411066/30189466-406c1b54-9434-11e7-9502-8b4f9e85e666.png)

[2017-09-07 23:31] zufanka commented on #265
@ca1yps0 can we close this?

[2017-09-07 23:33] zufanka opened #297 "Names in the clustering window sorted alphabetically"
would greatly improve the ability to find clusters at it would already "cluster" possible clusters in the left hand window

[2017-09-08 07:49] chutko commented on #118
oh, then its not just in safari, its chrome as well and others too. i have reported the same in #291

[2017-09-08 10:41] zufanka commented on #118
@chutko no, this issue is very old and originally was something different :)

[2017-09-08 10:41] zufanka commented on #291
@ca1yps0 could you please have a quick look at this? Thank you!

[2017-09-08 11:08] zufanka opened #298 ""New visualization" from an existing network doesn't erase previous CPV selection"
If I create a [network](http://tenders.exposed/network/59b278a52dcb56134300004a) an then go back to create a New visualization the old selection is still there.
Which is fine, however if I want to chose a different market under the same country and uncheck the CPV and check a new one, the old network will still appear mingled with the [new one](http://tenders.exposed/network/59b278d72dcb5613430000

[2017-09-08 11:24] zufanka opened #299 "Fix saving clusters on the front end"
Front end adjustments related to
https://github.com/tenders-exposed/elvis-backend/pull/64

[2017-09-09 20:22] chutko commented on #293
solved, closing

[2017-09-09 20:22] #293 closed

[2017-09-09 20:25] chutko commented on #277
solved, closing

[2017-09-09 20:25] #277 closed

[2017-09-14 09:00] chutko commented on #292
so far i have merged various footer files into one and changed the rootes so all pages (except network) use the same footer. i have also done some tidy and hidden the newsletter sections as it has no functionality yet

[2017-09-14 14:41] nightsh opened #300 "Do not show network editing controls when there are no appropriate permissions"
Right now we see clustering and network name editing controls on all networks. Even if they're not ours to modify.

We need to fix this and only allow owners to see such things. Backend will reject the action anyway, so we just have to show them conditionally.

[2017-09-14 14:50] nightsh opened #301 "Create 404 pages on the Ember app"
Just make some thing that gets loaded whenever a 404 gets hit. @chutko will take it from there.

[2017-09-18 12:14] #298 closed

[2017-09-18 12:14] #284 closed

[2017-09-18 12:51] chutko commented on #301
maybe we could have a list of addresses which redirect to 404. so far i have these in mind:
- [domain]/*
- [domain]/network/*

where "*" is anything except of existing routes and existing network IDs

[2017-09-18 16:56] georgiana-b commented on #167
So the preferred option is to let users make networks that are deleted after they move away from the network's route or close the browser window.

This needs some research from @nightsh  or @ca1yps0  to find out if it's possible to determine when the user closed the browser window that contained the network.

If it's possible we go with it, if not we'll choose one of the other options we mentioned

[2017-09-18 17:00] nightsh commented on #167
So the current way to do it is:

* user makes a network request
* network gets created
  * then saved
  * then returned as a payload to the browser
* network gets displayed with all the bells and whistles we have

---

Why can't we do exactly the above for unauthenticated requests, minus the saving part? We can take care of notifications telling people we won't save anything unless they log in.

T

[2017-09-18 17:35] georgiana-b commented on #167
HTTP doesn't agree with this since there is no network unless you create it and there is no creating without saving it.
To return the created network on POST without saving it to the database is a evil thing to do as an API.

 @nightsh, can you describe the request you would like to make in order to achieve without breaking HTTP rules?

[2017-09-18 17:41] nightsh commented on #167
Same request. If there are no valid auth headers present, then don't save, or rather don't keep the newly created network.
As for rules and good practice... that pretty much flies out the window if we do this anyway.

If we want to be make a good case of development practices, I'd say we should save them and then run a garbage collector-like process over them every now and then to remove what's ol

[2017-09-19 16:11] nightsh commented on #167
Ping @georgiana-b, WDYT?

[2017-09-21 06:37] nightsh commented on #167
We could also detect when a use closes the window / navigates away from the network. That's possibly faulty though, but worth experimenting with anyway.  It's not about the technology itself, but more about modern browsers attempting to fight some JS callbacks in an effort to reduce spammy behaviour of some sites (imagine websites that throw alerts and dialog windows when you close them 😱 )
I woul

[2017-09-21 06:48] georgiana-b commented on #167
In case this fails we will create them normally and delete them with a background task after 2 weeks.

[2017-09-21 07:00] nightsh commented on #286
I'm blocking this, due to the following:

* the TED tree has duplicate subtrees between the human readable parents (i.e. some main codes are found in multiple categories)
* jsTree cannot work with duplicates, we can only specify one parent
  * if we modify jsTree to work with more parents (i.e. duplicate whole subtrees) we might expect hell on tree actions (as we won't have unique IDs anymore) and

[2017-09-21 07:01] nightsh commented on #286
@zufanka do you have any idea how to unblock this? 🤔

[2017-09-21 08:21] nightsh commented on #278
I wonder, if we fire a blank request on click (i.e. empty search term), would the backend reply with anything? I can try, or maybe @georgiana-b knows the answer straight away.
Or we can preload the search term with something of our choosing. This would imply extending (not forking) the select-guru component, but it shouldn't be a big deal.
Any other ideas?

[2017-09-21 10:02] #299 closed

[2017-09-21 12:48] nightsh commented on #286
Unblocked following a discussion with everybody: we will keep only single parents (so no duplicates) in a first iteration, then later we will attempt implementing multiple parents into jstree.

[2017-09-21 13:12] zufanka opened #303 "Put the right values in the competition"
These are always 1.7 in the detail view and 1.1 in the small modal on the network.

![image](https://user-images.githubusercontent.com/2411066/30697396-2543a7f6-9edf-11e7-9a2f-235a1f0b104f.png)

![image](https://user-images.githubusercontent.com/2411066/30697405-2bd104d8-9edf-11e7-9770-cdf16259299a.png)

[2017-09-22 03:53] victor-nitu commented on #280
@zufanka Still an issue? Does it print anything in the js console?

[2017-09-22 09:38] zufanka commented on #280
@nightsh this is resolved (tested on develop)

[2017-09-22 19:54] chutko commented on #292
closing for now

[2017-09-22 19:54] #292 closed

[2017-09-26 04:10] zufanka commented on #291
@ca1yps0 could you please solve this this week?

[2017-09-26 04:10] zufanka commented on #297
@nightsh could you please fix this this week?

[2017-09-26 04:11] zufanka commented on #303
@nightsh @ca1yps0 could one of you have a look please? There should be a backend response containing this.

[2017-09-26 05:06] zufanka opened #304 "Sidebar not updating after clustering and more weirdness"
After applying clustering and trying to focus on the node from the sidebar

![image](https://user-images.githubusercontent.com/2411066/30843366-04493a2c-a289-11e7-8bab-16827996b69a.png)

The focus will go to the old position of the node, not the new one.

See this [example network](https://elvis-ember-develop.herokuapp.com/network/59c9de932dcb565b03000035/suppliers)

[2017-09-26 05:10] zufanka opened #305 "Clustering dialog search not taking '-' and '+', zooming instead"
If I am searching for a company that has a '-' in the name, the clustering dialog would not take it, but the network on the background will zoom out. The same issue with '+' .

[2017-09-26 05:29] zufanka opened #306 "CPVs wrongly formatted in actor details query"
(possibly backend issue? @georgiana-b )

![image](https://user-images.githubusercontent.com/2411066/30843876-3d83087e-a28c-11e7-95ef-69fff0ceb1d7.png)

![image](https://user-images.githubusercontent.com/2411066/30843874-3738caa8-a28c-11e7-9b42-edc93803783f.png)

[example network](https://elvis-ember-develop.herokuapp.com/network/591dc03a2dcb565324000011/procurers)

[2017-09-26 05:38] zufanka opened #307 "Network list fails to render on HTTP status 304 from the API (Was: Networks no longers saved in "My projects")"
_(Update: the ember-data side needs to make sure it also treats some 3xx HTTP status codes as valid, instead of only accepting 200s)_

I have been creating networks left and right on the dataharvest account. Yet none of them are being saved anymore.
(production and develop)

(possibly backend issue @georgiana-b ?)

[2017-09-26 05:41] zufanka commented on #280
@nightsh I had this issue on develop briefly today again, page refresh had fixed it tho

[2017-09-27 05:20] georgiana-b commented on #307
I just made one and it was saved and displayed in "My Projects" but the details say it was created `14 days ago` which is wrong. I noticed I don't send `created_at` in the payload so `14 days ago` is a mock value.
Can you check if the networks you refer to are saved but shown with the wrong date?

[2017-09-27 05:30] georgiana-b commented on #307
Oh wait, after hard refresh I just get "Loading Network" on `http://tenders.exposed/network/list` even though the response from backend arrives and is correct.

[2017-09-27 06:12] georgiana-b commented on #306
Actually, this is not related to contracts with 0 sum but it certainly happens, although I can't see any pattern yet.

For example [this procurer]( http://tenders.exposed/network/59cb39fa2dcb565b0300007a/procurers/29074) is linked only to one suppliers with sum 0 but the others, including those with greater sums are not shown.

The payload of the network doesn't show all the nodes returned by proc

[2017-09-27 06:23] victor-nitu commented on #307
What's your user, @georgiana-b? Also, can you possibly spot any difference between the payload that renders the list and the one that doesn't?

[2017-09-27 07:29] georgiana-b commented on #307
The first time I request "My projects" page it is loaded with networks but after I refresh/reload the page just keeps loading.
I just converted the payloads when it is working and when it isn't into Python dicts and compared them but they are the same.
The only difference is that after the first request the status is `304 - Not Modified` instead of `200`.

[2017-09-27 07:32] victor-nitu commented on #307
Ah indeed! I guess HTTP suggests 304 in this case indeed, and the issue should be somewhere around the data adapter in Ember. I'm looking into it now, just grepping by hardcoded "200"s in the code base for a first try 😝
Thanks for demystifying this, I didn't realise the status code is different. It makes perfect sense, I'll change the title and description of the issue.

[2017-09-27 09:15] zufanka commented on #265
@chutko can we close this?

[2017-09-27 09:18] zufanka commented on #291
@ca1yps0 thanks!
Who has to review this?
It is not pushed on the develop yet that I can see namely

[2017-09-27 12:55] chutko commented on #265
i did not fix this, but it seems to work fine, so lets close

[2017-09-27 12:55] #265 closed

[2017-09-27 12:55] chutko commented on #265
i plan to improve few UX things on clustering dialogue. but there's an issue for that

[2017-09-27 14:29] zufanka commented on #280
@nightsh this is still an issue if trying to cluster on a [network that already has clusters](https://elvis-ember-develop.herokuapp.com/network/59cba00b2dcb565b0300008d) !!

[2017-09-27 14:32] victor-nitu commented on #280
That's a good catch @zufanka!

[2017-09-27 14:48] zufanka commented on #280
![image](https://user-images.githubusercontent.com/2411066/30920166-a1ca9884-a3a3-11e7-960e-5f445edf8dbd.png)

[2017-09-28 07:39] chutko opened #309 "Design of clustered nodes"
problem:
1. in the sidebar, there is no specific design for clustered nodes
2. in the network, clustered nodes use [font awesome icon](http://fontawesome.io/icon/users/)

i would like to unite clustered node's design to look like this:
![elvis--clustered-node](https://user-images.githubusercontent.com/4135015/30954470-9850f0f4-a430-11e7-9b53-1a166afdfdd1.png)

questions for @nightsh and @ca1yps0 :

[2017-09-28 07:42] chutko commented on #305
same problem in different context is also described in #243.
i've also proposed a simple solution. marking as low hanging

[2017-09-28 11:22] georgiana-b commented on #306
Ok, turns out the network was ok but the actor details were showing all the contracts of the actor because the filters (years, cpvs etc.) weren't applied. I fixed that in tenders-exposed/elvis-backend#67,  deployed and tested it so now the backend works as expected on production.

However, I have to reopen this because currently the [procurer details page](http://tenders.exposed/network/59cb39fa2d

[2017-09-28 14:37] #253 closed

[2017-09-28 14:37] #221 closed

[2017-09-28 14:38] #281 closed

[2017-09-28 14:39] #83 closed

[2017-09-28 15:03] #249 closed

[2017-09-28 15:03] #297 closed

[2017-09-28 15:28] #291 closed

[2017-09-29 13:23] victor-nitu opened #312 "Menu toggle icon doesn't fire the first time"
When you open the sidebar on a network, clicking the sandwich menu is not firing the menu toggle event. Or whatever happens, the menu is not shown until the second click. Might also be a state issue :)

[2017-09-29 13:26] victor-nitu commented on #280
Recording this network ID here as well, as it reproduces the problem: `59ce470d2dcb563afb000012`

[2017-09-29 14:15] zufanka opened #313 "Put type of flag on the edge popup"
![image](https://user-images.githubusercontent.com/2411066/31019824-4df74146-a531-11e7-93a0-3e5235264fbf.png)
put the flag like this on the node ^ (perhaps a bit bigger)
We can also remove the "competition" here, right @georgiana-b  ??

on the edge as well:
![image](https://user-images.githubusercontent.com/2411066/31019834-5695104e-a531-11e7-88a7-29dfc61f5491.png)

[2017-09-29 14:16] zufanka commented on #313
@ca1yps0 here have this issue if you would :)
Thank you!

[2017-10-02 13:24] #280 closed

[2017-10-02 13:24] #306 closed, assigned to victor-nitu

[2017-10-02 21:57] georgiana-b opened #316 "Query for relationship details misses one part of the relationship"
For example in [this relationship details page](https://elvis-ember-staging.herokuapp.com/network/59d29bb72dcb563afb00003c/relationships/24989-1102500) the `procuring_entities` parameter is not present in the `query` of the request.

So, for relationship details you just make a request for either `api/v1/suppliers_details` or `api/v1/procuring_entities_details` and give both the `"suppliers": [x_s

[2017-10-04 10:37] chutko opened #317 "Improve Login and Register functionality"
i have studied how login and registration work now and i would like to propose changes into current functionality. this is quite related to #195, just extends to solution.
here is a brief example of login functionality and template structure (will be the same with register)
![elvis--usecase-login](https://user-images.githubusercontent.com/4135015/31171619-a386839c-a900-11e7-94c8-0b58c5265ae7.jpg)

[2017-10-05 12:07] georgiana-b commented on #243
I've seen this happening too on a german keyboard with "]" zooming instead of inputting a german letter.

[2017-10-05 12:19] georgiana-b opened #319 "Minimum necessary details about network"
If I share a link to a network, there is no way for you to figure what it represents:

- what country, years and market you're watching
- what node size and edge size means

This issue has been reported by multiple people including @chutko:

[2017-10-05 20:16] victor-nitu commented on #317
I'm happy to see this issue being tackled. Just in time for our authentication revamping, as it's gonna be redesigned on the backend as well.

So thanks for raising this and putting the effort to investigate potential scenarios. I'll reply on your points below.

---

1. Actions will be created and stored in the same place, route-agnostic (as in, not in routes/controllers, but rather in decoupled c

[2017-10-05 21:36] #313 closed, assigned to ca1yps0

[2017-10-06 06:47] victor-nitu commented on #317
Also linking #195 here.

[2017-10-06 06:53] victor-nitu opened #321 "Cannot create "sum" based networks"
The radios taking care of the sum/count query options are not doing anything, although they are pretty. Time for them to pull their own weight and actually help building the query.

The task is to turn them into radio buttons that work.

[2017-10-06 07:50] #321 closed, assigned to victor-nitu

[2017-10-06 09:52] chutko commented on #243
i suppose it is because it is bond to a specific key, not a specific sign. the solution remains the same though

[2017-10-06 10:06] chutko commented on #317
3. not sure i understand. for me the solutions im proposing seem like a basic things which any framework (including ember) should be able to do just by using core features (actions/including, whatever). maybe i just expressed that in wrong way.

to be general, my desire is to have action (click) firing a modal containing a form (on every page) and also having a separate page containing the same fo

[2017-10-06 13:52] zufanka opened #323 "Make clustered nodes look like any other nodes"
Now we have an icon for clustered nodes. This does not make sense actually, as the clustered nodes are the same company.
The clustered node should therefore be the same as any other nodes. They will keep the number of nodes in the clusters after the name of the node. The size will be dependent on the sum or count of the contracts.

[2017-10-06 15:40] zufanka opened #324 "Contracts do not show in the detail view"
![image](https://user-images.githubusercontent.com/2411066/31286040-41113ec8-aabd-11e7-8e8b-d9075b0c10d9.png)

https://elvis-ember-staging.herokuapp.com/network/59d7a31f2dcb561fd5000029/suppliers/1094879
https://elvis-ember-staging.herokuapp.com/network/59d7a1412dcb561fd5000027/procurers/36921

[2017-10-06 15:48] zufanka opened #325 "register does not work (for emails that are already registered)"
![image](https://user-images.githubusercontent.com/2411066/31286473-863de298-aabe-11e7-97bb-67a9d7d74564.png)

clicking send does not do anything .. if the email is known to the system I guess.
With other email it worked.

#fuckingwithauthentication

[2017-10-06 16:04] zufanka opened #326 "Selecting multiple instances of one company is tricky"
![image](https://user-images.githubusercontent.com/2411066/31286901-e6c64a5a-aabf-11e7-9371-baa55c5a48ec.png)

If I want to select all the IBMs, there is no easy way for me to do that.

- the search is not specific to the selection already made (known issue that will be tackled, but relevant here too)
- there are no wild-cards
- there are only N instances being returned from the backend
- I cant e

[2017-10-06 16:28] zufanka opened #327 "My Projects page: date"
![image](https://user-images.githubusercontent.com/2411066/31287924-423bfd1e-aac3-11e7-9653-3b18c158b8ad.png)

If the network does not have a name, it is undistinguishable from the others.
Until the thumbnails are there, can we replace the "14 days ago" with some real data?

[2017-10-06 16:28] zufanka opened #328 "My Projects page: sorting"
New networks created at the end of the page instead coming up as the first ones.

![image](https://user-images.githubusercontent.com/2411066/31288130-f31665de-aac3-11e7-849c-1be15d1e9550.png)

The "new visualization" prompt should also be moved as a first item instead of the last
![image](https://user-images.githubusercontent.com/2411066/31288141-fc3d6874-aac3-11e7-8b6f-6974873a4fab.png)

[2017-10-06 16:30] zufanka commented on #303
@georgiana-b will add this to the payload

[2017-10-06 16:32] zufanka commented on #287
And sometimes the edges disappear

https://elvis-ember-staging.herokuapp.com/network/59d7a9e92dcb561fd500002f , including the side panel

[2017-10-07 06:56] victor-nitu commented on #325
@georgiana-b I assigned you too to this, as it's part of the "things to keep in mind when designing the authentication backend" series :)

Are we going to fix this one, or leave it to rot in here until we change the backend?

[2017-10-07 06:58] victor-nitu commented on #326
It's not much we can do with the current setup (drop down based). Longer list is not ideal IMHO.

Can we reimagine the whole company thing, maybe? But in such way that the query builder won't be too messed up?

[2017-10-07 07:00] victor-nitu commented on #327
Good point. While this is a well known issue, it has been left untouched for too long. Time to do something about it.
@ca1yps0, are you taking it or I will? It's low hanging.

[2017-10-07 15:33] chutko commented on #327
just to let you know, giving a design boost up to this page is on my list

[2017-10-09 15:51] chutko commented on #326
related to #278
just different solution would be more suitable: suggestion search instead of select

[2017-10-10 08:40] zufanka opened #330 "Way too many contracts"
Why do these [two](http://ted.europa.eu/udl?uri=TED:NOTICE:108609-2013:TEXT:EN:HTML&src=0&tabId=1) [contracts](http://ted.europa.eu/udl?uri=TED:NOTICE:38399-2015:TEXT:EN:HTML&src=0&tabId=1) appear as 8 contracts [on the network](http://tenders.exposed/network/59dc84102dcb5613ab000001/suppliers)?

![image](https://user-images.githubusercontent.com/2411066/31377125-52f79474-ada7-11e7-90e9-b2b5fdfd93

[2017-10-10 11:48] victor-nitu commented on #330
Pastes here the raw payload coming from the backend on this: http://paste.opensuse.org/view/raw/42161786

Noticeable is that they do have different IDs in the database. Passing the ball to @georgiana-b on this one.

[2017-10-11 10:17] zufanka opened #331 "Users not logged in should not be able to go to query builder"
Could we change this button

![image](https://user-images.githubusercontent.com/2411066/31434812-c9151574-ae7d-11e7-8f72-29e6b9a6f416.png)

To "Create an account" if the user is not logged in?

and make this not visible / clickable also if the user is not logged in
![image](https://user-images.githubusercontent.com/2411066/31435007-6964edce-ae7e-11e7-8b6e-f41176084ddd.png)

[2017-10-11 10:23] zufanka commented on #167
@nightsh can we delete networks after the browser is closed??

[2017-10-11 11:40] zufanka commented on #328
@chutko will redesing the "my networks" page. It will correspond to the gallery page.

[2017-10-11 12:54] zufanka commented on #324
@ca1yps0 any updates?

[2017-10-11 13:00] zufanka commented on #243
@nightsh @ca1yps0  ?

[2017-10-11 13:02] zufanka commented on #118
I think this is solved

[2017-10-11 13:02] #118 closed

[2017-10-11 13:07] zufanka commented on #168
@chutko hey, there was an issue on this, what do you know :)
Does it make sense for me to do them now?

[2017-10-11 13:10] zufanka commented on #189
@nightsh I would leave the Newsletter for now for what it is. We can add Twitter to the footer. Big buttons can be modified as suggested, what do you think  @chutko ?

[2017-10-11 13:11] zufanka commented on #189
#331

[2017-10-11 13:12] zufanka commented on #189
#331 < related

[2017-10-11 13:13] zufanka commented on #207
This has changed in the meantime. I will close this for now, if we need modifications to the static pages, new issues should be created.

[2017-10-11 13:13] #207 closed

[2017-10-11 13:13] zufanka commented on #111
@chutko do we still need this issue to be open?

[2017-10-11 13:14] zufanka commented on #162
@georgiana-b does this issue still serve some purpose being open?
I think not?

[2017-10-11 13:17] zufanka commented on #287
@georgiana-b do you still have the original issue? There are some more issues with the saved networks, I suggest we open a new one with proper details if this one is solved?

[2017-10-11 13:31] zufanka commented on #295
@nightsh @ca1yps0 ?

[2017-10-11 13:31] zufanka commented on #294
@nightsh @ca1yps0 ?

[2017-10-11 13:32] zufanka commented on #163
@nightsh @chutko @georgiana-b will we do this or do we say nay?

[2017-10-11 13:34] zufanka commented on #323
@nightsh @ca1yps0 ?

[2017-10-11 13:34] zufanka commented on #309
@chutko will we keep it like this
![image](https://user-images.githubusercontent.com/2411066/31443411-acadf466-ae99-11e7-8e9e-4c6bdfb02ad3.png)

for now or shall we go ahead with implementing this?

[2017-10-11 13:57] zufanka commented on #304
@nightsh @ca1yps0

[Germany, Agricultural machinery](http://tenders.exposed/network/59de219c2dcb561714000005/suppliers)
After clustering, network comes out all weird
![image](https://user-images.githubusercontent.com/2411066/31444308-28568342-ae9c-11e7-888b-0aa81fa385b5.png)

need to turn on physics to make it draw normally.

![image](https://user-images.githubusercontent.com/2411066/31444567-de4d

[2017-10-11 14:05] zufanka commented on #164
@nightsh Should we close this and make an issue for each issue? :)

[2017-10-11 14:07] zufanka commented on #110
@chutko ?

[2017-10-11 14:08] zufanka commented on #88
@chutko @nightsh can we do the network loader? I will close 107, it's the same.

[2017-10-11 14:09] zufanka commented on #107
Closing, discussion and progress in #88 !

[2017-10-11 14:09] #107 closed

[2017-10-11 14:11] zufanka commented on #201
@nightsh yes sure ⬆️

[2017-10-11 14:11] #201 closed

[2017-10-11 14:32] georgiana-b commented on #162
I guess not, especially since we have the discourse thread now.

[2017-10-11 14:32] #162 closed

[2017-10-11 14:34] georgiana-b commented on #287
Yes. I still see only "Loading Network" when I go to "My project page".

[2017-10-11 14:37] georgiana-b commented on #163
Sure. The options will be even clearer when we get to the performance improvement part and start looking into the performance starts we gathered so far.

[2017-10-11 14:38] zufanka commented on #287
@nightsh @ca1yps0 ?

[2017-10-11 14:40] zufanka commented on #163
@chutko @nightsh does this fit somewhere in the query builder?
Perhaps cluster together somewhere with the issue of not allowing drawing too big of a networks.

[2017-10-11 22:28] georgiana-b commented on #330
After further investigation I found that some contracts from the original OpenTed dataset appear multiple times.
For example [the one you discovered](http://ted.europa.eu/udl?uri=TED:NOTICE:38399-2015:TEXT:EN:HTML&src=0) just appears twice in the `eu_ted_contracts` table from old OpenTed database.

I considered a contract to a be unique combo of

- `doc_no`(e.g. 2015/S 023-038399)
- `lot_number`,

[2017-10-12 11:12] chutko commented on #163
yep, i think it should be placed at the very end of query builder

[2017-10-12 11:16] chutko commented on #88
i hoped we will approach the loading from all sides as described in #107

if you guys really want to use the loader linked above, lets try. other option is to just use some nice plugin or animation

[2017-10-12 11:19] chutko commented on #110
we could display tiny flags somewhere around the label. but have in mind as we keep adding stuff to each node, things will get visually more clutered

[2017-10-12 11:39] chutko commented on #309
we agreed that the clustered node indicator should be rather obscure. but it should be there.

maybe we could just use a simple icon or circle to demonstrate this is a cluster (dont even have to display how many are there in the cluster)

![elvis--clustered-node-v2](https://user-images.githubusercontent.com/4135015/31494254-c3ce85a2-af52-11e7-946f-6a00b92a06d7.png)

i think to use a circle will be

[2017-10-12 11:41] chutko commented on #111
there are still few more to go: settings, my projects, terms and conditions.
but i can split them into separate issues

[2017-10-12 11:43] chutko commented on #189
well, unless we have ready made networks, we do not need button for it. same with newsletter. so better approach is to bring a feature and spread its application across the system after it is ready. this issue is kinda obsolete now

[2017-10-12 11:44] chutko commented on #168
lets do it, i will design. and than we can put the button on homepage as proposed in #189 :)

[2017-10-13 04:09] victor-nitu commented on #240
Can this be mitigated by having more precise selectors? It's messier to deal with it on the JS side. Not impossible, just a bit more complicated.

* `body.body-page`
* `body.body-page.body-network`

[2017-10-13 04:11] victor-nitu commented on #71
We will deal with this after switching over to the new backend. This issue is related to redefining some query params on a network, which still has a few unknown / undefined parts.

[2017-10-13 04:12] victor-nitu commented on #301
Got it into the issues pipeline, will tackle it shortly.

[2017-10-13 04:14] victor-nitu commented on #225
Does it make sense to set this up now, or shall we leave it to after launch day? It's a copy-paste job mostly, doable in .5 hrs together with setting up a Piwik instance. Or we could use Google Analytics. @zufanka what do you think is the appropriate timing for it?

[2017-10-13 04:14] victor-nitu commented on #137
This is blocked by the backend migration. Will happen after fixing up the deployment strategy for it.

[2017-10-13 04:18] victor-nitu commented on #327
@chutko so you wanna block this until revamping the design? It's fine by me, just let us know so we won't spend time on the current page design if we'll be having a new one soon.

[2017-10-13 04:19] victor-nitu commented on #307
Still didn't get to look into it. Marking it as priority, as it breaks functionality.

[2017-10-13 04:19] victor-nitu commented on #67
Blocked by backend migration, as we'll have a completely different auth mechanism.

[2017-10-13 04:21] victor-nitu commented on #167
It's a bit unreliable to do so. I'd go with time based expiration of anon. networks, if that complies with the requirements. Agreeing with @georgiana-b on this :)

[2017-10-13 04:22] victor-nitu commented on #236
Not a priority for now, leaving it until backend migration is finished.

[2017-10-13 04:23] victor-nitu commented on #69
This is not blocked anymore. However, we need to think about whether or not we want the backend to compute something for this, or we should just produce the data on the client.

Pinging @georgiana-b, let's discuss how it'd be easier to implement this.

[2017-10-13 04:24] victor-nitu commented on #258
Blocked by backend migration, as payload structure will change drastically.

[2017-10-13 04:24] victor-nitu commented on #178
Closing this one, pipeline is complete and fully automated now.

[2017-10-13 04:24] #178 closed

[2017-10-13 04:26] #227 closed

[2017-10-13 08:04] georgiana-b commented on #330
I removed all the duplicates and updated the indices. The networks were already made have not been regenerated and are still wrong so please make new networks.
Here is a [regenerated version](http://tenders.exposed/network/59e070872dcb562d81000002) of the [one you posted](http://tenders.exposed/network/59dc84102dcb5613ab000001).

[2017-10-13 08:05] #330 closed, assigned to nobody

[2017-10-13 08:35] chutko commented on #69
the attributes of the client play an important part of performance. i think from backend there should come some evaluation of the queried network's complexity.

that could be our first step - take variables like number of nodes and connections between them and present user with the network complexity based on these values.

after we have this ready, next step could be considering client's capabili

[2017-10-13 08:42] chutko commented on #327
i want to keep the displayed data on this page basically the same. just was thinking about displaying the list linear ordered by date. so i would propose you guys fix the data issues (if it is an easy task) and i will redesign after (or during, on /examples page)

[2017-10-13 08:47] chutko commented on #240
well i have set up the selectors so they work with how the body classes are set up currently. just there is not much logic in it. logic is all i am trying to achieve

[2017-10-13 10:55] #245 closed

[2017-10-13 10:59] #324 closed, assigned to victor-nitu, ca1yps0

[2017-10-13 11:01] ca1yps0 commented on #263
ok. i'll look into it. i'm sure i had a reason for it . i just don't remember what was it...

[2017-10-13 11:06] chutko commented on #263
i have already fixed this and everything is now in single footer.hbs

[2017-10-13 11:06] #263 closed

[2017-10-13 11:17] chutko opened #334 "Reloading Settings page creates error and displayis nothing"
if i go directly to http://localhost:4200/account/settings, there is nothing but a dark background.
the only way to come there and see the content is by clicking the settings link in the navbar.

also, when i edit the template, the page refreshes and there is no content just a dark background. it works normally on production though: http://tenders.exposed/account/settings

console output:
[code]

[2017-10-13 11:22] chutko commented on #323
i think this is low hanging as soon as we agree on the solution.
btw quite same issue as #309

[2017-10-13 12:31] chutko commented on #317
okay, i tried to catch it all in the following flowchart:
![elvis--login-register-flowchart](https://user-images.githubusercontent.com/4135015/31546276-e4b48b9c-b022-11e7-8bb4-11a856af02b8.png)

@nightsh @ca1yps0 who shall i assign this to?

i will start working on HTML/CSS as soon as the templates are ready. the goal of this task is to logically separate markup into few files so the templates can

[2017-10-13 12:38] victor-nitu commented on #317
Ping @georgiana-b, does it make sense to sync it with backend auth?

[2017-10-13 14:27] victor-nitu commented on #163
And... what should it adjust then? Filtering out stuff under a user defined threshold and resaving the network without the offending nodes/edges?

As I see it now, I'd do this on frontend, by filtering out weights after receiving the payload from our API. Then, send the network with filtered items back to the API to permanently store it this way.

If we only do it after the network loads, it defea

[2017-10-13 14:30] victor-nitu commented on #88
This is a slightly more technical issue, focusing on some Ember specifics rather than the design of it. I will adjust it to make a bit clearer, as loading is a twofold action, it requires a design and a framework implementation.

Or we can just keep a single issue and pass the ball from design to development or the other way around. But as of now, I think they're overlapping a bit more than needed

[2017-10-13 14:33] zufanka commented on #304
@nightsh is this a cadidate for a HOTbug?

[2017-10-13 14:39] chutko commented on #195
this is part of #317. maybe we can even delete it if we agree on the flow chart in #317

[2017-10-13 14:40] zufanka commented on #163
@nightsh isn't it a big deal? That is good to hear :)

I would implement a single checkbox, standardly unchecked "Only show most active companies and governments" or something like that, at the bottom of the query builder.

[2017-10-13 14:40] zufanka commented on #164
@nightsh this can be closed, right?
We need to do testing and stuff and see what works with big networks and put them in concrete issues I think.

[2017-10-13 14:42] zufanka commented on #167
@nightsh I think 2 weeks is long, we can also do that once a couple of days.
Even more incentive to create an account :)

[2017-10-13 14:43] zufanka commented on #167
@nightsh this is anyway for now blocked by the new backend, or not?

[2017-10-13 14:44] zufanka commented on #189
@chutko I agree. @nightsh ?

[2017-10-13 14:44] chutko commented on #194
to add to the abovementioned, tooltips can be used to explain/display information which is not necessary related to the context.

for now, its a future improvement.

[2017-10-13 14:46] zufanka commented on #88
@nightsh @chutko so where is the ball now?

[2017-10-13 14:48] chutko commented on #164
also, labels 1st milestone and 2nd milestone can be deleted. we use different milestone system now

[2017-10-13 14:51] chutko commented on #163
from one point of view, it is good to increase rendering performance to reduce the network on the backend.

on the other side, after rendering, it is good to have the option to display everything if the user decides.

something to think about ;)

[2017-10-13 14:52] chutko commented on #90
@zufanka i see this as future feature, maybe we can have label for that?

[2017-10-13 14:58] chutko commented on #88
personally i think the loading animation should be handled by pure CSS. the HTML element containing the loading animation (+overlay etc) should be displayed just by switching class.

HTML:
`<div class="loading is-loading"><animated-stuff-html></animated-stuff-html></div>`

CSS:
[code]

[2017-10-13 14:59] zufanka commented on #309
I think both solutions are fine, pick whichever is easier :)

[2017-10-15 08:20] georgiana-b commented on #69
Let's come back to this in November

[2017-10-16 06:05] georgiana-b commented on #317
The specs didn't change, we'll just change the technical implementation a bit so no, this doesn't concern me.

[2017-10-16 07:15] georgiana-b commented on #326
The backend already supports the equivalent of `ibm *` since it's an autocomplete but I have to remove the limit of 10 matches.

The main problem of UX seems to be that these matches are not automatically selected, you have to select each manually.
We could provide a way for the user to say: Ok, this is my search. Make a network of all companies returned by it.
For example we could show suggestion

[2017-10-16 08:31] georgiana-b commented on #303
@zufanka This was already present in the actor details payload as `median_tenderers` and as a red flag.

I noticed that on the backend the flag is being calculated only for suppliers. Does it make sense to show `average_competition` for procurers nodes and in procurer details?

[2017-10-16 10:08] georgiana-b commented on #167
Yes.
I synthesized this discussion into specs in tenders-exposed/elvis-backend-py#10. You are all welcomed to go take a look at them and make any objections.

[2017-10-18 09:29] zufanka commented on #303
@georgiana-b

yes it does! Governments can tailor tenders. That would mean that the median bids on their tenders would be 1 too.

[2017-10-18 14:26] georgiana-b commented on #303
The backend side of things was solved in tenders-exposed/elvis-backend#69. Please see the description of that PR for what has changed in the payload.

[2017-10-20 11:45] zufanka opened #337 "Empty labels (company names) will not dissappear after zoom out"
![image](https://user-images.githubusercontent.com/2411066/31819313-72a22882-b59c-11e7-8ef0-dcce7251375c.png)

[example](https://elvis-ember-develop.herokuapp.com/network/59e9df882dcb56211800002d)

[2017-10-20 11:45] victor-nitu opened #338 "Clustering happens after network stabilization"
As expressed in #304, part of the weirdness there is that after clustering the network's layout is all messed up.

![](https://user-images.githubusercontent.com/2411066/31444308-28568342-ae9c-11e7-888b-0aa81fa385b5.png)

This is very likely due to the fact that the network:

* loads
* does physics simulation
* finished simulation iterations
* clusters
* renders

We need to cluster before doing any

[2017-10-20 11:51] #309 closed, assigned to victor-nitu, ca1yps0, chutko

[2017-10-20 11:51] #323 closed, assigned to victor-nitu, ca1yps0

[2017-10-20 12:03] victor-nitu commented on #304
@ca1yps0 would it help if we do this sequence:

* click the clustering modal close button
* deactivate the network service
* send the payload, receive a response (stuff that already happens)
* after response / redraw, activate the network service

Could it also be that the computed properties are not getting... computed?

[2017-10-20 12:27] chutko opened #339 "Adjust designs inside network canvas"
i would like to refine visual of some things inside the network canvas.
if we zoom the network in, the labels and flags are all around the place as well the fonts are too huge. so i propose these changes:

1. set max font size to the labels and flags (from e.g. zoom 5, they will not increase in size) if possible
2. refine colors of the flags and labels (mainly transparent borders and backgrounds)

[2017-10-20 12:45] chutko opened #340 "Create modal component with materialize modal"
we are using several modal windows (clustering, embed, login etc), but we are not using unified HTML/CSS markup to display them. all modals should use the same core functionality.

in ember-cli-materialize there is a modal window component we can use.
http://mikeworks-ui.herokuapp.com/oss/ember-cli-materialize

so the way i imagine how to use this functionality:
components/modal.hbs
[code]
account

[2017-10-20 12:46] chutko commented on #339
@nightsh you wanted to give me some hints about this

[2017-10-20 15:12] georgiana-b opened #341 "Connection between network zoom and export preview zoom is confusing"
Currently in the preview I can zoom *out* only a few orders of magnitude of the network zoom and I can't zoom *in* more than the network zoom.
If I want to zoom more, I have to close the preview, zoom the network then open back the preview.

The fact that preview zooming depends on network zooming is not intuitive and without it using the preview can be hard because the nodes are too small.

I thi

[2017-10-21 19:06] zufanka commented on #304
@nightsh update! After you try to cluster again, the sidebar is back, but you can definitely not cluster anymore

![image](https://user-images.githubusercontent.com/2411066/31855084-a47076e0-b6a3-11e7-93ed-44c1a84ee041.png)

[network](https://elvis-ember-develop.herokuapp.com/network/59eb99252dcb5621180000b1/suppliers)

[2017-10-22 17:09] chutko commented on #304
@nightsh although this issue rather concerns what happens after closing the clustering dialogue:

be aware that i've made a big commit into files concerning clustering yesterday (the pull request didnt pass yet, maybe its good to merge)

[2017-10-24 00:09] victor-nitu opened #343 "Upgrade to Ember 2.16.2"

[2017-10-24 00:30] victor-nitu commented on #189
I would close this entirely. Anyone objects?

[2017-10-24 00:31] victor-nitu commented on #225
Ping @zufanka should we collect usage stats already?

[2017-10-24 00:34] victor-nitu opened #346 "Inform visitors about cookies"
We need to make sure everyone agrees to our cookies before using the app.

We could also integrate a witty message, like "we have the best cookies".

@chutko, what do you think it should look like? We need to look around the app and see if we already have something useful pulled in first (hint: materialize components).

[2017-10-24 00:35] victor-nitu commented on #199
Closing as this ship has sailed a long, long time ago...

[2017-10-24 00:35] #199 closed

[2017-10-24 00:37] victor-nitu opened #347 "Create develop.tenders.exposed"
This would replace the rather ugly elvis-ember-develop.herokuapp.com

[2017-10-24 00:38] victor-nitu commented on #287
@georgiana-b I cannot reproduce it in my env. Can you please confirm it again (one last time)? Thanks!
p.s. feel free to close this if it's fixed

[2017-10-24 00:55] #347 closed, assigned to victor-nitu

[2017-10-24 00:55] victor-nitu commented on #347
http://develop.tenders.exposed/

[2017-10-24 01:01] victor-nitu commented on #331
The initial idea was to tease the user a bit, see what are the options inthe QB. We should probably let the user see and manipulat the QB, and be a bit inventive about telling them to register before they spend too much time pressing buttons and crafting the perfect query.

Based on the results so far, I'm gonna tag @chutko here for being my fav UX person to ask. Lead my editor, captain, what shal

[2017-10-24 07:12] georgiana-b commented on #287
Still happens for me on production, staging and develop.

[2017-10-24 07:49] chutko commented on #331
@nightsh
what @zufanka wrote above is what we both agreed on. its the easiest and least annoying temporary solution until we have functionality for public networks ready

[2017-10-24 07:56] chutko commented on #346
this is a thing i want to spend as less time as possible at (as it doesnt really bring much into the value of elvis). there are already good solutions out there:
https://github.com/insites/cookieconsent
https://cookieconsent.insites.com/download/

the design will follow functionality. @nightsh please make the plugin running and i will configure the settings so it looks friendly with our design

[2017-10-24 07:57] victor-nitu commented on #287
Closing as a duplicate of #307

[2017-10-24 07:57] #287 closed

[2017-10-24 07:58] chutko commented on #225
not necessary right NOW, but once more people start using elvis, it could be useful. currently its better to collect usage stats just by asking people directly :) but as i'm looking at this issue, we have already spent .5 hours talking about it

[2017-10-24 08:11] victor-nitu commented on #331
Alrighty, I'll open a PR shortly with these modifications.

[2017-10-24 11:25] victor-nitu opened #349 "Remove Bower dependencies"
We should migrate all project dependencies to NPM instead of using two different package managers.

[2017-10-24 11:36] #343 closed, assigned to victor-nitu

[2017-10-24 11:36] #301 closed

[2017-10-24 12:52] victor-nitu commented on #349
Further reading: https://simplabs.com/blog/2017/02/13/npm-libs-in-ember-cli.html

[2017-10-24 12:59] victor-nitu opened #350 "Load moment and lodash as AMD modules"
More reading here: https://simplabs.com/blog/2017/02/13/npm-libs-in-ember-cli.html

Then we will be able to `import` them. Neat, right?

[2017-10-26 10:33] chutko commented on #326
what we need is a searchable collection of companies and second collection which user can add his selected companies into. so user types something into a search field, matching companies display and you select them one by one (i suppose its not that much work, and we can also have button "add all") and add them to a collection which is displayed inside the search input.

that is a definition of a

[2017-10-27 12:19] chutko opened #352 "Component displaying collection of networks"
we are displaying collection of networks both on My Projects page and in the near future, on the Selected Public Networks page (Gallery).

i would like to design a component displaying list of networks. based on html markup and css classes, each item (network) in the list can be rich full of data or just very simple according to the needs of specific view. here are basic parts i would like to incl

[2017-10-27 17:29] chutko opened #353 "filterable list of networks on My Projects page"
once we have #352 ready, implementing a filter / search for the project list will be useful

related to #352

[2017-11-03 09:05] victor-nitu commented on #339
There are several ways one can work on this.
The most straightforward way is to directly hack the `vis` package code inside `node_modules`. However, while this is simple to accomplish, it's dangerous to do so because you might easily lose your changes.
If you do this, any changes you make on the `vis` code would have to be pushed to the vis repo.

So you should probably:
* clone the `vis` repo fro

[2017-11-03 14:43] zufanka commented on #352
@chutko thank you! I am sorry I am a bit late to the party, but I thought about it better.

It looks good content wise, however I think the rows it's a bit big for the purpose: just quickly find a network I was working on.  Also: you want to know when you created the network and when you accessed it for last. The "yesterday" is not enough. The list should also be sorted on the "last accessed" date

[2017-11-03 15:20] chutko commented on #352
@zufanka this one is the most richest view of the project list you can achieve. but i tried to make it so you can remove any of those subcomponents (like years, description or thumbnails) and it would still look fine and not fall apart.

so maybe, for the list of Public Networks this complex view is fine. and yes, for My Projects, these things you said are totally in place.

I would like now to co

[2017-11-06 10:52] zufanka opened #355 "Unify the terminology"
It's not clear what they are always. A more familiar name would be preferable.

Suggestion:
procurers -> government
suppliers -> companies
relationships -> contracts / tenders

clustering -> merging
"New visualization" -> "Create new network"

![image](https://user-images.githubusercontent.com/2411066/32437858-eab890f0-c2e8-11e7-9515-1777fe0a198b.png)

![image](https://user-images.githubuserconten

[2017-11-06 12:11] chutko opened #356 "rethinking and redesigning Detail view"
the Detail (procurer/supplier/relationship/contract) modal is confusing and user can get lost easily in it. deserves overthinking and different visual approach. for now, we are collecting ideas and minor issues we are aware of from user interviews. in the next weeks, i would like to start designing and

**ideas**
- bordering the Detail view modal, separating it from the sidebar
- dividing data int

[2017-11-06 12:24] chutko commented on #355
also, small thing but reasonable: the order of the actors should be the same everywhere - first governments, then companies, then contracts

[2017-11-07 14:39] chutko commented on #339
it hurt badly, thanks to @nightsh's patience with making it running, i have adjusted fonts, paddings and borders of the network labels. looks less disturbing now.

i have also turned off keyboard controls until #243 is solved

[2017-11-08 09:18] #339 closed, assigned to victor-nitu, chutko

[2017-11-08 12:45] victor-nitu opened #358 "Truncate long network labels"
Currently, long labels are displayed as they are, which is disturbing for really long names.

The task is to implement truncation of long names at a given number of characters. Ideally this would be done in our `vis` fork, but otherwise we could truncate them in the network service if this takes too long.

Bonus points if we could display the full name on hovering the truncated label.

[2017-11-08 12:54] chutko commented on #358
also, our vis.js fork should be ready if the label is too long - it should split to multiple lines. according to vis.js documentation, this is possible by adding `\n` directly into the label string.
example:
we have a node named `Lazy dog jumps over the river` which is a string 29 characters long.
if we want to limit each line to 15 characters, we need a function which runs loop over the string an

[2017-11-08 13:09] chutko opened #360 "Saving networks"
**Problem:** currently, if the user is logged in, every network he creates is automatically saved. this creates mess in the My Projects page and discourages user from reusing networks he has.

**Solution:**  networks will not be saved automatically anymore. user will have to save them manually. the goal of this issue is to discuss possible scenarios this brings to the user and specify further step

[2017-11-08 14:33] zufanka commented on #360
![image](https://user-images.githubusercontent.com/2411066/32554301-9fc1113c-c499-11e7-8f7d-e7883d69f995.png)

See the diagram above.

We need to be able to validate whether a network is saved. My proposal (perhaps not super sophisticated, but easy I believe):
- default network name is an empty string
- user needs to specify a name to the network once s/he saves it. The name has to be minimum of 3

[2017-11-08 15:03] zufanka commented on #360
@chutko anything you want to add?

[2017-11-08 18:47] chutko commented on #360
not really right now, i will think how will all this affect the UI - a Save button needs to be added somewhere, sidebar settings adjusted/removed, network query displayed, notification and prompt modals designed. many factors to think about

[2017-11-16 15:05] victor-nitu opened #363 "Do not reload the page upon login"
On logging in the page os refreshed and user returned to the home page.

We want the user to remain inthe same location, possibly keeping any completed forms as they are.

This is especially annoying on the query builder.

[2017-11-16 15:06] #195 closed

[2017-11-16 15:06] #317 closed, assigned to victor-nitu, chutko

[2017-11-19 19:46] #304 closed, assigned to victor-nitu, ca1yps0

[2017-11-19 20:04] victor-nitu commented on #358
@zufanka what do you think? Truncate them and rely on info box for showing the full name, as a first step?

[2017-11-19 20:25] victor-nitu opened #365 "Disable automatically stopping physics on networks"
As the title says. Stopping physics before laying out the network renders it in awful positions:

![image](https://user-images.githubusercontent.com/1579997/32995088-8319bf10-cd78-11e7-9057-0736b529d399.png)

[2017-11-19 20:30] zufanka commented on #358
@nightsh that sounds good to me!

[2017-11-19 22:14] zufanka opened #366 "Contracts not visible"
![image](https://user-images.githubusercontent.com/2411066/32996149-4d348004-cd7f-11e7-8010-54edc0947a2c.png)
https://tenders.exposed/network/5a11fee12dcb567ce0000041/suppliers/1110586

or do we wait for the new backend to fix this?

[2017-11-19 22:15] zufanka commented on #360
@chutko any deeper thoughts on this? :)

[2017-11-19 22:15] zufanka commented on #111
@chutko that means this one can be closed?

[2017-11-19 22:16] zufanka commented on #189
@nightsh no objections :)

[2017-11-19 22:16] #189 closed

[2017-11-19 22:17] zufanka commented on #168
@chutko any progress on this?

[2017-11-19 22:18] zufanka commented on #286
@nightsh let's close this issue for now I think. We don't have the time to fuck it up and there is more pressing stuff on our plates. I think we might need to have a better look at this part of the query builder anyway in the future. Agreed?

[2017-11-19 22:18] zufanka commented on #355
@nightsh @ca1yps0 @georgiana-b more ideas on this?

[2017-11-19 22:19] zufanka commented on #356
ping @nightsh @ca1yps0

[2017-11-19 22:20] zufanka commented on #325
ping @georgiana-b
still needs to be open?

[2017-11-19 22:21] zufanka commented on #137
ping @georgiana-b @nightsh

[2017-11-19 22:22] zufanka commented on #326
@georgiana-b shall we leave this issue for the future or is it doable until the end of december?

[2017-11-19 22:23] zufanka commented on #338
is this the same as https://github.com/tenders-exposed/elvis-ember/issues/365 ?

[2017-11-19 22:23] zufanka commented on #365
is this the same as https://github.com/tenders-exposed/elvis-ember/issues/338 ?

[2017-11-19 22:24] zufanka commented on #352
@chutko updates on this?

[2017-11-19 22:24] zufanka commented on #316
@ca1yps0 could you please pick this up this week?

[2017-11-19 22:25] zufanka commented on #243
@nightsh could you please have a look at this?

[2017-11-19 22:25] zufanka commented on #305
@ca1yps0 could you please pick this up this week?

[2017-11-19 22:29] #328 closed, assigned to victor-nitu, chutko

[2017-11-19 22:29] zufanka commented on #274
@ca1yps0 could you please pick this up?
It's a very old issue

[2017-11-19 22:30] zufanka commented on #86
ping @nightsh ..
what do you mean with "network card" ?? Is it related to https://github.com/tenders-exposed/elvis-ember/issues/352 ?

[2017-11-19 22:32] zufanka commented on #67
ping @nightsh is this still relevant?

[2017-11-19 22:33] zufanka commented on #73
@nightsh @chutko we won't create thumbnails. too much work, not that important. Related: https://github.com/tenders-exposed/elvis-ember/issues/352

[2017-11-19 22:33] #73 closed

[2017-11-19 22:36] zufanka commented on #167
ping @georgiana-b is there an issue for this in the new backend?

[2017-11-19 22:38] zufanka commented on #84
@georgiana-b could you please add this issue on the new backend?

[2017-11-19 22:38] zufanka commented on #85
@georgiana-b could you please add this issue on the new backend?

[2017-11-19 22:39] zufanka commented on #217
ping @nightsh
could you please pick this up? I think it's low hanging

[2017-11-19 22:41] zufanka commented on #240
ping @chutko @nightsh

[2017-11-19 22:43] zufanka commented on #295
ping @nightsh

[2017-11-19 22:48] zufanka opened #367 "Make the CPV selector sectors colors white"
![image](https://user-images.githubusercontent.com/2411066/32996496-c59c7200-cd83-11e7-9bbc-b4f48d7cc71c.png)

They blend with the background too much now.
White is better visible. Optionally adding some font weight (this is 600)

![image](https://user-images.githubusercontent.com/2411066/32996537-20a63492-cd84-11e7-9bb6-e1bdc2b869d2.png)

[2017-11-19 22:51] zufanka opened #368 "Sort sidebar automatically ascending on sum or count"
![image](https://user-images.githubusercontent.com/2411066/32996551-68b115fe-cd84-11e7-8ef3-4fdae8c0e0c0.png)

[2017-11-19 22:56] zufanka opened #369 "Make the nodes of bigger values bigger"
Node sizes look now very much the same even if the difference is big. The difference should be very well visible from the largest zoomed out level.

![image](https://user-images.githubusercontent.com/2411066/32996590-e26fef64-cd84-11e7-8484-08a4348e3dba.png)

https://tenders.exposed/network/5a120a5e2dcb567ce0000045/suppliers

[2017-11-20 09:30] victor-nitu commented on #369
if we add more elements to the network, it's going to look too crowded.

My suggestion is to tweak min/max node zoom, according to this: http://visjs.org/docs/network/nodes.html (see "scaling" section, click to expand to options)

[2017-11-20 10:00] zufanka commented on #369
What do you mean more elements @nightsh ?
I mean that the scaling should be different. Bigger values should lead to bigger nodes, eg:

![image](https://user-images.githubusercontent.com/2411066/33012716-0c022858-cde2-11e7-944e-9a10579e2121.png)

I changed the name of the issue, perhaps it was unclear :)

[2017-11-20 15:02] victor-nitu commented on #338
No, not really, but fixing that one would likely fix this as well.

[2017-11-21 10:20] victor-nitu commented on #67
Yes, but it is currently blocked by the new authentication system. Will deal with it after we have another backend.

[2017-11-21 10:21] victor-nitu commented on #86
Yes, closing this one as the other one has more complete and up to date info.

[2017-11-21 10:21] #86 closed

[2017-11-21 10:22] victor-nitu commented on #274
I cannot reproduce it anymore. Closing.

[2017-11-21 10:22] #274 closed

[2017-11-21 10:24] victor-nitu commented on #305
It was fixed by this commit: e9f5b5b3baced48edd6b14b7fe9c761376d97b11

[2017-11-21 10:24] #305 closed, assigned to victor-nitu, ca1yps0

[2017-11-21 10:24] victor-nitu commented on #243
Fixed in e9f5b5b3baced48edd6b14b7fe9c761376d97b11

[2017-11-21 10:34] victor-nitu commented on #365
No, but if will likely fix that one too.

[2017-11-21 10:40] victor-nitu commented on #137
I unassigned @georgiana-b and made the issue only related to frontend. Will make the setup soon, so production environment traffic will be logged.

[2017-11-21 11:06] #338 closed, assigned to victor-nitu, ca1yps0

[2017-11-21 11:06] #365 closed, assigned to victor-nitu

[2017-11-21 11:26] #217 closed

[2017-11-21 11:26] #295 closed

[2017-11-21 11:36] victor-nitu commented on #286
Agreed.

I would like to deploy an old version of elvis with the cpv popup somewhere and ask for ideas, or something... I am feeling completely lost tbh, but we do miss a lot of cpv functionality now (search!) that we could integrate into the design (we have it) if only we'd know how to arrange things in there. We need more feedback on this, I guess.

But I got sidetracked. As far as this issue go

[2017-11-21 11:36] #286 closed

[2017-11-21 11:39] victor-nitu commented on #366
![image](https://user-images.githubusercontent.com/1579997/33070622-54ea3972-cec1-11e7-8278-1cdd44592117.png)

This can be safely closed now.

[2017-11-21 11:39] #366 closed, assigned to victor-nitu

[2017-11-22 12:02] chutko commented on #326
i think this can wait. it is one of smaller improvements which demands more research and analysis

[2017-11-22 13:19] chutko commented on #111
yep :)

[2017-11-22 13:19] #111 closed

[2017-11-22 13:56] chutko commented on #352
i will now implement this into MyProjects page as it is more functional than what we have currently. further improvements will follow based on discussion

[2017-11-22 14:45] chutko opened #374 "MyProjects page: use .project-list component on"
In the issue #352 i have created a component for displaying list of projects. In this issue i would like to use this component and display My Projects in a more functional way than it is now.

[2017-11-22 14:49] chutko commented on #374
i have already implemented the component into foreach loop and used most variables which were in the code. however, still there is some data missing, namely:
- public/private network indicator
- last updated date
- number of procurers, suppliers, connections
- number of companies (if) in the query

could @nightsh or @ca1yps0 have look at it?
the branch name is `feat/myprojects`

after that, search

[2017-11-22 16:52] victor-nitu commented on #374
care to open a PR?

[2017-11-24 13:53] chutko commented on #352
im closing this one. applying this component to specific templates will take place in different issues

[2017-11-24 13:53] #352 closed, assigned to chutko

[2017-11-24 16:52] chutko opened #376 "Restyling the login modal"
once the modal component is ready (#340), use the component to create a fancy login modal.

[2017-11-24 16:54] chutko commented on #340
can be closed i guess, right @nightsh? i just tested the component when styling new modal in #376

[2017-11-24 16:58] chutko commented on #376
@nightsh @ca1yps0

i have successfully restyled new login modal. but few things are still not functioning:
**1. closing the modal by clicking .modal-close, hitting ESC key or clicking outside modal** - this works on the component demo page, but not in elvis: https://mike-north.github.io/ember-cli-materialize/#/modal
2. link to Register page
3. closing the modal when redirecting to Lost password or

[2017-11-24 16:59] chutko commented on #340
update: closing the modal by clicking the close button, hitting ESC key or clicking on the modal backdrop does not work - this works on the component demo page, but not in elvis:
https://mike-north.github.io/ember-cli-materialize/#/modal

[2017-11-24 17:05] chutko commented on #168
@zufanka i will use the component i created for list of projects. can you prepare some networks already? what data should we display by each network item in the list?

[2017-11-25 21:55] #303 closed

[2017-11-28 10:53] chutko commented on #369
the range of the node values can go 0-100 or 0-10. still i think we should maintain the size to be linear to the node value. otherwise people will not realize how big some company really is.

we need some minimum node size ofc, so even the tiniest values do not get lost in the network. however, im not concerned about really big nodes making visual problems. if there is a huge node, it will be alon

[2017-11-28 14:10] zufanka commented on #369
@georgiana-b do you think it makes sense ta calculate and hard code buckets for node sizes for the actual data we have?

[2017-11-29 10:23] chutko opened #378 "infobox: better appearance and placement"
formerly this infobox was designed to appear near the network node/edge on mouse over it. this solution was difficult to implement, so currently infobox appears at a steady position - in the top left corner of the network.

in this issue i would like to discuss ways to improve the infobox user experience

**known problems:**
- according to user interviews, most users didnt notice when the box appe

[2017-11-29 14:12] chutko commented on #378
i have improved the visual of the infobox already. i hope it is more noticable and tidy now.
if if would function like a tooltip over node/relationship, that would be the best

![elvis--infobox](https://user-images.githubusercontent.com/4135015/33477988-0f3df96c-d688-11e7-99f2-05b92363da60.png)

the text problems remain. also some values are hardcoded rather than called from variable values

[2017-11-30 13:46] victor-nitu commented on #331
The "New Visualization" link is still shown if you're not logged in, but dead. We need to direct visitors to the "login" or "register" page, or just leave it out completely.

[2017-11-30 14:40] zufanka commented on #110
A complex problem to solve, closing for now.

[2017-11-30 14:41] zufanka commented on #110
A complex problem to solve, closing for now.

[2017-11-30 14:41] #110 closed

[2017-11-30 14:42] zufanka commented on #163
@nightsh @chutko @georgiana-b we won't get into this in the near future I think. Closing for now, kept the FUTURE label so we can come back to it later.

[2017-11-30 14:42] #163 closed

[2017-11-30 14:43] zufanka commented on #164
Ongoing process and this is a vague issue, closing this for now.

[2017-11-30 14:43] #164 closed

[2017-11-30 15:07] zufanka opened #380 "CPV selector has all the CPVs"
Instead only the first 4 levels

![image](https://user-images.githubusercontent.com/2411066/33437507-726e511c-d5e8-11e7-9e9d-29e6cb2739bb.png)

[2017-11-30 15:37] zufanka commented on #168
Here is one network we can put on display, working on more.
Data to display: title, description, thumbnail, country flag, years, sector name & CPV code.
Missing something @chutko ?

Page intro:
These example networks show how the government awarded contracts in a specific sector over the years 2006 to 2015

**Title**: The big four accountants
**Description**: Bookkeeping of the Dutch government is

[2017-11-30 20:31] chutko opened #381 "query builder: mark step 3 (Markets / Fields) as completed when CPV checked"
add class `.completed`to the `.wizard-step` element containing selection of CPV codes in the query builder's step 3.

whenever at least one item is checked from the CPV list, the step has class `.wizard-step.completed`

[2017-11-30 20:34] chutko opened #382 "query builder: add search to the CPV checklist"
make CPV list (Markets/Fields) in the query builder searchable by adding a search input which directly filters the list of CPV codes as the user is typing into it

[2017-12-01 08:26] zufanka commented on #367
@chutko what do you think?

[2017-12-01 08:29] zufanka commented on #331
@nightsh we can leave it out completely if that is not too much hassle

[2017-12-01 08:57] zufanka opened #383 "Clarify terminology"
**Sidebar:**
- remove ID
- “count”  -> “amount of contracts”
- "sum"  -> “value of all contracts”

![image](https://user-images.githubusercontent.com/2411066/33474944-cc0b2de6-d67c-11e7-92db-0cc4ca4640a9.png)

**Infobubble:**
-  “count” -> “amount of contracts”
-  "sum"  -> “value of all contracts”
- red flag "x_same_city"  -> "company from the same city"
- red flag "median_bids" -> "mostly single

[2017-12-01 09:08] zufanka opened #384 "Sidebar and navbar should be open by default"
Users can not find it. It is better to have them open at loading and give the users opportunity to close them.

[2017-12-01 09:14] zufanka opened #385 "Clean up network tools and add tooltips"
Hover tootips:

![image](https://user-images.githubusercontent.com/2411066/33477204-222657fc-d685-11e7-9f9d-335bbb0bb117.png)

[2017-12-01 09:33] victor-nitu commented on #384
That would increase our initial loading time quite a bit. Are we sure it's a good trade off?

[2017-12-01 09:38] victor-nitu commented on #385
The gears icon is on the physics on/off button. Pinging @chutko for better icons, these were merely some approximate choosings so we can put *something* on that button 🙂

[2017-12-01 09:40] victor-nitu commented on #331
Nah, it's a few minutes fix. Will nail it when I'll be around that app section, which will happen very soon.

[2017-12-01 09:41] chutko commented on #378
@nightsh @ca1yps0 could you fix the hardcoded values?

[2017-12-01 09:45] victor-nitu commented on #380
is this a bug? 😮

After the first 4 depth levels the hierarchy stops, and they are all put on the same branch (4th).
Now what you're saying is that we should skip them entirely. This is doable, but we're losing some scenarios, such as users hunting a very specific 4th+ level CPV code, which would be swallowed by its ancestor in this case.

[2017-12-01 09:45] chutko commented on #331
i am fixing it.

[2017-12-01 09:46] zufanka commented on #384
Hm .. not sure, ideas @chutko ?

[2017-12-01 09:48] zufanka commented on #385
ah of course :) The icons are mostly fine. Tooltips will fix it. See updated picture.

[2017-12-01 09:50] zufanka commented on #380
oh! then we misunderstood each other :) I thought the lower CPVs would get merged into the uppermost branch. Nevermind! Let's leave it like this for now if it's working as designed!

[2017-12-01 09:50] #380 closed, assigned to victor-nitu

[2017-12-01 10:02] chutko commented on #168
okay, now i have added this first network to the Gallery page, but i have realized it is just hardcoded and i do not have any way to link specific network and call data like number of nodes etc.

therefore we need to have a collection of network IDs upon which a loop will be called to display data about these networks.

a job for @nightsh or @ca1yps0

[2017-12-01 10:04] victor-nitu commented on #168
I'd also randomize the appearance order, since we're here :-)

[2017-12-01 10:04] chutko commented on #384
to load the sidebar takes at most few seconds, i think its better if the user survives loading rather than not knowing about the existence of the sidebar

[2017-12-01 10:05] victor-nitu commented on #384
🤷‍♂️ Fine, we'll transition to that route by default.

[2017-12-01 10:06] chutko commented on #331
fixed via #386

[2017-12-01 10:06] #331 closed, assigned to victor-nitu, chutko

[2017-12-01 10:08] #137 closed

[2017-12-01 10:15] chutko commented on #383
also, remove "Sort By" from the sidebar select. if it is sorted by name by default, make this value selected

[2017-12-01 10:23] victor-nitu commented on #383
Moving this request over to #368

[2017-12-01 10:23] victor-nitu commented on #368
An mentioned by @chutko in #383:

[2017-12-01 10:27] zufanka opened #387 "Legend"
Display legend:

1. during loading
2. appear from the (?) button on the network tools.

[2017-12-01 10:28] zufanka commented on #387
![image](https://user-images.githubusercontent.com/2411066/33478725-9a327a14-d68a-11e7-8528-8bb5090b5bef.png)

![image](https://user-images.githubusercontent.com/2411066/33478735-9ed028e6-d68a-11e7-8e2a-8d8901062f8f.png)

@chutko I thought we can have more of them. They could appear randomly on loading and alltogether from the (?) button. Here are two of them, but I would also do the network setti

[2017-12-01 10:49] chutko commented on #385
for the gears icon, i would replace it with "play/stop" icon depending if the physics is on or off

for export, i would use a camera icon.

[2017-12-01 10:58] zufanka opened #388 "If there is no contract value data, it should not say 0 euro but "no data" or "N/A""

[2017-12-01 12:57] #388 closed, assigned to ca1yps0

[2017-12-01 14:20] georgiana-b opened #389 "Include new data in actor/relationship details"
What data should be included is still being discussed in [this Discourse thread](https://talk.tenders.exposed/t/changest-to-tender-details-page/107).

This issues exists to keep track of the progress in designing and implementing whatever we will decide to include.

[2017-12-01 14:53] georgiana-b commented on #378
@nightsh In tenders-exposed/elvis-backend#69, the following changes to this payload have been made:

- a field called `average_competition` has been added to each node for display in node details (contrary to what you said [here](https://github.com/tenders-exposed/elvis-ember/pull/379#issuecomment-348485568))
- `median` flag from nodes has been renamed to `average_competition`

[2017-12-01 14:54] victor-nitu commented on #378
![image](https://user-images.githubusercontent.com/1579997/33488075-289deb44-d6b8-11e7-9720-c90eac4aa7ed.png)
This led to my error above. I suppose we need to regenerate every network in order to see it, right?

[2017-12-01 14:55] georgiana-b commented on #378
Yes, only the  networks made from that commit on will have it

[2017-12-01 14:56] victor-nitu commented on #378
ok, I will add it

[2017-12-01 15:10] georgiana-b commented on #378
Also since we decided we are going to keep our flags, I suggest we do add some naming logic for them. For now our flags are

- average_competition: 1 - The average number of bids in these contracts is 1
- same_city: true - The supplier and procurer are from the same city

@zufanka Could you please suggest  phrases for these flags that will replace the flag name in the frontend?

[2017-12-01 15:12] georgiana-b commented on #378
The flags from Digiwhist follow the pattern:

[code]

Where "ADMINISTRATIVE" is the category and "COVERED_BY_GPA" the flag, so we will need natural language "translation" for them too

[2017-12-01 15:24] zufanka commented on #378
@georgiana-b I am suggesting them here: https://github.com/tenders-exposed/elvis-ember/issues/383

[2017-12-01 15:25] zufanka commented on #383
@georgiana-b we should have a look at other possible flags after you import the data

[2017-12-01 15:26] victor-nitu commented on #378
Let's open a new issue for flag names, as it's not related to info box (we use them in some other places as well) – or maybe even tie it to #383.

Let's keep this about the infobox appearance and placement, as the title of the issue says.

[2017-12-01 18:42] zufanka commented on #369
I will calculate buckets from the data once G imports them

[2017-12-02 09:10] georgiana-b commented on #369
Sorry but I don't understand what you mean by "buckets for node sizes".

[2017-12-03 13:29] zufanka opened #391 "Don't allow mobile users to create networks"
Despite that development should be mobile first nowadays, Elvis is not optimized for small screens.
We should put up a warning when user enters the query builder from a small screen and not allow them to make networks.

[2017-12-03 19:32] zufanka commented on #341
@georgiana-b isn't this related to the old version? In the crop, this is not an issue I think

[2017-12-06 10:24] chutko commented on #369
this is my idea about the node size distribution. i think 2 buckets are enough:
1. nodes with smaller values - probably less important, their distribution is a long tail - most of the smaller values can produce tiny nodes of almost the same tiny size. as the value is approaching the second bucket, node sizes get bigger exponentially (fig.1). alternatively, they can follow linear function, but less

[2017-12-06 11:12] zufanka commented on #387
@chutko could you have a look at this perhaps still ^

[2017-12-06 11:28] chutko commented on #387
during the loading, a modal could appear with this information. after the loading is finished, user can dismiss the modal.

i also would like a small legend. i would like it to be visible all the time at the bottom, so the user knows all the time what colour is the government and what is the company

[2017-12-07 19:46] georgiana-b commented on #319
As we discussed recently, this info would also be very useful in the embed photos.
It might be difficult for us to add it to a photo automatically so instead we could design and implement this so that a user can easily include this info in a photo.

An idea would be to put these details in a draggable tooltip.

[2017-12-07 20:28] zufanka commented on #319
Can we put the info in the URL?

[2017-12-09 19:58] chutko commented on #387
okay, i have something. feedback is very much welcomed

![elvis--loading-legend](https://user-images.githubusercontent.com/4135015/33799018-a68bc348-dd23-11e7-8aaa-e4329c2b4df9.png)

[2017-12-09 21:45] zufanka commented on #387
very nice!

- typo: "FashionableCanes"
- Government institution description: "amount of all tenders *awarded* by this institution"
- Supplying Company: "..symbolize companies that *won* tenders", ".. can represent how much money the company got, or how many tenders it won"
- Relationship: "intensity" instead of "richness" and "them" instead of "the actors"

[2017-12-12 13:48] #376 closed, assigned to victor-nitu, chutko

[2017-12-12 14:32] #374 closed, assigned to victor-nitu, ca1yps0, chutko

[2017-12-19 10:31] #179 closed

[2017-12-19 10:32] victor-nitu commented on #251
This will take effect once we have the new backend and we can make models for things that have IDs

[2017-12-21 13:35] zufanka commented on #387
Can we put the legend in the loading screen?

[2017-12-21 13:36] zufanka commented on #387
![image](https://user-images.githubusercontent.com/2411066/34257964-5c777346-e65c-11e7-840a-7c18a027c370.png)
This version @nightsh

[2017-12-21 13:41] zufanka opened #399 "Country selection in the Query builder"
Please change to:

**Select a country ... ... or Select and entity**
![image](https://user-images.githubusercontent.com/2411066/34258022-8c2a54b4-e65c-11e7-83e8-c2f0058e2baa.png)

Now user can select more than one country.
We however don't have anything in place that would visually distinguish the government country nodes. Would giving different colours to different government nodes be easy thing

[2017-12-21 13:43] victor-nitu commented on #399
Would it help to place a [country-code] label on procurer's name?
e.g. `[de] IBM GmbH`

[2017-12-21 13:47] zufanka commented on #356
This has been redesigned. Templates are ready to be implemented

[2017-12-21 13:47] #356 closed, assigned to zufanka, chutko

[2017-12-21 13:48] zufanka commented on #368
fixed

[2017-12-21 13:48] #368 closed, assigned to ca1yps0

[2017-12-21 13:51] zufanka commented on #378
There is an issue with the template. Even if I visualize the amount of contracts, it says "Total money flow" with an M for some reason

The M needs to be removed. The "Total money flow" needs to be changed to "tenders" when visualizing amount of tenders

![image](https://user-images.githubusercontent.com/2411066/34258431-338bce3a-e65e-11e7-801e-ab9d6faecc48.png)

[2017-12-21 13:52] zufanka commented on #369
They are bigger and better now, not going to tinker with this more atm.

[2017-12-21 13:52] #369 closed, assigned to ca1yps0, chutko

[2017-12-21 13:54] zufanka commented on #355
![image](https://user-images.githubusercontent.com/2411066/34258586-cc8ea97c-e65e-11e7-848d-802703e7cf81.png)

This needs to be the same as the one above !
![image](https://user-images.githubusercontent.com/2411066/34258590-d3284a40-e65e-11e7-89a5-4d2bf9e38096.png)

[2017-12-21 13:55] zufanka commented on #341
not applicable anymore

[2017-12-21 13:55] #341 closed, assigned to nobody

[2017-12-21 13:56] zufanka commented on #337
@ca1yps0 this is still not fixed!

[2017-12-21 14:02] zufanka commented on #367
On hover they can also be different color

[2017-12-21 14:03] zufanka commented on #383
fixed (except for the flags, not sure what they will be yet)

[2017-12-21 14:03] #383 closed, assigned to zufanka

[2017-12-21 14:05] zufanka commented on #382
Let's have a look at this when the endpoints are ready.

[2017-12-21 14:06] zufanka commented on #327
new projects page. closing this one

[2017-12-21 14:06] #327 closed, assigned to victor-nitu

[2017-12-21 14:07] zufanka commented on #325
new authentication fixes this I would believe? @nightsh ?

[2017-12-21 14:08] zufanka commented on #312
if we have the side bar open defaultly, this does not need to be an issue, right?

[2017-12-21 14:08] #312 closed, assigned to victor-nitu

[2017-12-21 14:08] zufanka commented on #294
not sure this is still an issue, think not.

[2017-12-21 14:08] #294 closed

[2017-12-21 14:09] zufanka commented on #319
Can we still put this somewhere quickly? :) @nightsh @ca1yps0

[2017-12-21 14:11] zufanka commented on #300
I think this is important, more so on the new backend

[2017-12-21 14:13] zufanka commented on #334
Still an issue???

[2017-12-21 14:14] zufanka commented on #240
is this still an issue? @nightsh

[2017-12-21 14:56] zufanka commented on #399
hm .. I think colours would work better, don't you?
Or is that trickier?

We only need different colours on governments btw, NOT on companies.

[2017-12-21 14:57] zufanka commented on #399
we actually do need to address this, as an entity can be active cross-borders

[2017-12-29 10:57] zufanka commented on #399
we'll do the country codes, but only if there are *two or more* countries present in the networks.
Only for governments, *NOT companies*!

[2017-12-29 10:59] zufanka commented on #387
asked @chutko for a transparent picture

[2017-12-29 11:04] #358 closed, assigned to ca1yps0, chutko

[2017-12-29 11:06] zufanka commented on #300
@nightsh will double check this

[2017-12-29 13:46] zufanka commented on #385
@ca1yps0 could you also please add an icon and tooltip for "export data" ?
It would export the network data into a json.

[2017-12-29 14:24] georgiana-b commented on #399
I don't know exactly why you went with the prefix but if we only wish to signal procurers I think different colors would be better.

[2017-12-29 15:15] zufanka commented on #399
yes, I also thought so. But we had this conversation earlier in the call. Colours would require legend. Also, we would need to figure out how we represent the additional colors in the merging tool and on the side bar (as now all the governments are pink)

[2017-12-31 15:48] #367 closed, assigned to victor-nitu

[2017-12-31 15:48] #384 closed, assigned to victor-nitu

[2017-12-31 15:48] #391 closed, assigned to victor-nitu

[2018-01-03 16:13] zufanka commented on #378
![image](https://user-images.githubusercontent.com/2411066/34528511-70dfa748-f0a9-11e7-906b-bd5300d1624f.png)

It still says "money flow" instead of "tenders won" when clicking on the node

[2018-01-03 16:23] zufanka opened #401 "Details view table is not sortable"
![image](https://user-images.githubusercontent.com/2411066/34528887-942ee2c6-f0aa-11e7-84bc-a9da6ef74fe5.png)

If you click on the header, there is an arrow, but the table is not sorting. Could you please make it sortable @ca1yps0 ?

network: https://elvis-ember-develop-pr-393.herokuapp.com/network/5a4cfb502dcb562ba5000000/procurers/25894

[2018-01-03 16:35] zufanka commented on #355
![image](https://user-images.githubusercontent.com/2411066/34529486-7bf9e708-f0ac-11e7-8204-cbe5f9d9893d.png)

Found one! :)

[2018-01-03 16:37] zufanka opened #402 "Sidebar tenders colors are wrong"
![image](https://user-images.githubusercontent.com/2411066/34529530-a102f7ce-f0ac-11e7-87b3-997a45cde164.png)

The governments have to be pink and companies blue

[2018-01-03 16:38] zufanka commented on #355
this one is also off
(`tenders` and `relationships`)

![image](https://user-images.githubusercontent.com/2411066/34529614-e15e4422-f0ac-11e7-8dd3-27dfcb2d4c51.png)

[2018-01-03 16:56] zufanka opened #403 "create buttons to opentender.eu from detailviews"
The buttons have to be pretty. @chutko do you have that desing somewhere still?

Link has to contain the country code + ID.
Both will be provided by the backend

Authority link format:
https://preview.opentender.eu/dk/authority/473650590266b8b9e3e6d8c87c81a432340b52b3455d476f0fae228667e6c0fe

Tender link format:
https://preview.opentender.eu/dk/tender/fffe3d07-a178-48f2-bf78-74d14ede0e4b

Company

[2018-01-03 17:20] georgiana-b commented on #403
Here is a link to a company on OpenTender:

[`https://preview.opentender.eu/dk/company/694f39e8f516cb130fba94777ff0133bfda343530088128c0a340df6a9dd6ee1`](https://preview.opentender.eu/dk/company/694f39e8f516cb130fba94777ff0133bfda343530088128c0a340df6a9dd6ee1)

Notice the pattern is `http://host/country/company/id` so you always visualize the company within the context of a country. That's because

[2018-01-08 11:24] victor-nitu opened #404 "Wrap up password recovery (new backend)"
Should be working, but it might have some rough edges. To test it end to end and tie any loose ends.

[2018-01-08 11:26] victor-nitu opened #405 "3rd party authentication"
We now support Twitter and GitHub authentication. On the backend. We need to integrate them in the frontend as well.

- [x] buttons
- [x] end to end functionality of 3rd party login
- [x] test what happens when you log in using the same email, but different provider

[2018-01-08 11:28] victor-nitu opened #406 "Standardize auth error handling"
- [ ] register
- [ ] login
- [ ] confirm
- [ ] recover

When errors are being sent from the server, use either the notifications service, or inline form errors, but make sure it's the same everywhere. We are allowed to make exceptions for displaying authentication errors to align with other widely used usability guidelines, but we must be consistent.

[2018-01-24 16:30] victor-nitu opened #407 "Put back the CPV search"
We took it down to fit the design. Time to get it back in the game.

[2018-01-24 17:08] victor-nitu opened #408 "CPV counts are wrong"

[2018-01-24 17:09] victor-nitu opened #409 "Terminology updates"
- [ ] It says “money flow” instead of “number of contracts” in node details (info box)
- [ ] Write “Select institutions/companies” instead of “Select companies” in the actor selection since we also show procurers

[2018-01-24 17:10] victor-nitu opened #410 "Open the nav menu automatically after creating a new network"

[2018-01-24 17:10] victor-nitu opened #411 "Contract details page - templating artifact"
In contract details page there is some weird percent under Contract Award like `(Y. %)`. What is that?

[2018-01-24 17:11] victor-nitu opened #412 "Don’t show Other Contractors in this Tender in contract details if there aren’t any"

[2018-01-24 17:11] victor-nitu opened #413 "Search is gone from the sidebar"
Put back search in sidebar because without it it’s really hard to find a node in a big network

[2018-01-28 13:42] georgiana-b opened #414 "Refresh tokens when access token expires"
When the access token expires you will receive `401 - Unauthorized` on `GET /account` with the message `Access token expired.`. When this happens you should make a [request to refresh the tokens](https://api.tenders.exposed/docs/#/login/refreshToken).

I think this can all be done in the background so the user doesn't have to worry about it.

[2018-01-28 14:00] georgiana-b commented on #167
Yes, it's included in tenders-exposed/elvis-backend-node#7

[2018-01-28 14:04] georgiana-b commented on #167
@nightsh Currently the frontend welcomes users with a `Create an account` button. That should be turned into `Create a visualization` like it was before since people will be able to create networks before having an account.

Do you think we should open a new issue for that or this one will do?

[2018-02-01 11:34] georgiana-b commented on #355
@zufanka I think calling the median number of bidders `averageCompetition` makes people think this is a mean not a median. Although the word `average` is easier to grasp at first I think it creates a wrong way to think about this value that will become confusing once people learn it is actually a median.

Thus I propose we call it `medianCompetition` or something neutral like `overallCompetition`

[2018-02-01 11:44] zufanka commented on #355
"Average" is an umbrella term for mean, median and mode. Different types of data and data distributions require different average to be used. From a statistical point of view, median is the appropriate average type to use for the competition data.

We can explain in the tooltip that we calculate median, sure, but I would propose we keep it as average competition and not over think it.

What do you

[2018-02-01 11:49] georgiana-b commented on #355
When I did user testing with an economist she said

So I think those who know what median is will be ok with using `median` and those who don't will learn what it is.
If we use `average` those who know what median is will be slightly bugged and those who don't will be confused when they look it up and discover it's different from average which is usually used for mean.

[2018-02-01 12:08] georgiana-b commented on #355
Although I do agree that `averageCompetition` has a nicer ring to it 😄
I changed it to `medianCompetition` in the backend just to be accurate but feel free to do as you wish in the frontend.

[2018-02-01 12:18] zufanka commented on #355
As I said, 'average' is an umbrella term, so we are accurate anyway :)
But sure, feel free to name it what you wish!

[2018-02-12 19:50] zufanka opened #415 "Change texts on the front page"
===

Please be aware this is not a finish product. The core features are still under heavy developement. We are working on it and you are welcome to join us in developement or discuss your ideas.

Have an opinion? Everybody does. If you'd like to share yours, you can reach us on the links below.

Elvis is developed as an open source tool and all code is published on GitHub. We are looking to crear

[2018-02-12 19:52] zufanka opened #416 "Change link in the frontpage button and name"
![image](https://user-images.githubusercontent.com/2411066/36116416-770a02c4-1036-11e8-8b35-e7f996ea936f.png)

Link in the button should be /network/new and it's name should be "Create a network"
Name of the Menu item "New visualisation" should be "Create a network"

[2018-02-13 10:28] zufanka opened #417 "Create Gallery"

[2018-02-18 15:10] #167 closed

[2018-02-18 15:14] victor-nitu commented on #300
Needs to be done on clustering as well. When we get to touch that part, as we're about to anyway.

[2018-02-18 15:16] victor-nitu commented on #399
@georgiana-b is this something you will do on the backend, or something we need to fix client side?

[2018-02-18 15:31] victor-nitu commented on #387
![elvis--loading-legend-transparent-withoutloading](https://user-images.githubusercontent.com/1579997/36353641-8ba53010-14d1-11e8-87a0-345c84bee696.png)

[2018-02-19 12:26] #407 closed, assigned to nobody

[2018-02-19 12:27] #408 closed, assigned to nobody

[2018-02-19 12:29] victor-nitu commented on #417
Isn't this a duplicate of #168?

[2018-02-25 12:52] georgiana-b opened #418 ""Other parties" in supplier details is wrong"
In the `Other parties` column of contracts table  from supplier details the supplier is shown instead of the other suppliers and procurers involved in each contract:

![image](https://user-images.githubusercontent.com/8862002/36641631-7d6c0400-1a3b-11e8-89a5-1dc0ac82b073.png)

[2018-02-25 14:22] georgiana-b commented on #409
@zufanka I also noticed in the actor details and relationship details template it says `Total income` which sounds off especially [for a relationship](https://tenders.exposed/network/5a92a0412dcb563c84000000/relationships/13986-1056903). I think calling it `Total money flow` would be better. WDYT?

[2018-02-25 15:06] georgiana-b commented on #67
I think it's safe to close this in favor of #414

[2018-02-25 15:12] georgiana-b commented on #406
Pls also make them pretty like in [the designs](https://storage.tenders.exposed/apps/files/?dir=/Design&fileid=85#/Design/elvis2--registration.png).

[2018-02-25 16:21] georgiana-b commented on #409
In the same actor details section, `Data Missing` is so vague even I can't figure what it means :smile: so it could really use a rename.

[2018-02-25 23:04] zufanka commented on #409
@georgiana-b could you please attach screenshots? I am not sure what you are looking at, especially the second part :)

[2018-02-25 23:05] zufanka commented on #418
This template is old afaik @georgiana-b

[2018-02-26 09:22] georgiana-b commented on #409
![details_text_to_change](https://user-images.githubusercontent.com/8862002/36662531-5a9b32f0-1ae7-11e8-8333-aadcbf0242c3.png)

[2018-02-26 10:29] georgiana-b commented on #418
It's a screenshot from Elvis production.

[2018-02-27 00:30] zufanka commented on #409
is the above still relevant? :)

[2018-02-27 14:50] georgiana-b commented on #409
No, but we have a new list for the new templates:
c.c. @ca1yps0

Contract (now tender) details:

- [x]  Rename `CONTRACT DETAILS` page to `TENDER DETAILS`
- [x] Populate tender details view with title, titleEnglish, description, price of tender
- [x] Replace `Award Date`  in tender details with tender year
- [x] Move  `Award Date` to lot details instead of  `Lot Reference Number`
- [x] Also remove

[2018-03-04 10:55] zufanka opened #420 "Bids counter on CPV selector is off"
![image](https://user-images.githubusercontent.com/2411066/36944756-c566ba36-1fa2-11e8-9a32-c3aef65a75f8.png)

[This network has way more than 38 bids](https://elvis-ember-new-backend.herokuapp.com/network/f75dc695-6333-4bfa-8716-3b2013066a83/bidders)

[2018-03-04 18:15] georgiana-b opened #421 "Remove PORT with performance stats"
Currently a POST on performance stats is being performed even thought there is no endpoint for it in the new backend. It should be removed.

![image](https://user-images.githubusercontent.com/8862002/36948777-8aa180a2-1fe8-11e8-80f1-21c05ef3d992.png)

[2018-03-06 11:52] georgiana-b commented on #409
@ca1yps0  Twitches:

- [x] Replace `N/A` with `?` or fruit  (for example [here](https://elvis-ember-new-backend.herokuapp.com/network/c7314864-a197-4857-bd2a-58dbefd3f775/buyers/b9f80b3b-e58b-40a2-9ecc-5ba12d53e879/b02380ff-660e-4454-a572-fb30f72a8c7a))
- [x] For the `Address of Implementation` section of lot details show:
     - (`rawAddres` || `street` ) + , +  `city` + , + `country`
- [x] Split

[2018-03-07 11:02] georgiana-b opened #422 "Create permalinks for network nodes and edges"
Currently people can't share with others a certain node, edge or tender because there is no permalink for them.
For example when I try to open
[https://elvis-ember-new-backend.herokuapp.com/network/c7314864-a197-4857-bd2a-58dbefd3f775/buyers/b9f80b3b-e58b-40a2-9ecc-5ba12d53e879/b02380ff-660e-4454-a572-fb30f72a8c7a](https://elvis-ember-new-backend.herokuapp.com/network/c7314864-a197-4857-bd2a-58dbe

[2018-03-07 11:05] georgiana-b commented on #409
Moved the permalinks point into #422 because it doesn't have anything to do with terminology updates and it's an important issue in itself.

[2018-03-07 11:42] georgiana-b opened #423 "Render edges of type `partners` i.e. consortia properly"
Currently the edges of type `partners` that mark a consortia between multiple buyers or bidders are rendered the same as a normal edge which looks confusing. For example the edges between the buyers in [this network](https://elvis-ember-new-backend.herokuapp.com/network/796dcf82-8216-46ac-aef3-da6be4c670e0/) are actually `partners` edges render wrong.

They should look dotted and with no arrows li

[2018-03-07 11:48] georgiana-b commented on #423
@zufanka Should we display these edges in the sidebar `Tenders` i.e. edges tab?

To me it sounds ok to show the edges info (same as below)  for `partners` edges too:

![image](https://user-images.githubusercontent.com/8862002/37090738-234c9eb4-220e-11e8-8011-294ff1074f64.png)

[2018-03-07 17:05] zufanka commented on #423
@georgiana-b i am not sure I understand your question exactly, but I think we should not treat the special edges in the side bar or details in a way that would suggest they are tenders/bids.

[2018-03-09 15:23] georgiana-b opened #424 "Search Actor in side panel"
Currently there is no way for the user to search for a certain node.
Previously this was possible by filtering the list of actors in the sidebar and clicking on it to get to the node.
It is particularly frustrating after creating a cluster that you can't see where it is.
In medium network of 50 nodes it's already quite confusing to search for things by hand. :crying_cat_face:

Can we add that back

[2018-03-09 15:54] georgiana-b commented on #423
Ok, then @ca1yps0 please also remove these edge with `type: partners`  from the `Tenders` (edge details) tab. Currently they appear in the list even though requesting them from the server returns an error:

![image](https://user-images.githubusercontent.com/8862002/37216156-c4a6ee8a-23c2-11e8-9f95-c72ed5d55bd1.png)

[2018-03-12 12:55] georgiana-b opened #425 "Show server errors instead of confusingly concealing them"
Server errors follow a standard format described in Swagger:

[code]

However, for many operations in frontend, even though the server sends an error the frontend doesn't display it or handle it, it just ignores it. The result is a very confusing UX.

For example when I try to open [this network that doesn't exist](http://elvis-ember-new-backend.herokuapp.com/network/92063d60-47c4-4728-8ece-3b54ce

[2018-03-12 12:57] georgiana-b commented on #425
Maybe I overreacted with the labels :smiley:

[2018-03-12 13:10] georgiana-b commented on #425
@nightsh I think #406 is included in this. Please take a look at this asap because it makes many things looks like bugs because no errors are shown but they don't work either.

[2018-03-14 14:04] georgiana-b commented on #418
I'll close this because it regards old templates.

[2018-03-14 14:04] #418 closed, assigned to nobody

[2018-03-17 14:20] georgiana-b opened #426 "Display tender corrections"
We now have the corrections made to tenders included in [opentender.eu data](https://github.com/digiwhist/opentender-data/blob/master/shared/schema.json#L277).  :tada:

This is great news because that info comes from erratas which were quite overlooked so far so there was room for using them in a shady way. In my first project on public procurement 4 yrs ago we found that sometimes buyers would de

[2018-03-20 12:56] zufanka opened #427 "Anonymous users should not be able to name networks"
If you create an anonymous network and want to change the name, you get a "you need to be signed in for this" error.
Hence anonymous users should not be able to name networks at all

[2018-03-20 12:58] zufanka opened #428 "If company name is unknown, it does not appear on the network view"
![image](https://user-images.githubusercontent.com/2411066/37655875-b8154ca2-2c46-11e8-9b33-e01fca00735f.png)

Network : https://tenders.exposed/network/303c8277-79c0-4bd2-a964-afa3d89e9c06/buyers/f4ddbdf8-1203-409e-a21d-bc98b1e37053

Shouldn't we make it lead to a fruit node?

[2018-03-20 13:15] zufanka opened #429 "ALL AWARDED AMOUNTS does not add up"
![image](https://user-images.githubusercontent.com/2411066/37656663-f7391056-2c48-11e8-9a29-6203ff4fcf56.png)

![image](https://user-images.githubusercontent.com/2411066/37656727-29917930-2c49-11e8-9be6-2ad6acbf900c.png)

[2018-03-20 13:51] georgiana-b commented on #429
@ca1yps0 From looking at one of these examples I noticed you are displaying the `finalValue` of the `tender` in the Contracts table instead of the `value` of the `bid`.

I'm sending you an array of `winning bids` (i.e. contracts) and if they have value it will appear in the field `value`. I'm also sending the `lot` and the `tender` the bid belongs to but that tender can have 23 other bids like thi

[2018-03-21 11:51] ca1yps0 commented on #423
@zufanka @georgiana-b what about the box detail for this type of edges? do we still have one or not?

[2018-03-21 15:45] georgiana-b commented on #423
Me and @ca1yps0 just decided in a call to show the details for  a consortium edge like this:

![image](https://user-images.githubusercontent.com/8862002/37719905-d62d32ca-2d2e-11e8-84a7-d5af7d78e9b5.png)

- instead of `Tender` write `Consortium`
- show the color corresponding to their type of node which should be the same for both
- instead of `x Bids won` write `x bids shared`
- remove `Show deta

[2018-03-23 11:26] #88 closed

[2018-03-23 11:27] #355 closed, assigned to ca1yps0

[2018-03-23 11:28] #385 closed, assigned to ca1yps0

[2018-03-23 11:28] #360 closed, assigned to zufanka, chutko

[2018-03-23 11:30] #225 closed

[2018-03-23 11:30] #416 closed, assigned to zufanka, ca1yps0

[2018-03-23 11:30] #415 closed, assigned to zufanka, ca1yps0

[2018-03-23 11:32] #316 closed, assigned to victor-nitu, ca1yps0

[2018-03-23 11:32] #417 closed, assigned to zufanka

[2018-03-23 11:35] #84 closed

[2018-03-23 11:35] #85 closed

[2018-03-23 11:35] victor-nitu commented on #84
Won't fix.

[2018-03-23 11:35] victor-nitu commented on #85
Won't fix.

[2018-03-23 11:36] victor-nitu commented on #71
@zufanka is this still a thing?

[2018-03-23 11:41] #251 closed

[2018-03-23 11:45] #423 closed, assigned to ca1yps0

[2018-03-23 11:47] victor-nitu commented on #399
ping @georgiana-b

[2018-03-23 11:47] #387 closed, assigned to ca1yps0

[2018-03-23 11:49] #300 closed

[2018-03-23 11:50] victor-nitu commented on #69
Deprecated, won't fix.

[2018-03-23 11:50] #69 closed

[2018-03-23 11:52] #235 closed

[2018-03-23 11:52] #240 closed

[2018-03-23 11:53] victor-nitu commented on #271
Currently blocked by OrientJS being unable to play nicely with OrientDB 3.x, which adds this functionality for us. Will wait on upstream patches.

[2018-03-23 11:53] #275 closed

[2018-03-23 11:53] #278 closed

[2018-03-23 11:54] #334 closed, assigned to ca1yps0

[2018-03-23 11:54] #340 closed, assigned to victor-nitu

[2018-03-23 11:54] victor-nitu commented on #340
Won't fix.

[2018-03-23 11:55] #363 closed, assigned to victor-nitu

[2018-03-23 11:55] #381 closed, assigned to nobody

[2018-03-23 11:55] #382 closed, assigned to victor-nitu

[2018-03-23 11:56] #378 closed, assigned to victor-nitu

[2018-03-23 11:56] #389 closed, assigned to chutko

[2018-03-23 11:57] victor-nitu commented on #402
They are not wrong.

[2018-03-23 11:57] #402 closed, assigned to ca1yps0

[2018-03-23 11:57] #403 closed, assigned to ca1yps0

[2018-03-23 11:59] #409 closed, assigned to nobody

[2018-03-23 11:59] #410 closed, assigned to nobody

[2018-03-23 12:00] #412 closed, assigned to nobody

[2018-03-23 12:01] victor-nitu commented on #413
Closing as duplicate of #424

[2018-03-23 12:01] #413 closed, assigned to nobody

[2018-03-23 12:01] #414 closed, assigned to victor-nitu

[2018-03-23 12:01] victor-nitu commented on #192
Depends on #27

[2018-03-23 12:02] #421 closed, assigned to nobody

[2018-03-23 12:08] #67 closed

[2018-03-23 12:11] victor-nitu commented on #319
Sure, let's have a call and do it live :)

[2018-03-24 14:45] #424 closed, assigned to ca1yps0

[2018-03-26 11:07] #411 closed, assigned to ca1yps0

[2018-03-27 11:00] #420 closed, assigned to victor-nitu, ca1yps0

[2018-03-27 11:00] #401 closed, assigned to ca1yps0

[2018-03-27 11:58] georgiana-b commented on #428
This issue is not about bidders without `name`. It is about contracts for which bidders and sometimes even buyers are not disclosed as I explained in tenders-exposed/elvis-backend-node#61.

So, it's not that we have a bidder with `id` but no `name`, it's that we have no bidder records for a bid. We don't even know how many winners there were.

[2018-03-27 12:07] georgiana-b commented on #428
Currently these bids are accounted for only in the nodes we do have. For example, if the data only discloses the buyer, it will appear in the network as an isolated node because there is no bidder to link it to.

In a call yesterday another idea was proposed: to show the missing actors as grey nodes. So, if we have a bid for which we don't know the bidder in the network we show the buyer(s) normal

[2018-03-29 14:48] victor-nitu opened #430 "CPV selector search doesn't work all the times"
...or something like that.

In reality, what happens is that the CPV tree is rendered on the screen before it is fully constructed. If you look at it, after it renders it receives an update (number suddenly appear). That's when you can search it.

Solution is simple: put the whole tree in a loading state until we have everything in.

[2018-04-05 16:59] victor-nitu opened #432 "Investigate server timeouts"
Server timeouts. Examples:

[code]

[2018-04-07 11:48] zufanka opened #434 "Improve company selector UX"
I believe there might be an easy fix for this that would improve the experience and usability dramatically. Try for example 'Henkel' or 'Nestle'. Main problems:

- The API reloads everytime you select one company. But all of the companies are the same in this case. We need the user to be able to select as many companies s/he likes and only then let the API load the query.
Solution: a "Done" button

[2018-06-07 11:06] zufanka opened #436 "Average competition in the infowindow is always 1"
it seems it's hardcoded, could we have an API response here?

[2018-06-07 11:08] zufanka opened #437 "Implement Red Flags"
Can we implement the "single bidder" red flag on the network graph?
It should be in the API response.

[2018-08-01 09:28] zufanka commented on #436
@ca1yps0 @nightsh ping on this!

[2018-08-01 09:32] zufanka opened #438 "[Company selector] Slecting a lot of companies overshadows the CPV selector"
![image](https://user-images.githubusercontent.com/2411066/43513572-62b99352-957e-11e8-91df-61fb29a7dae9.png)

Solution: tuck them away

[2018-08-01 09:35] zufanka opened #439 "[Company selector] Still only 15 results appear in the search"
![image](https://user-images.githubusercontent.com/2411066/43513675-ac4e6736-957e-11e8-9041-2bb7b1aa2785.png)

Solution: make *all* the results appear in the search

[2018-08-01 09:44] zufanka opened #440 "[Company selector] If a space is used, search returns resutls for both words separately as well"
![image](https://user-images.githubusercontent.com/2411066/43514102-b9bb1ecc-957f-11e8-899b-5ba234341c95.png)

Solution: Show only results that contain both words.

[2018-08-01 09:44] zufanka commented on #440
@georgiana-b is this a front end issue?

[2018-08-01 09:44] zufanka opened #441 "[Company selector] User messages"
1)
![image](https://user-images.githubusercontent.com/2411066/43513820-0af05c7c-957f-11e8-9c91-d28a8ec5b851.png)

*Should be:* Search for a company name or government institution. Use at least 3 characters.

2)
![image](https://user-images.githubusercontent.com/2411066/43514051-9ab76008-957f-11e8-8436-2dcd7ceb83fc.png)

If I use a space, it gives me an error message for some reason. If I writer fu

[2018-08-01 09:46] zufanka commented on #434
Related issues:
https://github.com/tenders-exposed/elvis-ember/issues/438
https://github.com/tenders-exposed/elvis-ember/issues/439
https://github.com/tenders-exposed/elvis-ember/issues/441
https://github.com/tenders-exposed/elvis-ember/issues/440
https://github.com/tenders-exposed/elvis-ember/issues/442

[2018-08-01 09:48] zufanka commented on #326
closed, new parent issue: https://github.com/tenders-exposed/elvis-ember/issues/434

[2018-08-01 09:48] #326 closed, assigned to chutko, georgiana-b

[2018-08-01 09:48] zufanka commented on #434
Old issue: https://github.com/tenders-exposed/elvis-ember/issues/326

[2018-08-01 09:52] zufanka opened #442 "[Company selector] Change title"
![image](https://user-images.githubusercontent.com/2411066/43514657-edc21b20-9580-11e8-8241-a855485cab9f.png)

Should be:
![image](https://user-images.githubusercontent.com/2411066/43514804-402464d6-9581-11e8-8942-98204112dbd0.png)

[2018-08-01 09:53] zufanka commented on #438
parent issue: https://github.com/tenders-exposed/elvis-ember/issues/434

[2018-08-01 09:53] zufanka commented on #439
parent issue: https://github.com/tenders-exposed/elvis-ember/issues/434

[2018-08-01 09:53] zufanka commented on #441
parent issue: https://github.com/tenders-exposed/elvis-ember/issues/434

[2018-08-01 09:53] zufanka commented on #440
parent issue: https://github.com/tenders-exposed/elvis-ember/issues/434

[2018-08-01 09:53] zufanka commented on #442
parent issue: https://github.com/tenders-exposed/elvis-ember/issues/434

[2018-08-01 10:32] zufanka commented on #429
@ca1yps0 @nightsh could you please review this?

[2018-08-01 12:18] georgiana-b commented on #440
No, this is definitely a backend issue. I will look into it later.

[2018-08-07 14:25] zufanka commented on #434
@ca1yps0 @nightsh ping on this ^

[2018-08-07 14:25] zufanka commented on #436
@ca1yps0 @nightsh more ping \o/

[2018-08-11 14:37] zufanka opened #443 "User should not be able to chose multiple unrelated CPVs"
Now people can chose unlimited amounts of sectors.

If however user selects let's say construction, all other branches should be grayed out.
They can still chose CPVs that are part of the same branch.

[2018-08-11 14:39] zufanka opened #444 "Chose CPVs and design the CPV selector accordingly"
As we chose CPVs, we should give them a proper humanly understandable names, like "construction" and "IT software and hardware"

In some cases, such as IT services, the lowest branch are actually 3 different CPVs.
This would call for some manual redesign of the CPV tree. Sorry @nightsh .