[2018-08-11 14:39] zufanka commented on #443
blocked by https://github.com/tenders-exposed/elvis-ember/issues/444

[2018-08-11 14:50] zufanka commented on #436
this is fixed!

[2018-08-11 14:50] #436 closed, assigned to ca1yps0

[2018-08-11 15:00] zufanka commented on #399
@nightsh @georgiana-b ping on this

[2018-08-15 14:34] zufanka opened #445 "Change the "Data License" in the footer"
to [Data](https://opentender.eu/download)

[2018-08-15 15:07] zufanka opened #446 "[LEGEND] Redesign the legend"
Split legend into multiple pictures to use with the carousel.

[2018-08-15 15:08] zufanka opened #447 "[LEGEND] Make the carousel"
Implement the carousel in place of the legend on the loading screen

[2018-08-15 15:09] zufanka commented on #447
Related: https://github.com/tenders-exposed/elvis-ember/issues/446

[2018-08-15 15:09] zufanka commented on #446
Related https://github.com/tenders-exposed/elvis-ember/issues/447

[2018-08-15 15:23] zufanka opened #448 "[Company selector] Also once you select all the elements from the list, it starts searching again."
![image](https://user-images.githubusercontent.com/2411066/44156249-c66d2350-a0af-11e8-80ef-bed57ba8f986.png)

Not sure whether these are new companies / governments or the same again

[2018-08-15 15:27] zufanka commented on #439
@georgiana-b is this perhaps a backend thing?

[2018-08-15 15:31] zufanka opened #449 "Make it blue!"
![image](https://user-images.githubusercontent.com/2411066/44156706-d8b6315e-a0b0-11e8-8b1a-30553c9cb779.png)

after you selected a CPV

[2018-08-15 15:44] zufanka opened #450 "Details popup - change the "Total money flow" to "euro's awarded""
![image](https://user-images.githubusercontent.com/2411066/44157072-d2238980-a0b1-11e8-843e-a7814d28e2ac.png)

[2018-08-15 15:54] zufanka opened #451 "[CPV selector] Use icons to bundle CPVs"
Instead of a flowchart like this:
![image](https://user-images.githubusercontent.com/2411066/44158075-419a7880-a0b4-11e8-93e7-32fb5d493c11.png)

Have icons that group select some CPV codes after you click them

[2018-08-15 20:41] zufanka opened #452 "Improve the details view performance"
The details view on the network load way too long.
The performance needs to be speeded for optimal user experience.
@nightsh , would you please note the details of what needs to happen here?
@georgiana-b what needs to happen on the backend?

@ca1yps0 also had ideas on this, would you share them please?

[2018-08-22 15:39] zufanka opened #453 "Change the name and description of the first network step"
Change the name from "Network Focus" to: "Select a country and/or actors* "
Change the description to:

"Only procurement from these countries and/or actors* will be visualised.
\* actors are [blue dot] companies or [pink dot] government institutions"

[2018-08-22 15:43] zufanka commented on #442
as talked on the call: change it to " Select actors* "

[2018-08-22 16:06] zufanka commented on #446
1. explain colours: company and government dots
2. explain sizes of the dots
"Size of the company dot shows how much money (or tenders) this company got from all the governments in the network visualisation"
"Size of the government dot shows how much money (or tenders) this government awarded to all the companies in the network visualisation"
3. explain connections and size of connections
"The con

[2018-08-24 12:38] chutko commented on #446
here are the slides for the tutorial carousel + network loader (and loaded state)
i haven't made the clustering slide, im a bit confused about what to put there

![elvis--tutorial-company-loading](https://user-images.githubusercontent.com/4135015/44585057-45608600-a7ab-11e8-962f-0029f8dc41dd.png)
![elvis--tutorial-company-loaded](https://user-images.githubusercontent.com/4135015/44585056-45608600-

[2018-08-24 12:44] chutko opened #454 "Always show button for closing the infobox within the network"
I have noticed 2 states where the Close button inside an infobox is not displayed:
1. the infobox is loading. user should have an option to Cancel the loading and close the infobox.
2. an error occured during loading and there is no option how to close this infobox (see the screenshot)
![bug](https://user-images.githubusercontent.com/4135015/44585270-0f6fd180-a7ac-11e8-883b-ae843ecc4550.png)

[2018-08-25 15:52] #453 closed, assigned to ca1yps0

[2018-08-25 15:52] #439 closed, assigned to victor-nitu, zufanka, ca1yps0

[2018-08-25 15:55] #442 closed, assigned to ca1yps0

[2018-08-25 17:05] #438 closed, assigned to victor-nitu, zufanka, ca1yps0

[2018-08-27 08:42] georgiana-b commented on #446
This is not accurate since we don't show number of _tenders_, we show number of _bids_ won. So a company can win 2 bids in the same tender in which case we will show 2.

It depends how accurate you want to be at this stage but further down  in the details view people will encouter both concepts and they might get very cofused. So I think we could actually take the opportunity of the carousel ride

[2018-08-27 08:47] chutko commented on #446
i think you are right, although right now i would like to implement what we have (with content changes you suggest above), it will not do any harm and things will get done on time which is this week :)

and along with that, we could discuss content of other slides and put them on when we got them.

[2018-08-28 12:36] zufanka commented on #446
I think "bids" is technical lingo. I would rather use "(parts of) tenders" or "tenders (or parts of tenders)" or something like that. @georgiana-b @chutko

[2018-08-28 12:50] chutko commented on #446
but we are using this technical lingo, **Bids** inside the network. so we should stay consistent, shouldn't we?

[2018-08-28 13:07] chutko commented on #446
okay guys, if you all agree, this is the final export ready for the carousel (ping @ca1yps0). i have exported it in double size (1380x660) so it looks good when resized on mobile later (when actually something works on mobile). for now, the size used in the carousel should be 690px x 330px

![elvis--tutorial-company](https://user-images.githubusercontent.com/4135015/44724786-0a749000-aad4-11e8-8dc

[2018-08-28 17:56] georgiana-b commented on #446
A public procurement tender is a call to offers initiated by an institution when they
Companies who are willing to supply the services or goods desired by the institution bid for the tender.

[2018-08-28 18:15] georgiana-b commented on #446
A public procurement tender is a call to offers initiated by an institution when it needs to purchase goods or services.
Companies who are willing to supply the desired goods bid for the tender. Eventually the institution chooses a winning bid and awards the tender to the company who created that bid (offer).

Some tenders involve, for example, different locations and they are split into multiple

[2018-08-28 18:36] georgiana-b commented on #446
@chutko  I know :point_up: is too long for one card but I really can't see how to fit all the explanations in a phrase.
Could maybe split it in 2 cards?

The card you made during the call today would work great with this part:

So in the network we count how many bids have been awarded by an institution to a company. For the sums, we add up the amount of money awarded to the company in each of its

[2018-08-28 18:38] georgiana-b commented on #446
Also if anyone can come up with an even more compressed yet still understandable tender description please do :smiley_cat: .

[2018-08-29 09:39] zufanka opened #455 "Change wording in Step 4"
![image](https://user-images.githubusercontent.com/2411066/44779485-e3739800-ab7f-11e8-8641-dcad08f73d0b.png)
I suggest changing "Node size" to "Dot size" and "Edge thickness" to "Connecting line" (to match the wording in the Legend, see https://github.com/tenders-exposed/elvis-ember/issues/446

[2018-08-29 09:42] zufanka commented on #446
@chutko hereby the texts amendments for existing cards:
* _Company_ : Size of the company dot shows how much money **(or winning bids)** this company got from all the governments in the network visualisation
* _Government_:  Size of the company dot shows how much money **(or winning bids)** this **government** institution awarded **to** all the companies in the network visualisation
- _big dot bub

[2018-08-29 11:17] georgiana-b commented on #446
@zufanka @chutko FYC, we do show `Lots` in Elvis:

![image](https://user-images.githubusercontent.com/8862002/44784399-38baa400-ab96-11e8-8f0f-b87417cbd2c9.png)

[2018-08-29 11:28] zufanka commented on #446
@georgiana-b oh yea, crap ^^
Aight, how about this?

* A tender can be split into multiple parts (lots). For example cleaning services for buildings of the same government institution in different towns. Each part can then be won by one or multiple companies. Therefore one tender can have one or multiple parts and also winning bids.

[2018-08-29 11:30] georgiana-b commented on #446
This is the shortest version I can come up with :sweat_smile:

Sometimes the tender is split into multiple lots, corresponding to different buildings of the institution, for example.

[2018-08-29 11:32] georgiana-b commented on #446
@zufanka I started formulating the above before seeing your comment but I really wanted to  exmplain tenders as well.

[2018-08-29 11:33] zufanka opened #456 "Change the data description and link of New Visualization"
![image](https://user-images.githubusercontent.com/2411066/44785055-e5455780-ab8f-11e8-8b03-3b35b40c8eb2.png)

Please change the "TED data" to "[OpenTender data](http://opentender.eu/)"

[2018-08-29 11:46] zufanka commented on #446
@georgiana-b

* _corresponding to different buildings of the institution, for example._ -- it's very unclear what this means. If we want to use it, we should use it as a full example.

* _A company can have multiple winning bids in the same tender._ -- what do you mean? Isn't it about a tender and lots having multiple winning bids?

[2018-08-29 11:58] georgiana-b commented on #446
@zufanka You are right `corresponding to different buildings of the institution, for example` is unclear by itself but I formulated it like that for the sake of brevity. I thought the next phrase will clarify:

Companies bid - make offers - to the lots they are willing to supply for.

If you still find it unclear let's just put in your full example:

As for your second point, in the first paragrap

[2018-08-29 12:08] zufanka commented on #446
ok, let me see. I think we have lost the goal here on the way :)
The purpose of this slide was to explain **what we actually count** when we count tenders. We don't really count tenders, we count winning bids. So we want to say:

- What is a tender
- Tender can have multiple parts, these are called lots.
- Lots can have multiple winners, that is what we call "winning bids" and that is what we coun

[2018-08-30 05:51] georgiana-b commented on #446
An institution creates a tender - call to offers - when it wants to purchase goods or services.
Sometimes the tender is split into multiple lots, corresponding to different buildings of the institution, for example.

Companies bid - make offers - to the lots they are willing to supply for. The institution then chooses a winner for each lot. So in the network we count how many winning bids a compan

[2018-08-30 11:32] zufanka commented on #446
Ok! I would leave out the "corresponding to different buildings of the institution, for example." .. it's brief but still confusing :)

The last sentence I would rephrase to:
"The network shows how many bids the company won or how much money was awarded to it though these winning bids."

[2018-08-31 06:33] georgiana-b commented on #446
I think it's ok to leave out that part.

As for:

I was also tempted to use  `how many bids the company won` but if you think about it it doesn't really make sense. We just got into the habit of using it so makes sense to us but in fact the _the company wins lots though bids_, the company doesn't win bids, it authors them.

So  we say something like `we count how many lots the company won` or `how

[2018-08-31 10:44] zufanka commented on #455
@chutko

Could you share the pictures so @ca1yps0 can implement this?

![image](https://user-images.githubusercontent.com/2411066/44908392-8e6c8900-ad1b-11e8-8b8a-3a536b2d2968.png)

[2018-08-31 10:53] zufanka commented on #446
Good point @georgiana-b !
I have just added two sentences of clarifications at the end of both parts, are we good to go with this description?

* An institution creates a tender - call to offers - when it wants to purchase goods or services.
Sometimes the tender is split into multiple lots. These can have one or more winners.
The network shows how many of the company's bids won or how much money w

[2018-08-31 10:57] chutko commented on #446
its still too long and doesnt fit into the space, sorry :D

[2018-08-31 11:04] zufanka commented on #446
@chutko Lose the last sentence?

[2018-08-31 11:22] chutko commented on #455
sure, here are the images. @ca1yps0 , the image size is 480x260px (for mobile), but on desktop use half the size 240x130px
![elvis-querybuilder-edgesize-](https://user-images.githubusercontent.com/4135015/44909762-d9d56600-ad20-11e8-9e9d-da73c4a6be22.png)
![elvis-querybuilder-edgesize-tenders](https://user-images.githubusercontent.com/4135015/44909763-da6dfc80-ad20-11e8-9ec4-00a2a609bdd6.png)
![el

[2018-08-31 11:26] zufanka commented on #455
@ca1yps0 these should change as the user changes the options! Is it doable to do today still?

[2018-09-01 12:31] chutko commented on #446
okay, here is the (hopefully) final export of the slides. all these images are exported in double size, the size of the carousel image on desktops should be 690 x 330px

![elvis--tutorial-tender](https://user-images.githubusercontent.com/4135015/44945980-6ea89400-adf3-11e8-8984-02c0af131946.jpg)
![elvis--tutorial-merging](https://user-images.githubusercontent.com/4135015/44945981-6ea89400-adf3-11e

[2018-09-01 13:05] zufanka opened #458 "The CPV selector is reloading spastically when companies are selected"
![image](https://user-images.githubusercontent.com/2411066/44946168-3b680400-adf7-11e8-88ca-2c054a322e18.png)

Reproduce:
1. go to https://elvis-ember-staging.herokuapp.com/network/new
2. select more than 2 companies from the company selector. Close it and move on.
3. watch the CPV selector reload (sometimes also after clicking 'visualise')

I think it reloads everytime a new company is selected.

[2018-09-03 01:53] #450 closed, assigned to ca1yps0

[2018-09-03 02:38] #455 closed, assigned to ca1yps0, chutko

[2018-09-03 02:52] #456 closed, assigned to ca1yps0

[2018-09-03 10:44] chutko commented on #447
i see its on, but there are few small things which the carousel is missing:
1. the images within appear too small. use this code for images:
`<img src="..." width="690" height="330">`
(or specify the dimensions in css `width: 690px; height: 330px;`)
4. please use _Next_ and _Previous_ for the carousel buttons
5. when the loading is finished, _Close_ button needs to appear in the right bottom corne

[2018-10-09 17:34] zufanka opened #461 "Merging two nodes doesn't merge them on the network"
![image](https://user-images.githubusercontent.com/2411066/46687061-35392480-cbfa-11e8-97a2-882ea7f3bf8e.png)

They just become two nodes ...

This is the network: https://tenders.exposed/network/1b535cfa-7220-4545-a581-d24217d7e0c6/bidders

[2018-10-10 13:56] zufanka opened #462 "Please add a break line in the "procedure" of tender details view"
![image](https://user-images.githubusercontent.com/2411066/46741254-eeeccf80-cca4-11e8-8b62-58c2252ad730.png)

[2018-10-13 10:17] georgiana-b opened #463 "Cluster details gets 500 because the request is made on `/nodes`"
At some point you could get a cluster's details either on:

`networks/{network_id}/nodes/{cluster_id}`

or on:

`networks/{network_id}/clusters/{cluster_id}`

Anyway, since the cluster payload s a little bit different that was changed so no you can **only** retrieve  a cluster's details on `networks/{network_id}/clusters/{cluster_id}`.

However, the frontend actually makes 2 requests when the node

[2018-10-13 10:47] zufanka commented on #458
fixed with a button

[2018-10-13 10:47] #458 closed, assigned to victor-nitu, ca1yps0

[2018-10-17 16:12] hanecak opened #464 "handle obvious(?) typos in source data"
I'm looking at a "record contact" of a "top company" in Slovakia:

https://tenders.exposed/network/1b535cfa-7220-4545-a581-d24217d7e0c6/bidders/343fc122-fa68-4ff0-9b62-1b48e14aa0cc/813f913a-4bb4-49a4-bd51-e64b1f9fa613

Amount is over one BILLION which is obviously not a case since for example "second best" Slovak supplier has a total of 367 MILLION.

Sadly, error is in the source data, see screens

[2018-10-17 16:14] hanecak commented on #464
Side note: You can check-up Slovak companies (at least by hand, basic checks) on FinStat.sk . I.e. company in question has roughly 700-800k€ turnover yearly, see https://finstat.sk/35681811 . That data is from Tax Office, so I guess they were not able to hide that 1 billion. :)

[2018-10-17 16:57] victor-nitu commented on #464
Would it be useful to generate some relevant links to ease the hand checking tasks a bit? Also, to (hopefully) push a little towards fact checking :)

[2018-10-18 09:18] zufanka commented on #464
Yea, it's a tough one this one. We are using data from opentender.eu. Tender data is notoriously dirty. But maybe I can manually check the really BIG amounts in the data, like 1B and more, and tell the opentender people to fix it in their data too.

[2018-10-18 14:57] hanecak commented on #464
@nightsh Links so far are IMHO satisfactory ("view on ted.europa.eu" and "view on opentender.eu").

The only addition might be to direct link to look-up the company on FinStat.sk (via ICO) to quickly check the volume of contracts with their actual turnover. But that would be relevant only for companies registered in Slovakia.

So yes, for now I understand that "flagging" and "escalation" (as sugge

[2018-10-31 12:02] zufanka opened #465 "Add caching to `/networks/{id}/nodes` & `/networks/{id}/edges`"
![image](https://user-images.githubusercontent.com/2411066/47786767-1f0c1900-dd0d-11e8-9d1d-4598c311728f.png)

[2018-10-31 12:52] #465 closed, assigned to victor-nitu

[2018-11-14 11:38] zufanka opened #466 "Add button: find in occrp database"
We might want put this up in the "company" tab using Aleph API

[2018-11-27 20:15] zufanka opened #467 "Merging never ends"
Merging nodes never ends.
Refreshing the site when the merge is done on the backend needed.
Creating clusters through the API works

More info : https://github.com/tenders-exposed/elvis-backend-node/issues/97

[2018-12-02 14:01] zufanka opened #468 "Sidebar does not open again after it's closed"
I am trying to click everywhere .. it does not come back
There is no error message in the console

[2018-12-19 12:24] zufanka commented on #452
obsolete

[2018-12-19 12:24] #452 closed, assigned to victor-nitu, ca1yps0, georgiana-b

[2018-12-26 11:59] zufanka commented on #468
fixed

[2018-12-26 11:59] #468 closed, assigned to victor-nitu, ca1yps0

[2018-12-26 12:52] zufanka opened #469 "flags in tender details are wrong"
If I select multiple countries on the query builder, all of them appear in the country from which the tender comes. This is not accurate. It should take the value out of _tender_country_ in the API

![image](https://user-images.githubusercontent.com/2411066/50446476-61b92e80-0915-11e9-80bb-fe68605c3aa9.png)

UPDATE
We don't have a tender details anymore, but it's an issue in the government details

[2019-02-15 11:03] victor-nitu opened #471 "Test card"

[2019-02-15 11:04] #471 closed, assigned to nobody

[2019-03-09 12:00] georgiana-b commented on #447
This is very much done and pretty I think.
Well done @chutko and @ca1yps0!

If it's all merged in master please close this.

[2019-03-09 12:32] georgiana-b commented on #429
@calypso So to be more clear, to get the right value for `ALL AWARDED AMOUNTS` you have to sum up the `value` field in all the bids from `winning_bids` array.

[2019-03-09 12:39] georgiana-b commented on #325
Well of course it doesn't. The problem was actually that it didn't give any significant message like "User already exists". These days it does show the correct message and it will also look pretty after #406 so I'll close this.

[2019-03-09 12:39] #325 closed, assigned to victor-nitu, georgiana-b

[2019-03-09 12:41] georgiana-b commented on #307
This issue is ancient and it was solved somewhere along the line. This works now so Ii'll close this.

[2019-03-09 12:41] #307 closed, assigned to victor-nitu

[2019-03-09 12:52] georgiana-b commented on #449
Make what blue? :thinking:

[2019-03-09 13:05] georgiana-b commented on #467
Merging nodes does indeed take a long time but I just tested it and it works. Feel free to reopen if you still experience this.

[2019-03-09 13:05] #467 closed, assigned to victor-nitu

[2019-03-09 13:06] georgiana-b commented on #461
I just tested this on a new network and it works on now. @zufanka Maybe you found a specific case when it doesn't. Could you check that again?

[2019-03-09 13:14] georgiana-b commented on #446
These are all looking good now so I'll close this.

[2019-03-09 13:14] #446 closed, assigned to chutko

[2019-03-09 13:22] georgiana-b commented on #337
Is this related to #428 @zufanka ?

[2019-03-09 13:57] georgiana-b commented on #463
What exactly is blocking this @ca1yps0 ?

[2019-03-10 09:05] #404 closed, assigned to victor-nitu

[2019-03-10 09:05] #447 closed, assigned to ca1yps0

[2019-03-10 09:05] #437 closed, assigned to ca1yps0

[2019-03-10 09:06] #422 closed, assigned to victor-nitu, ca1yps0

[2019-03-10 09:06] #461 closed, assigned to ca1yps0

[2019-03-10 09:06] #430 closed, assigned to ca1yps0

[2019-03-10 09:15] victor-nitu commented on #258
Closing for now, as WONTFIX

[2019-03-10 09:15] #258 closed

[2019-03-10 09:15] victor-nitu commented on #236
Won't do it now, will reopen if necessary.

[2019-03-10 09:15] #236 closed

[2019-03-10 09:16] #192 closed

[2019-03-10 09:16] #27 closed

[2019-03-10 09:17] victor-nitu commented on #27
Won't fo it now.

[2019-03-10 09:17] #350 closed, assigned to victor-nitu

[2019-03-10 09:18] victor-nitu commented on #449
Closing as not enough info was provided in the past half an year.

[2019-03-10 09:18] #449 closed, assigned to ca1yps0

[2019-03-10 09:19] #444 closed, assigned to victor-nitu, zufanka, ca1yps0

[2019-03-10 09:20] victor-nitu commented on #451
I cannot imagine this, could you give an example, a drawing, anything? :)

Will close as not enough info for the past half an year, but feel free to reopen if it's still relevant!

[2019-03-10 09:20] #451 closed, assigned to zufanka, ca1yps0

[2019-03-10 09:21] victor-nitu commented on #349
Won't fix, can't fix actually under the dependencies tree we're using.

We'll talk about it more after we upgrade to 3.7+, if ever.

[2019-03-10 09:21] #349 closed, assigned to victor-nitu

[2019-03-10 09:21] victor-nitu commented on #428
I think this was fixed. @ca1yps0 can you confirm and close if that's the case?

[2019-03-10 09:22] victor-nitu commented on #337
@ca1yps0 was this fixed? Can you review and close / update the issue please?

[2019-03-10 09:23] victor-nitu commented on #426
I still like this. Any way we could easily share them easily without cluttering the UI?

[2019-03-10 09:24] victor-nitu commented on #90
Closing for now, will reopen when/if we will ever want it again.

[2019-03-10 09:24] #90 closed

[2019-03-10 09:24] victor-nitu commented on #89
Closing, won't fix now, will reopen if/when we decide it's a feature we will definitely implement.

[2019-03-10 09:24] #89 closed

[2019-03-10 09:28] victor-nitu commented on #463
Reopening as still valid.

[2019-03-10 12:06] victor-nitu commented on #168
@zufanka we just need a list of IDs to make this happen. You have the ball :)

[2019-03-10 12:24] victor-nitu commented on #441
- [ ] fix scenario (1) - do no display "loading" when nothing is typed in
- [ ] fix scenario (2b) - construct Lucene queries from keywords before sending to API
- [ ] investigate (3) - crashes when deleting letters

[2019-03-10 12:26] #71 closed

[2019-03-10 12:28] victor-nitu commented on #443
Not blocked anymore.

[2019-03-10 12:45] #405 closed, assigned to victor-nitu

[2019-03-10 12:46] victor-nitu opened #473 "Add GitHub login"
- [ ] Log in with GitHub button
- [ ] authenticator / calbacks updates

[2019-03-10 12:47] victor-nitu opened #474 "Redesign auth form"
- [ ] remove all auth routes
- [ ] make a routeless form, model: Pinterest

[2019-03-10 12:51] victor-nitu opened #475 "Redesign query builder"
We need to redesign the query builder as a wizard with steps / navigation.

In this process we will also clean up the QB code and related services.

- [ ] implement the q.b. as a wizard
- [ ] implement the templates
- [ ] clean up the code

---

Mock-ups:

![image](https://user-images.githubusercontent.com/1579997/54085179-9bf67180-4343-11e9-9c91-2f0105c04fd3.png)
![image](https://user-images.gith

[2019-03-10 12:56] victor-nitu opened #476 "Add a network settings drop down"
We need a drop down with controls in the network view.

Design is still WIP, but we can implement the drop-down-that-shows-a-template thingy in the meantime.

![image](https://user-images.githubusercontent.com/1579997/54085240-89306c80-4344-11e9-998f-62c1aa377b17.png)

[2019-03-10 13:00] victor-nitu opened #477 "Add loading feedback on ALL buttons"
When the user clicks a button that triggers an async operation, the action needs to return a promise in order to make the button display a "loading" feedback.

- [ ] make all buttons return promises
- [ ] make pending promises show loadings on buttons triggering them

[2019-03-10 13:02] victor-nitu opened #478 "Uniform loading screens across all views"
Comment from @chutko:

https://materializecss.com/preloader.html

This is to be implemented for all route loadings.

We also need some design for it.

[2019-03-10 13:05] victor-nitu opened #479 "Front page for Defense Elvis"
Defense Elvis will have a different frontpage for which we need:
- design
- text
- implementation

[2019-03-10 13:17] victor-nitu opened #480 "New tender details page for Defense Elvis"
We need a new tender details page for Defense Elvis.

- [ ] design
- [ ] templates
- [ ] Ember implementation

@chutko, please attach mockups here when you have them.

[2019-03-11 08:47] georgiana-b commented on #440
This has been fixed so I'm closing this.

[2019-03-11 08:47] #440 closed, assigned to zufanka, georgiana-b

[2019-03-11 08:54] georgiana-b opened #481 "Explain how to use the actor search"
As @zufanka mentioned in #441, if the user types multiple words in the actor autocomplete box they do not necessarily get the most relevant results:

![alt text](https://user-images.githubusercontent.com/2411066/43514102-b9bb1ecc-957f-11e8-899b-5ba234341c95.png)

That's because the string in analyzed by Lucene as a whole and not split into keywords. To improve results for Elvis we can start creati

[2019-03-11 09:38] georgiana-b opened #482 "Display help message when user starts typing in autocomplete"
Currently a loading bar is displayed as soon as the user starts typing in autocomplete:

![loading](https://user-images.githubusercontent.com/2411066/43513820-0af05c7c-957f-11e8-9c91-d28a8ec5b851.png)

That is quite confusing, especially since no search is being performed until they type at least 3 characters.
Instead we should display a helpful message like the one proposed by @zufanka in #441:

[2019-03-11 09:43] georgiana-b commented on #482
@calypso Looks like this was almost solved except it starts the search after 2 letters. Could you please change that to 3 so that it fits the message?

[2019-03-11 09:50] georgiana-b commented on #441
For 1. I created #482
2.a. was solved in #440
For 2.b I created #481
3 doesn't seem to be valid anymore.

Having these said I will close this.
@zufanka it's much easier to keep track of issues if they refer to a single well defined problem. For the future let's try to keep them as modular as possible.

[2019-03-11 09:50] #441 closed, assigned to ca1yps0, georgiana-b

[2019-03-11 09:52] georgiana-b opened #483 "Company selector is frozen"
Company selector in normal Elvis is frozen since the latest deploy 10.03.2018.
Could you please investigate this urgently?

[2019-03-12 12:33] georgiana-b commented on #475
@chutko @zufanka  I noticed you added a dropdown that says `Visualize all actors except` to the actor autocomplete template:

![](https://user-images.githubusercontent.com/1579997/54085181-9f89f880-4343-11e9-89a1-9e6cee003cfe.png)

Could you expand on that a little bit?
I can't imagine a scenario where journalists would want to exclude specific companies from the network. From what I understand th

[2019-03-12 14:40] chutko commented on #475
the select above Actor select has two options: Visualise all actors except OR Visualise only these actors.

my intention was to add more custom options to the query which would help the user to build more specific (=faster) network. but if there is no such likely case, im ok with leaving that select out.

[2019-03-13 07:44] zufanka commented on #475
I can also hardly imagine that.

This is actually and / or so ..

[2019-03-16 17:25] victor-nitu commented on #473
Blocked by #474

[2019-03-16 17:25] victor-nitu commented on #406
Blocked by #474

[2019-03-16 17:31] chutko commented on #476
@nightsh @ca1yps0 my idea about this redesign is that all those buttons on the network populate tether dropdown. would be cool to make it work something like this:
[code]

[2019-03-17 12:45] georgiana-b commented on #477
Also make sure that when the user users changes network filters the loading is being shown. The filtering takes a while and it makes for a confusing user experience that nothing happens for a few seconds after the user performed the filtering.

[2019-03-17 12:46] georgiana-b commented on #477
@chutko Could you share here your latest work on loading?

[2019-03-17 12:48] georgiana-b commented on #477
Guys, how does this issues relate to #478?

Don't we use the same loading for button actions as we do for changing routes?

[2019-03-17 12:54] georgiana-b opened #485 "Unify network buttons thumbnails"
Currently we have multiple network buttons that show a popup when pressed.
However these popups show up in different places and look differently.

To make things feel a bit more professional we should try to unify the way these buttons look and behave.

[2019-03-17 12:55] georgiana-b commented on #485
@chutko Could you please share your vision for this?

[2019-03-17 14:52] georgiana-b opened #486 "Manual data from Defense Elvis doesn't have CPVs"
The manually collected data which we will include in Defense Elvis does not have CPVs at all.

This means if we keep filtering by CPVs none of the manually collected data will be shown.

How do we work around this?

Are we eliminating the CPV selector from Defense Elvis?

Are we keeping the selector but adding an extra tick box to include the manual data?
I would personally prefer this option beca

[2019-03-17 14:54] georgiana-b commented on #486
@zufanka I assigned this to you because we need your opinion on the subject.

[2019-03-27 07:48] georgiana-b commented on #486
@zufanka @chutko Ping on this.

[2019-03-27 07:51] georgiana-b commented on #486
In georgiana-b/defense-elvis-backend#6 I also added the field `CPV.military` to the CPV payload to mark those that are military.
That gives us the option to only display the military CPVs in the CPV selector but keep in mind that the manual data and the tenders imported on account of being part of the directive will not pass the filter by military CPVs.

[2019-03-28 18:44] zufanka commented on #486
Sorry, I did not see this. It's a good question, I don't know how we should do this. I would actually prefer the collectors assigning a CPV to the tenders manually, as they know what they are about.

We can have that checkbox for sure, but we still need a way to categorize the manual data.

We can also opt for removing the CPV selector from the query builder, but I wonder whether we won't leave ou

[2019-05-02 16:01] victor-nitu opened #494 "Many query builder small issues"
Copied from [this PR](https://github.com/tenders-exposed/elvis-ember/pull/489#issuecomment-486433733).

There are still a couple of things to fix:

**BUGS**
- [x] if you don't select a CPV, the "Settings" step is empty. If the user doesn't chose any CPV, all of them will be selected. Could you please make this warning as such that it will be just yellow and say "If you don't chose any market, all

[2019-05-05 19:32] chutko commented on #494
i have fixed most of the issues and improved the styles. however, i was not able to test everything because neither any countries were displayed nor the actor select was working so i could not get forward

you can find it all in `fix/query-builder-styling`

[2019-05-15 12:15] zufanka opened #499 "Small styling issues on the network view"
* [ ] side bar floating away ![image](https://user-images.githubusercontent.com/2411066/57774715-89216400-771b-11e9-8b17-ebd7de2af068.png)
[example network](https://defense.tenders.exposed/network/ec0f8f08-232c-4e5e-b30d-23c7d29a7154/bidders/21221451-8520-46ba-ae68-61d77e77db95)

* [ ] the colors on the network do not fit the ones in the side bar

![image](https://user-images.githubusercontent.com

[2019-05-15 12:21] zufanka commented on #494
@chutko thank you! The countries are displaying now. I have added one minor thing in the styling.

[2019-06-06 18:30] zufanka opened #500 "network redraw after clustering fails"
![image](https://user-images.githubusercontent.com/2411066/59057057-d2d41900-8899-11e9-83e3-e9272f87d2ea.png)

[2019-06-24 20:56] zufanka commented on #483
new network builder fixes this

[2019-06-24 20:56] #483 closed, assigned to victor-nitu

[2019-07-31 18:49] zufanka opened #503 "Monitor ODB errors"
... and restart the fucker

[2019-08-09 10:53] zufanka commented on #474
I think this is done @nightsh

[2019-08-09 10:53] #474 closed, assigned to victor-nitu

[2019-08-09 10:53] zufanka commented on #473
I think this is also done @nightsh  :)

[2019-08-09 10:53] #473 closed, assigned to victor-nitu

[2019-08-09 10:54] zufanka commented on #500
@ca1yps0 fixed this I believe in https://elvis-ember-develop-pr-502.herokuapp.com/, would you make sure it's merged?

[2019-08-09 10:54] zufanka commented on #503
@nightsh something to do still?

[2019-08-09 10:55] zufanka commented on #499
@chutko could you have a look at this please?

[2019-08-09 10:58] zufanka commented on #486
Will be fixed, closing for now @georgiana-b

[2019-08-09 10:58] #486 closed, assigned to zufanka, chutko

[2019-08-09 11:01] zufanka commented on #480
waiting for input

[2019-08-09 11:07] zufanka commented on #481
@nightsh what is the status of this? It still does not work like that in the query builder. Is it easy to implement?

Perhaps we can just change the text above the field to (including the bold) : "**Select specific governments or companies** you want to focus on, if any. You can also choose none. If the name contains multiple words, **use the AND operator**, for example: Northrop AND Grumman"

![i

[2019-08-09 11:08] zufanka commented on #482
@ca1yps0 could you please implement this?

[2019-08-09 11:09] zufanka commented on #475
@nightsh I think this is done, open separate issues for concrete problems

[2019-08-09 11:09] #475 closed, assigned to ca1yps0

[2019-08-09 11:10] zufanka commented on #469
@nightsh @georgiana-b what is the status of this??

[2019-08-09 11:11] zufanka commented on #463
@nightsh still a problem?

[2019-08-09 11:11] zufanka commented on #462
@ca1yps0 ?

[2019-08-09 11:12] zufanka commented on #454
@ca1yps0 please add this

[2019-08-09 11:12] zufanka commented on #448
fixed in the new query builder

[2019-08-09 11:12] #448 closed, assigned to ca1yps0

[2019-08-09 11:13] zufanka commented on #445
@nightsh can we plan a session when you show me how I can pull, change things on the pages / add new pages etc and push again?

[2019-08-09 11:17] zufanka commented on #443
ah whatever

[2019-08-09 11:17] #443 closed, assigned to ca1yps0

[2019-08-09 11:17] zufanka commented on #434
I think all of these are fixed in the new query builder. Bye!

[2019-08-09 11:17] #434 closed, assigned to victor-nitu, zufanka, ca1yps0

[2019-08-09 11:18] zufanka commented on #432
@nightsh ping on this

[2019-08-09 11:18] zufanka commented on #476
@ca1yps0 do you have time to implement this?

[2019-08-09 11:19] zufanka commented on #429
@ca1yps0 is this implemented?

[2019-08-09 11:20] zufanka commented on #428
@ca1yps0 was this fixed?

[2019-08-09 11:21] zufanka commented on #425
@nightsh update on this?

[2019-08-09 11:21] #427 closed, assigned to victor-nitu

[2019-08-09 11:22] zufanka commented on #426
Great idea, but no time to implement this, giving it a FUTURE label

[2019-08-09 11:23] zufanka commented on #406
auth form has been redesigned. Is this sitll an issue @nightsh ?

[2019-08-09 11:24] zufanka commented on #399
new QB fixes this

[2019-08-09 11:24] #399 closed, assigned to georgiana-b

[2019-08-09 11:24] zufanka commented on #346
@nightsh @chutko this we still need to do! Do we have any cookies?

[2019-08-09 11:25] zufanka commented on #337
@ca1yps0 ?

[2019-08-09 11:25] zufanka commented on #319
@nightsh still a thing to do I believe. @ca1yps0

[2019-08-09 11:26] #271 closed

[2019-08-09 11:27] zufanka commented on #194
@nightsh ?

[2019-08-09 11:27] zufanka commented on #218
I don't understand this @chutko

[2020-03-15 11:38] victor-nitu opened #504 "[Defense Elvis] Make sure sidebar doesn't break if there are any missing values in the payload"
In the API payload used to populate the sidebar, we might miss a few values in the case of Defense Elvis manual data.

The task here is to make sure missing data:

- doesn't break the layout
- doesn't crash the Ember components
- doesn't throw any exceptions

If everything works fine, then we can mark this as done. Otherwise, we need to fix values handling within sidebar components.

[2020-03-15 11:51] victor-nitu opened #505 "[Defense Elvis] Replace Tender Details page with link to source"
Manual data is missing most of the values that we normally display in the Tender Details page.
Therefore we decided to remove the Tender Details page in Defense Elvis and instead link to the source of the tenders directly in the Contracts table:

![node-details-elvis](https://user-images.githubusercontent.com/8862002/77154033-36cb7500-6a9b-11ea-8d54-0441e4a67654.png)

TODO:

- [ ] remove the Tende

[2020-03-15 11:59] victor-nitu opened #506 "Mark approximated values"
For some of the manual data tenders, the amount and the year was deduced from the context by the people who gathered the manual data.
Therefore, 2 new fields were added in the API response on [`/networks/{networkID}/tenders/{tenderID}`(https://api.defense.tenders.exposed/docs/#/network_tender/getNetworkTender) to mark these approximated tenders:

- tender. xYearApproximated
- tender. xAmountApprox

[2020-03-15 12:06] victor-nitu commented on #480
Deprecated by #505

[2020-03-15 12:06] #480 closed, assigned to chutko

[2020-03-20 09:41] georgiana-b commented on #504
In node details response manual data is missing the following fields:

- For Bid:  `TEDCANID`, `isSubcontracted`
- For Lot:  `description`, `awardDecisionDate`, `selectionMethod`,  `estimatedValue`
- For Tender:  `TEDCNID`, `description`, `isEUFunded`, `isCoveredByGpa`,      `isFrameworkAgreement`, `procedureType`, `isDirective`
- For Bidder/Buyer:  `country`

[2020-03-20 09:53] georgiana-b commented on #504
Just beaware that we are going to remove the `Tender Details` page as part of https://github.com/tenders-exposed/elvis-ember/issues/505 so there is need to spend effort on the Tender Details template.

[2020-03-29 12:43] zufanka commented on #500
This is still very much an issue!! @nightsh , could we merge it please?

[2020-03-29 12:45] zufanka commented on #503
@nightsh what is the status of this?

[2020-03-29 12:48] zufanka commented on #485
@georgiana-b this issue si not clear to me could you please clarify or close?

[2020-03-29 12:51] zufanka commented on #482
@georgiana-b I guess we can close this issue

[2020-03-29 12:51] #482 closed, assigned to ca1yps0

[2020-03-29 12:56] zufanka commented on #481
will change the text to reflect this to explain how to search

[2020-03-29 13:15] zufanka commented on #466
I think we could implement a button "search in data.occrp.org" opening this in a new tab "https://aleph.occrp.org/search?q={companyname}" (or just "https://aleph.occrp.org")

[2020-03-29 13:17] zufanka opened #507 "Visualize all markets checkbox"
Please implement Visualize all markets checkbox on the CPV selector, being checked in by default (as are all the CPVs in the selector)

[2020-03-29 13:19] zufanka commented on #478
@nightsh could you please update this?

[2020-03-29 13:20] zufanka commented on #476
yay of nay? Discuss! @chutko @nightsh @ca1yps0 @georgiana-b

[2020-03-29 13:22] zufanka commented on #469
@nightsh @ca1yps0 fix pls?

[2020-03-29 13:24] zufanka commented on #477
@nightsh pls update

[2020-03-29 13:26] zufanka commented on #463
@nightsh does this relate to this? https://github.com/tenders-exposed/elvis-ember/issues/500

[2020-03-29 13:27] zufanka commented on #463
@nightsh lallalala

[2020-03-29 13:27] zufanka commented on #462
we are ditching tender details, closing

[2020-03-29 13:27] #462 closed, assigned to ca1yps0

[2020-03-29 13:31] zufanka opened #508 "Network loading screen IMMEDIATELY after clicking the "Launch network" button"
If the network is bigger, this still takes time.
This view should come in view IMMEDIATELY

![image](https://user-images.githubusercontent.com/2411066/77850349-37b68200-71d2-11ea-991d-1f166c79e53d.png)

[2020-03-29 13:31] zufanka commented on #454
Still an issue @ca1yps0

[2020-03-29 13:33] zufanka commented on #432
@nightsh pls update

[2020-03-29 13:37] zufanka opened #509 "Warning pop displays out of bounds"
![image](https://user-images.githubusercontent.com/2411066/77850487-215cf600-71d3-11ea-89b5-62a5d399db1f.png)

[2020-03-29 13:39] georgiana-b commented on #469
So we just need to display:
- for bidder the country that you get in the `bidder.country` object:
![image](https://user-images.githubusercontent.com/8862002/77850497-346fc600-71d3-11ea-8975-ff10e7253b0b.png)
- for buyer the country of the tender (the value of `tender.country` object)

[2020-03-29 13:46] #428 closed, assigned to ca1yps0, georgiana-b

[2020-03-29 13:46] zufanka commented on #425
@nightsh update pls!

[2020-03-29 13:46] zufanka commented on #406
@nightsh update pls!

[2020-03-29 13:47] zufanka commented on #353
@nightsh is this the real world or is tihi FUTURE ??

[2020-03-29 13:48] zufanka commented on #346
@nightsh ping on this, pls let's not forget to implement this

[2020-03-29 13:48] #337 closed, assigned to georgiana-b

[2020-03-29 13:49] zufanka commented on #319
do we still want this? @georgiana-b @chutko @nightsh @ca1yps0

[2020-03-29 13:50] zufanka commented on #218
I still don't understand this issue

[2020-03-29 13:50] zufanka commented on #194
@nightsh update pls

[2020-03-29 14:33] georgiana-b commented on #469
Sorry guys, you shouldn't be digging for the country all the way into the bidder/buyer objects.

I'm going to add a new `country` attribute to nodes and `countries` to clusters where I will send the country of the original bidder or bidders in the case of a cluster.

[2020-03-29 14:51] georgiana-b commented on #469
Opened https://github.com/georgiana-b/defense-elvis-backend/issues/14 about it. I'll keep you posted

[2020-03-29 15:04] georgiana-b commented on #319
I still think it's an easy thing that would add a lot of value

[2020-03-29 20:11] zufanka opened #511 "Wrong refresh token."
This appears sometimes if you keep the page loaded for a while .. no idea what it is

![image](https://user-images.githubusercontent.com/2411066/77859496-1d989600-720a-11ea-96c5-3f54f420e78c.png)

[2020-03-30 16:27] victor-nitu commented on #500
Likely fixed by #502 - testing needed.

[2020-03-30 16:32] zufanka commented on #477
it might be complicated, not worth if it would break different things.

[2020-03-30 16:33] victor-nitu commented on #476
This makes sense for larger networks - not for Defense Elvis.

[2020-03-30 16:34] zufanka commented on #476
we don't have infra to generate too large networks either. closing

[2020-03-30 16:34] #476 closed, assigned to victor-nitu, ca1yps0, chutko

[2020-03-30 16:45] zufanka commented on #454
![image](https://user-images.githubusercontent.com/2411066/77938888-ab31bf80-72b6-11ea-8cb1-fb5a1ae8c387.png)

the button is there but it does not work

[2020-03-30 16:47] zufanka opened #512 "Clustered nodes details page does not work"
![image](https://user-images.githubusercontent.com/2411066/77938960-c6043400-72b6-11ea-83e0-982174035b05.png)

example: https://defense.tenders.exposed/network/54404f72-96d9-4304-98fd-544647bd5f6b/bidders

[2020-03-30 16:47] victor-nitu commented on #463
Request is pointing the right way now, closing this one...

[2020-03-30 16:47] #463 closed, assigned to victor-nitu, ca1yps0

[2020-03-30 16:51] victor-nitu opened #513 "Changing a public network's name logs out the user with no error"
Given a network creatd by an anonymous user, trying to change its name after logging it results in a 401 response from the server and a brutal log out.

User experience is wrong, we need to inform the user that the request is not allowed and not navigate away / crash the session.

[2020-03-30 16:53] zufanka opened #514 "Opening saved networks does not work properly"
Opening networks from https://defense.tenders.exposed/network/list does not open the networks.
It has multiple issues, they differ (see below). The weirdest part is that if I open them in a window where I am not logged in it works.

- network stuck on carousel
![image](https://user-images.githubusercontent.com/2411066/77939407-6a867600-72b7-11ea-9989-20a9e359ff0e.png)
this one: https://defense.ten

[2020-03-30 16:53] #432 closed, assigned to victor-nitu

[2020-03-30 16:55] victor-nitu commented on #425
@ca1yps0 - is there any request that might throw confusing errors instead of displaying the errors from the server? If not, please close this.

[2020-03-30 16:57] victor-nitu commented on #406
Closing this, no auth errors detected except one that we have created a dedicated issue for: #513

[2020-03-30 16:57] #406 closed, assigned to victor-nitu

[2020-03-30 16:59] victor-nitu commented on #346
Update, we still need this, let's not forget :)

[2020-03-30 17:03] zufanka opened #515 "Enhance performance on network drawing"
Sometimes even small networks take 30 s to load. We need to find a sweet spot for this.

[2020-03-30 17:08] zufanka commented on #508
fixed by an older commit

[2020-03-30 17:08] #508 closed, assigned to ca1yps0

[2020-03-30 17:09] victor-nitu commented on #514
Network request is fine, so is the response - the drawing fails but I don't thin kit even reaches that point, according to my Network tab in the browser inspector.

Steps to reproduce:

* log in
* create a network
* start a private browsing session
* log in
* go to my networks page
* click on a saved network

Reloading the page while at the loading screen makes it render just fine.

[2020-03-30 17:10] zufanka opened #516 "Unable to scroll on the saved network lists"
Can not scroll on https://defense.tenders.exposed/network/list

no scroll bar!!

[2020-03-30 17:13] zufanka commented on #516
set `overflow: auto` on `div class=container`

[2020-03-30 17:25] victor-nitu opened #517 "Network creation query without CPVs results in a network without edges and nodes"
Example network: https://defense.tenders.exposed/network/395ec875-ec97-41f3-afe2-083d5dccb1c9

Steps to reproduce:

* go to query builder
* select at least a country
* select no actor
* select no CPV, click on the "proceed anyway" warning
* at the final step, submit the request
* loading carousel appears, but the nework that comes back from the backend is invalid, hence nothing is rendered

[2020-03-30 17:32] zufanka commented on #454
![image](https://user-images.githubusercontent.com/2411066/77943255-3746e580-72bd-11ea-952c-9040ac5540dc.png)

also not on there while loading

[2020-03-30 17:33] zufanka commented on #515
https://defense.tenders.exposed/network/e7717ad9-d022-42f8-9688-438b75cd1f1c/bidders/38cd8a0f-90f7-4adc-8e8d-70a6d3025f3b -- network of all the manual data (about 600 nodes), load time about 4 minutes

[2020-03-30 17:47] zufanka commented on #506
done!

[2020-03-30 17:47] #506 closed, assigned to ca1yps0

[2020-03-30 17:48] zufanka commented on #505
done!

[2020-03-30 17:48] #505 closed, assigned to ca1yps0

[2020-04-03 09:07] georgiana-b commented on #517
Hey @nightsh! Thanks for pointing out.

This is not a bug in Elvis actually.  The original data just happens to lack the name of the bidders sometimes.
https://drive.google.com/file/d/1TNYwKIbPUwHowEwv_DFOVXfCiRnOmC_C/view?usp=sharing

It's one of those cases where it would really help to see the network query 😄Then it would become pretty clear that it has anything to do with the CPVs at all. This

[2020-04-05 11:10] zufanka commented on #507
@ca1yps0 can you please make the checkbox being checked by default?

[2020-04-05 11:16] zufanka commented on #499
We have new colors for the network >> https://codepen.io/chutkomadada/pen/gOpqOwW

[2020-04-07 14:58] zufanka commented on #517
That issue  was about them not appearing at all. The issue was closed because they now do appear as a node with no name.

[2020-04-07 15:03] georgiana-b commented on #517
How do they appear though?

[2020-04-07 15:04] georgiana-b commented on #517
I don't understand how we decided to display the tenders who are missing the bidders

[2020-04-07 19:01] zufanka commented on #517
I am confused: #428 was about "bidders missing a name", not tenders that are missing bidders?

[2020-04-08 13:42] zufanka commented on #500
fixed as far as I could see.

[2020-04-08 13:42] #500 closed, assigned to victor-nitu, ca1yps0

[2020-04-08 13:45] zufanka commented on #514
after I have manually ctrl+R on one of the networks that were stuck this way, it all of a sudden does work on the rest as well. I don't understand this at all :)

[2020-04-08 13:51] zufanka commented on #168
waiting for the database to be complete

[2020-04-09 12:54] zufanka commented on #507
fixed

[2020-04-09 12:54] #507 closed, assigned to ca1yps0

[2020-04-13 17:58] zufanka commented on #509
It's still a little bit out of bounds
![image](https://user-images.githubusercontent.com/2411066/79145575-2c15ae80-7dc1-11ea-9436-7886f7e5e2be.png)

[2020-04-14 09:34] zufanka commented on #514
Could this have to do with the 'refresh token' or something?

[2020-04-14 11:19] zufanka opened #518 "Side bar floating away"
The original look:

![image](https://user-images.githubusercontent.com/2411066/79219978-7e071480-7e53-11ea-9c29-1802807d10e9.png)

The original problem:

![image](https://user-images.githubusercontent.com/2411066/79219245-30d67300-7e52-11ea-9bf1-eb9d8ecfd79a.png)

Ioana tried to fix this, and she did, but it does not work on my resolution (it does in hers)

![image](https://user-images.githubuserc

[2020-04-14 11:20] zufanka opened #519 "Change the colors of the network and website"
We have new colors for the network >> https://codepen.io/chutkomadada/pen/gOpqOwW

[2020-04-14 11:20] zufanka commented on #499
Split into two issues : https://github.com/tenders-exposed/elvis-ember/issues/518 and https://github.com/tenders-exposed/elvis-ember/issues/519

[2020-04-14 11:20] #499 closed, assigned to ca1yps0

[2020-04-14 11:28] zufanka commented on #509
![image](https://user-images.githubusercontent.com/2411066/79220149-c9b9be00-7e53-11ea-805f-66e2ba3455a8.png)
fixed!

[2020-04-14 11:28] #509 closed, assigned to ca1yps0

[2020-04-14 11:32] zufanka commented on #494
most of this is fixed, will open a new issue for the rest

[2020-04-14 11:32] #494 closed, assigned to chutko

[2020-04-15 14:53] zufanka opened #520 "Handle unknown average competition"
![image](https://user-images.githubusercontent.com/2411066/79351900-833e8f00-7f39-11ea-8fb1-6b9699ba81ce.png)

It should say "?" or "unknown"

[2020-04-15 15:01] zufanka commented on #512
fixed <3

[2020-04-15 15:06] zufanka commented on #429
I think this is fixed, closing

[2020-04-15 15:06] #429 closed, assigned to ca1yps0

[2020-04-15 15:12] zufanka commented on #512
it works from the sidebar, but not from the popup!

see here:  https://defense.tenders.exposed/network/d1e061d4-3845-40c0-b067-eb65fc089b80/bidders

![image](https://user-images.githubusercontent.com/2411066/79354111-458f3580-7f3c-11ea-95e8-a18b5646afbd.png)

[2020-04-15 15:19] zufanka opened #521 "Edges and node not connected after merging"
![image](https://user-images.githubusercontent.com/2411066/79354329-92730c00-7f3c-11ea-9988-c2f731928418.png)

![image](https://user-images.githubusercontent.com/2411066/79354440-b33b6180-7f3c-11ea-8b36-d01fa09a6e52.png)

![image](https://user-images.githubusercontent.com/2411066/79354816-2e9d1300-7f3d-11ea-91ba-66a1092ba181.png)

See the "(BAAINBw" merged node and NATO node
https://defense.tender

[2020-04-15 15:22] zufanka opened #522 "Improveme the reaction time of the carousel"
Going through the carousel while the network is loading is nearly impossible - the buttons are not reacting.

[ ] improve the reaction time of the carousel

Optional - to discuss:
[ ] randomize the first slide on every load
[ ] make it slide automagically after a few seconds until the user clicks 'previous' or 'next'

edit:
might not be feasible to improve the speed. Options:
- randomize the first

[2020-04-15 15:28] zufanka opened #523 "Naming network while creating it does not work"
If I name the network while I create it, it does not take the name
It will instead name it whatever random Elvis song

![image](https://user-images.githubusercontent.com/2411066/79355729-5b055f00-7f3e-11ea-814c-814d408e8d2a.png)

[2020-04-15 15:32] zufanka opened #524 "Unknown names in the sidebar"
There is a nameless entity in the sidebar
![image](https://user-images.githubusercontent.com/2411066/79356043-c18a7d00-7f3e-11ea-8ee2-a0e456855b95.png)

@georgiana-b does the manual data have unnamed entities? What does it mean? Secret?

Shall we name it something? "Not published" or "uknown" ?
Now it's namely not click-able from most of the places in the view
@georgiana-b suggested we make these

[2020-04-15 15:41] zufanka commented on #516
We can scroll now but the footer is huge.  @chutko could you have a look please?

![image](https://user-images.githubusercontent.com/2411066/79357393-40cc8080-7f40-11ea-96c0-4457f94e81b3.png)

[2020-04-15 15:44] zufanka opened #525 "Merge according to the country"
I would like to see which companies supply Eastern European countries.

Therefore I would like to merge these govt organisations according to the country. I have however no idea which organisation belongs to which country from this view.

![image](https://user-images.githubusercontent.com/2411066/79357622-96089200-7f40-11ea-91e8-5fd69e574405.png)

Options:
* Display flags next to the govnt organiz

[2020-04-15 16:32] zufanka commented on #525
@nightsh  - suggests we make the window bigger

[2020-04-15 20:22] zufanka opened #526 "Registering twice with the same email gives error, but sends and activation email"
![image](https://user-images.githubusercontent.com/2411066/79385272-96b51e80-7f68-11ea-842e-88de7c8e9e17.png)

[2020-04-15 20:28] zufanka opened #527 "The links in the details dont' work"
Maybe just adding "target=_blank" to the links would fix it? I would like them to open in a new tab anyway

![image](https://user-images.githubusercontent.com/2411066/79385014-31612d80-7f68-11ea-864f-4edb694bb71d.png)

[2020-04-15 20:46] zufanka opened #528 "Merged nodes sometimes appear as twins"
![image](https://user-images.githubusercontent.com/2411066/79386652-c06f4500-7f6a-11ea-9e30-7993671f67e2.png)

![image](https://user-images.githubusercontent.com/2411066/79387772-87d06b00-7f6c-11ea-83de-bcfb534f7589.png)

![image](https://user-images.githubusercontent.com/2411066/79386723-d41aab80-7f6a-11ea-92db-9698d8802143.png)

It seems that only the government nodes do? 🤔

https://defense.tend

[2020-04-16 11:28] zufanka commented on #528
cant reproduce

[2020-04-16 11:30] zufanka commented on #528
can't reproduce on small networks, perhaps something to do with the size?

[2020-04-19 16:03] chutko commented on #519
/create-issue-branch

[2020-04-19 20:51] chutko commented on #519
fixed https://github.com/tenders-exposed/elvis-ember/pull/529

[2020-04-19 20:52] chutko commented on #518
fixed https://github.com/tenders-exposed/elvis-ember/pull/529

[2020-04-20 08:53] zufanka commented on #519
![image](https://user-images.githubusercontent.com/2411066/79733276-23f3cc80-82f5-11ea-9cf7-631df8b2cb15.png)

checkbox color is still the old green

[2020-04-21 11:15] zufanka opened #530 "Font size in the pop up is too small"
![image](https://user-images.githubusercontent.com/2411066/79859899-0e080980-83d2-11ea-9eb8-0e5cfc493d3f.png)

We got this feedback from the client. Can we up it a notch?

[2020-04-21 11:16] zufanka commented on #521
I got another one here >> https://elvis-ember-develop-pr-529.herokuapp.com/network/aace7090-255b-4796-ae3c-f59edab270e6/relationships/f3de01b5-18df-4014-86f9-3eb29023dcd2

[2020-04-22 15:07] #523 closed, assigned to ca1yps0

[2020-04-22 15:07] #518 closed, assigned to chutko

[2020-04-22 15:07] #516 closed, assigned to chutko

[2020-04-22 15:08] zufanka commented on #454
there is still no button to close while loading
![image](https://user-images.githubusercontent.com/2411066/79999129-d70e2280-84bb-11ea-9e04-3b025b30dc61.png)

[2020-04-22 15:08] zufanka commented on #520
Still does not seem to be fixed
![image](https://user-images.githubusercontent.com/2411066/79999197-ee4d1000-84bb-11ea-94e8-75ad4d139770.png)

?

[2020-04-22 15:09] zufanka commented on #524
@georgiana-b  ?

[2020-04-22 15:10] #527 closed, assigned to ca1yps0

[2020-04-22 15:12] zufanka commented on #519
The checkbox is still green! @chutko  :)

[2020-04-22 15:16] zufanka commented on #522
first slide is randomized now

[2020-04-22 15:16] #522 closed, assigned to ca1yps0, chutko

[2020-04-22 15:35] zufanka commented on #521
and another > https://defense.tenders.exposed/network/93cd56be-e28c-4058-96cb-8910b009d4e8/buyers (this is just germany)

[2020-04-22 15:53] zufanka opened #531 "Remove the X button on merged nodes"
![image](https://user-images.githubusercontent.com/2411066/80004000-150e4500-84c2-11ea-9f1f-273228cf12b3.png)

there is no need for it, just the trashcan is

[2020-04-22 16:04] zufanka opened #532 "My projects page: sort the list from newest (up) to oldest(down)"
Now it goes from oldest to newest and new networks appear randomly in the list

![image](https://user-images.githubusercontent.com/2411066/80005356-bf3a9c80-84c3-11ea-8e1b-25bbe60daf8b.png)

[2020-04-27 07:46] georgiana-b commented on #517
@zufanka This are the same thing in the data: a tender record with an empty cell in the bidder name. Of course there must've been a bidder if the tender was awarded but we don't know it.

I suggest we close this issue in favour of https://github.com/tenders-exposed/elvis-ember/issues/524

[2020-04-27 07:49] georgiana-b commented on #524
As I mentioned in https://github.com/tenders-exposed/elvis-ember/issues/517#issuecomment-608323142, sometimes the bidder is unknown, both in the manual data and in the TED data. We need to decide on a way to display these since the name is going to be missing both in the network label and in the sidebar.

[2020-04-30 17:30] zufanka commented on #524
ok I see. I would then opt for just naming them 'unknown' ... better ideas anyone? @chutko @georgiana-b @nightsh @ca1yps0 ?

[2020-04-30 17:33] zufanka commented on #517
@georgiana-b I think this something else. If you create a network but select no CPV codes at all, it does not select all CPV codes, instead it selects nothing at all. See https://defense.tenders.exposed/network/d0649fbb-f298-4d26-83ac-5abc592a6978/ for example

[2020-05-13 14:11] #531 closed, assigned to ca1yps0

[2020-05-13 14:13] ca1yps0 commented on #520
it now says 'value unknown'

[2020-05-13 14:18] #512 closed, assigned to ca1yps0

[2020-05-13 18:06] #520 closed, assigned to ca1yps0

[2020-05-22 09:58] georgiana-b commented on #469
This issue has been fixed in https://github.com/georgiana-b/defense-elvis-backend/issues/14.

You will now find a new attribute `countries` in node details and cluster details that is an array of country codes of the bidder/buyer in question.

![image](https://user-images.githubusercontent.com/8862002/82656075-69245a80-9c23-11ea-92c9-dd575a9f0885.png)

❗ In the case of manual data, this array will

[2020-05-22 10:51] georgiana-b opened #533 "Update network button"
As part of https://github.com/georgiana-b/defense-elvis-backend/pull/19 we already added the functionality to update a network.

However, as discussed with the clients, we don't want to set off the update automatically because we want to give the user the opportunity to take a photo of the existing network before regenerating it, just in case they want to do a comparison later.

Therefore, we need

[2020-05-22 10:52] georgiana-b commented on #533
For the networks that are anonymous I suggest we apply a similar technique. When someone tried to `GET /network/{id}` on the anonymous network we show them the message as hope that they will push the button.
If they don't that's also fine, the network will remain outdated until somebody does.

Alternatively we could set off the update automatically for the anonymous networks from the frontend and

[2020-05-22 12:52] zufanka commented on #533
Hi @georgiana-b !

I would probably keep the same work flow on all the networks, anonymous and not anonymous.

And I would also actually go for UPDATE instead of REGENERATE, it's a more relatable word in the context.

Would it make sense to have @chutko create a design and template for this first?

[2020-06-05 09:29] georgiana-b commented on #514
This does actually work but only the second time.
So if you go to https://defense.tenders.exposed/network/list, the first time you try to open one of the networks it doesn't work but every subsequent time it does. I assume it might have to do with some promise fulfilment on the frontend.

To reproduce:
- create a new network while logged in
- go to the projects page, try to open it
   - it should

[2020-06-05 10:31] zufanka opened #534 "Details page on Tenders does not work for clustered nodes"
If you try to open the Tenders (relationships) detail page of a clustered node it should look like this

![image](https://user-images.githubusercontent.com/2411066/83866474-2769d880-a728-11ea-8669-fdb602acfbd5.png)

but it gives an error.

[2020-06-05 10:35] zufanka opened #535 "When selecting actors the dropdown is covering the next buttons"
![image](https://user-images.githubusercontent.com/2411066/83866890-ca225700-a728-11ea-8693-854235f659b4.png)

[2020-06-05 10:44] zufanka opened #536 "Add Red flags in the detail view"
In this view:

![image](https://user-images.githubusercontent.com/2411066/84565254-3116c000-ad68-11ea-9fd5-03815ad411c6.png)

Add:

[ ] single bid - highlight the number 1

ADD:
[ ] non-open procedure
[ ] no call for tender published
[ ] tax haven

Step 1 OK :  @georgiana-b  will check if they are in the payload. IF they are:
Step 2 : We'd want to integrate them into the table view. @chutko
Step 3

[2020-06-06 12:00] zufanka opened #537 "Switch the default setting to "amount of money""
![image](https://user-images.githubusercontent.com/2411066/83943647-168b9680-a7fe-11ea-991e-5eecf0f90cb6.png)

[2020-06-23 18:36] victor-nitu commented on #319
Can we put the network name instead? Encoding the entire query in the URL might be a bit too much for some networks

[2020-06-23 18:56] victor-nitu commented on #534
Getting this in the backend when running the query via the Swagger WUI:

[code]

Reproduce:

`curl -X GET "https://api.defense.tenders.exposed/networks/0e6322b1-0fca-4e02-9c7f-7c732072e2a5/tenders/e4b2c015-e29a-4a24-bfd0-754e1e4fb459" -H "accept: application/json"`

![image](https://user-images.githubusercontent.com/1579997/85445933-9060a580-b59c-11ea-9048-b924854e74e0.png)

[2020-06-24 08:43] zufanka commented on #319
I'm good with that. However we'd need to control for the fact that sometimes networks can have the same name.

[2020-06-24 08:48] victor-nitu commented on #319
It will be a non essential part of the URL. We keep the id in, just add some human readable string to it

[2020-06-24 19:26] zufanka commented on #319
ah I see. What will happen to the URL when the user changes the name of the network?

[2020-07-08 09:32] #537 closed, assigned to ca1yps0

[2020-07-08 09:33] #535 closed, assigned to ca1yps0

[2020-07-08 09:33] zufanka commented on #535
fixed

[2020-07-10 14:15] #469 closed, assigned to ca1yps0

[2020-07-11 14:17] chutko commented on #536
![Network_COMPUTED_PROPERTY_Elvis](https://user-images.githubusercontent.com/4135015/87226065-a094c500-c391-11ea-88f6-1de99a1a7886.png)

@ca1yps0 i have already implemented this design into branch `add-red-flags-in-the-detail-view` and have created merge request for it. you can find necessary HTML in `elvis-ember/app/templates/components/contracts-relationship.hbs` starting on line 21 (you will al

[2020-07-14 09:11] georgiana-b commented on #533
It would help but I think we can get away with a simple message at the top of the page above the network.

[2020-07-19 08:14] georgiana-b opened #539 "Retrieve `winningBids` from separate endpoint"
The list of `winningBids` was removed from the node, edge and cluster details payload (`/networks/{networkID}/nodes/{nodeID}`, `/networks/{networkID}/edges/{edgeID}/` ) because it was slowing things down significantly for nodes with many tenders.

Instead I created 3 new endpoints where the bids can be retrieved in a paginated way to avoid long and heavy requests:

- `/networks/{networkID}/nodes/{

[2020-07-19 09:10] georgiana-b commented on #536
@ca1yps0 The format of the red flags has been changed in the data so we had to change it too. We no longer have flags attached to the `actors`. They are all attached to each individual `tender`.  So you will find the indicators (flags) in the new node `/networks/{networkID}/nodes/{nodeID}/bids` endpoint, among the other tender details.

For example, for this network node bids

[code]

 I'm getting

[2020-08-10 08:05] georgiana-b commented on #539
@ca1yps0 I added some more details to the bid results, as we discussed.

So the paginated results on `/node/{nodeID}/bids`,  `edge/{edgeId}/bids`  `/cluster/{clusterID}/bids`  now look like this:

[code]

Let me know if anything.

[2020-08-25 18:39] zufanka opened #540 "Merged nodes details are not showing"
if you click on this, nothing will happen
![image](https://user-images.githubusercontent.com/2411066/91214084-e247b800-e712-11ea-8745-873ce574971c.png)

console:
![image](https://user-images.githubusercontent.com/2411066/91214158-fb506900-e712-11ea-9a62-57dc145c472e.png)

[2020-08-26 11:25] zufanka commented on #536
Mapping:

INTEGRITY_CALL_FOR_TENDER_PUBLICATION : No call for tender published
INTEGRITY_TAX_HAVEN : Company from a tax haven
INTEGRITY_PROCEDURE_TYPE : Non-open tender procedure

If the number of bids is 1, let's underline the number with red

[2020-08-26 12:21] georgiana-b commented on #539
We also decided to allow the user to set the limit for how many things to load on the page themselves, from a dropdown with 3 options: 5, 10 and 50.

The bids will come directly ordered by the amount from the backend.

[2020-08-27 10:14] georgiana-b commented on #536
@ca1yps0 Let's also show the thumbnail with the flags when the user clicks on the flag icon itself.
I don't think we're gonna attach any more explanations in there since the new names are already quite explanatory by themselves.

[2020-08-30 11:21] zufanka commented on #540
fixed from the backend

[2020-08-30 11:21] #540 closed, assigned to ca1yps0

[2020-08-30 12:00] zufanka opened #541 "Change the CPV selector default state (again)"
1) the "Select all" box is deselected by default

2) New text:

[code]
where NNN is the amount of bids

![image](https://user-images.githubusercontent.com/2411066/91658480-c8b6bf80-eac8-11ea-83e1-726fb5413047.png)

3) don't send an empty cpv array in the request, send nothing

[2020-08-30 12:04] zufanka opened #542 "tootlips for fruit and flags"
Fruit:
Clicky tooltip:
[code]

Flag:
Clicky tooltip:
[code]

Read more link: /helloimelvis

[2020-10-12 07:28] zufanka opened #547 "Years in the details view don't match the actual data in the table"
![image](https://user-images.githubusercontent.com/2411066/95717458-45fb5580-0c6d-11eb-82c5-c3004327cd29.png)

[2020-10-12 07:35] zufanka opened #548 ""Bids awarded" counter in the detail window is not right here"
![image](https://user-images.githubusercontent.com/2411066/95718054-32042380-0c6e-11eb-901a-091f7b6f6a8b.png)

https://defence.tenders.exposed/network/203a7f71-a6b3-4086-8f5d-1ffe7698a707/relationships/6613f3a3-18b8-4da2-a9bc-496b116dfc9a

[2021-02-18 10:00] zufanka opened #549 "Tooltips are not wrapped right"
![image](https://user-images.githubusercontent.com/2411066/108340118-8436f180-71d8-11eb-8f10-c86d851ca18e.png)